Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-verify-hashes, pull-kops-verify-terraform, pull-kops-verify-cloudformation

pull-kops-verify-hashes:
  labels:
    preset-service-account: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-hashes

pull-kops-verify-terraform:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-terraform
      securityContext:
  ...

pull-kops-verify-cloudformation:
  labels:
    preset-service-account: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-experimental
      command:
      - runner.sh
      args:
      - make
      - verify-cloudformation
      securityContext:
  ...

Update topology.md
  docs/topology.md
Due: none

Clearer error messages around instance types not found
  pkg/apis/kops/validation/aws.go
  upup/pkg/fi/cloudup/awsup/aws_cloud.go
  upup/pkg/fi/cloudup/awsup/mock_aws_cloud.go
  upup/pkg/fi/cloudup/new_cluster.go
Due: none

option to add extra volume tags with ebs csi driver
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
  upup/models/cloudup/resources/addons/coredns.addons.k8s.io/k8s-1.12.yaml.template
  upup/pkg/fi/cloudup/template_functions.go
Due: none

Update Go to v1.19.3
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Due: none

Update containerd to v1.6.10
  pkg/model/components/containerd.go
  upup/pkg/fi/cloudup/containerd.go
Due: pull-kops-verify-hashes

Add hash for containerd to v1.5.14
  upup/pkg/fi/cloudup/containerd.go
Due: pull-kops-verify-hashes

Update Calico to v3.24.5 for k8s 1.25+
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Due: none

Update Canal to v3.23.5 for k8s 1.22+
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.22.yaml.template
Due: none

Update Canal to v3.24.5 for k8s 1.25+
  upup/models/cloudup/resources/addons/networking.projectcalico.org.canal/k8s-1.25.yaml.template
Due: none

Update Calico to v3.23.5 for k8s 1.22+
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.22.yaml.template
Due: none

Run hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecanal/data/aws_s3_object_privatecanal.example.com-addons-networking.projectcalico.org.canal-k8s-1.25_content
Due: pull-kops-verify-terraform, pull-kops-verify-cloudformation

Path conditions:
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
  pull-kops-verify-cloudformation: any of: ^tests\/integration\/update_cluster\/
