Repository kubernetes-sigs/windows-testing: changes, and which Prow jobs are due for each by the changed paths.
All: pull-e2e-capz-containerd-windows-2022-extension, pull-e2e-capz-containerd-windows-2022-extension-gmsa

pull-e2e-capz-containerd-windows-2022-extension:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-windows-private-registry-cred: 'true'
    preset-capz-windows-common-main: 'true'
    preset-capz-containerd-latest: 'true'
  spec:
    containers:
  ...

pull-e2e-capz-containerd-windows-2022-extension-gmsa:
  decorate: true
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-windows-private-registry-cred: 'true'
    preset-capz-windows-common-main: 'true'
    preset-capz-containerd-latest: 'true'
  spec:
    containers:
  ...

Update readme
  capz/readme.md
Due: pull-e2e-capz-containerd-windows-2022-extension

Updating to reflect the error message from clusterctl
  capz/readme.md
Due: pull-e2e-capz-containerd-windows-2022-extension

Fixes typo and punctuation mistakes of aks-engine-version-notes.md
  aks-engine-version-notes.md
Due: none

az capi readme and minor updates
  capz/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Update capz/run-capz-e2e.sh
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

skip cmd/kubeadm/test for windows ut
  scripts/k8s_unit_windows.ps1
Due: none

run cmd/kubeadm/test: add env KUBEADM_PATH and build kubeadm.exe
  build/build-windows-k8s.sh
  scripts/k8s_unit_windows.ps1
Due: none

az capi readme and minor updates (#342)
  capz/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Default to v0.0.6 of az capi extension
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Stop applying the beta.kubernetes.io/os
  gce/hack-run-e2e.sh
  gce/run-e2e.sh
Due: none

Revert "Update Repo lists "
  images/README.md
  images/image-repo-list
  images/image-repo-list-2004
  images/image-repo-list-master
Due: none

Update prepare_env_windows.ps1
  scripts/prepare_env_windows.ps1
Due: none

Builds kubeadm.exe for Windows unit tests
  scripts/k8s_unit_windows.ps1
Due: none

Revert "run cmd/kubeadm/test: add env KUBEADM_PATH and build kubeadm.exe"
  build/build-windows-k8s.sh
  scripts/k8s_unit_windows.ps1
Due: none

Adds --no-progress to choco
  scripts/prepare_env_windows.ps1
Due: none

Update az capi extension to v0.1.1
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

kube-proxy should be in kube-system
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Updating Windows VHD used in aks-engine template to include 2022 11B updates
  job-templates/kubernetes_containerd_1_23.json
  job-templates/kubernetes_containerd_1_23_serial.json
  job-templates/kubernetes_containerd_1_24.json
  job-templates/kubernetes_containerd_1_24_csi_enabled.json
  job-templates/kubernetes_release_1_23.json
Due: none

cleanup: removing aks-engine templates for unsupported cluster configurations
  job-templates/kubernetes_20h2_1_24.json
  job-templates/kubernetes_containerd_1_21.json
  job-templates/kubernetes_containerd_1_21_serial.json
  job-templates/kubernetes_containerd_1_22.json
  job-templates/kubernetes_containerd_1_22_serial.json
  job-templates/kubernetes_release_1_21.json
  job-templates/kubernetes_release_1_21_serial.json
  job-templates/kubernetes_release_1_22.json
Due: none

Update the pre-kubeadm script to work with < 1.25
  capz/templates/gmsa.yaml
  capz/templates/windows-base.yaml
Due: pull-e2e-capz-containerd-windows-2022-extension, pull-e2e-capz-containerd-windows-2022-extension-gmsa

unit tests: Fixes kubeadm binary build
  scripts/k8s_unit_windows.ps1
Due: none

Update az capi extension to v0.1.2
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Updating az capi extension source to v0.1.3 which supports installing KPNG
  capz/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Don't restart kube-proxy ds if configured to run kpng
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Replacing k8s.gcr.io refs with registry.k8s.io
  gce/loadtest-prepull.yaml
  gce/prepull-1.21.yaml
  gce/prepull-1.22.yaml
  gce/prepull-head.yaml
  images/MirrorUpstreamK8sImgs.ps1
Due: none

add network test functionality for Azure NPM
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

fix typo
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

Updating run-capz-e2e.sh to optionally perform setup for hyperv container testing
  capz/readme.md
  capz/run-capz-e2e.sh
  helpers/hyper-v-mutating-webhook/README.md
Due: pull-e2e-capz-containerd-windows-2022-extension

Updating hyperv mutating webhook
  .gitignore
  helpers/hyper-v-mutating-webhook/Dockerfile
  helpers/hyper-v-mutating-webhook/Makefile
  helpers/hyper-v-mutating-webhook/deployment.yaml
  helpers/hyper-v-mutating-webhook/go.mod
  helpers/hyper-v-mutating-webhook/go.sum
  helpers/hyper-v-mutating-webhook/hyperv-runtimeclass.yaml
  helpers/hyper-v-mutating-webhook/main.go
  helpers/hyper-v-mutating-webhook/webhook.go
Due: none

Adding GH action to build / publish hyperv-mutating-webhook image
  .github/workflows/hyperv-webhook-build.yaml
Due: none

run test in a pod
  .github/workflows/capz.yml
  capz/private/e2etest-pod.yaml
  capz/private/kustomization.yaml
  capz/private/patches/vnet-peering.yaml
  capz/private/readme.md
  capz/private/run-e2e-test-sa.yaml
  capz/run-capz-e2e.sh
  capz/run-k8s-e2e-test.sh
  capz/templates/private-test.yaml
Due: pull-e2e-capz-containerd-windows-2022-extension

readme
  capz/private/readme.md
  capz/readme.md
Due: pull-e2e-capz-containerd-windows-2022-extension

OWNERS file cleanup
  OWNERS
Due: none

unit tests: Updates golang to 1.20.2
  scripts/prepare_env_windows.ps1
Due: none

Add ability to skip log collection when running run-capz-e2e.sh locally
  capz/readme.md
  capz/run-capz-e2e.sh
Due: pull-e2e-capz-containerd-windows-2022-extension

fix linting error in gmsa/configuration/configure.go
  capz/gmsa/configuration/configure.go
Due: pull-e2e-capz-containerd-windows-2022-extension, pull-e2e-capz-containerd-windows-2022-extension-gmsa

Use a newer VM image for windows unit test passes
  scripts/ci-k8s-unit-test.sh
Due: none

Updates the Windows image used for unit tests
  scripts/ci-k8s-unit-test.sh
Due: none

Removing references to WindowsHostProcessContainers feature-gate
  capz/templates/gmsa.yaml
  capz/templates/windows-base.yaml
Due: pull-e2e-capz-containerd-windows-2022-extension, pull-e2e-capz-containerd-windows-2022-extension-gmsa

Adding CAPZ templates for building clusters with binaries built from a PR
  .github/workflows/capz.yml
  .gitignore
  capz/Makefile
  capz/gmsa/kustomization.yaml
  capz/run-capz-e2e.sh
  capz/templates/ci/kustomization.yaml
  capz/templates/ci/patches/kubeadm-bootstrap-control-plane-ci.yaml
  capz/templates/ci/patches/kubeadm-bootstrap-windows-ci.yaml
  capz/templates/gmsa-ci.yaml
  capz/templates/gmsa-pr.yaml
  capz/templates/gmsa/ci/kustomization.yaml
  capz/templates/gmsa/patches/machine-identity.yaml
  capz/templates/gmsa/patches/vnet-peering.yaml
  capz/templates/gmsa/pr/kustomization.yaml
  capz/templates/pr/kustomization.yaml
  capz/templates/pr/patches/kubeadm-bootstrap-control-plane-pr.yaml
  capz/templates/pr/patches/kubeadm-bootstrap-windows-pr.yaml
  capz/templates/windows-ci.yaml
  capz/templates/windows-pr.yaml
Due: pull-e2e-capz-containerd-windows-2022-extension, pull-e2e-capz-containerd-windows-2022-extension-gmsa

Path conditions:
  pull-e2e-capz-containerd-windows-2022-extension: any of: capz/.*
  pull-e2e-capz-containerd-windows-2022-extension-gmsa: any of: capz/gmsa/.*|capz/templates/gmsa.yaml
