Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

pull-cloud-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      command:
      - make
      args:
      - fmt

pull-cloud-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      command:
      - make
      args:
      - lint

pull-cloud-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      command:
      - make
      args:
      - vet

pull-cloud-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - -i
      - docs/book/node_modules
      - .

pull-cloud-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cloud-provider-vsphere-verify-staticcheck:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      command:
      - make
      args:
      - staticcheck

pull-cloud-provider-vsphere-build:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      command:
      - make
      args:
      - build

pull-cloud-provider-vsphere-unit-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      command:
      - make
      args:
      - unit-test

pull-cloud-provider-vsphere-integration-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      command:
      - make
      args:
      - integration-test
      securityContext:
        privileged: true

pull-cloud-provider-vsphere-e2e-test:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
    preset-cloud-provider-vsphere-e2e-config: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  spec:
    containers:
  ...

Update registry k8s.gcr.io -> registry.k8s.io
  docs/book/tutorials/k8s-vcp-on-vsphere-with-kubeadm.md
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

Fix e2e test
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Remove some part that test CAPV
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Update govmomi
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Fix unit test
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/common/connectionmanager/list_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #682 from lubronzhan/topic/lubron/add_e2e
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #681 from lubronzhan/topic/lubron/ignore_vm_if_mor_not_found
  pkg/common/vclib/virtualmachine.go
  test/e2e/cpi_vm_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #688 from lubronzhan/topic/lubron/fix_unit_test
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/vsphere_test.go
  pkg/common/connectionmanager/list_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Bump gopkg.in/yaml.v3
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #681 from lubronzhan/topic/lubron/ignore_vm_if_mor_not_found
  pkg/common/vclib/virtualmachine.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #616 from kubernetes/topic/fhan/fix-e2e
  go.mod
  go.sum
  test/e2e/config/vsphere-dev.yaml
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #615 from kubernetes/topic/fhan/hookup-cpi-e2e
  Makefile
  hack/e2e.sh
  hack/ensure-kubectl.sh
  test/e2e/Makefile
  test/e2e/config/vsphere-dev.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/vsphere.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #619 from kubernetes/topic/fhan/finish-e2e
  Makefile
  cmd/vsphere-cloud-controller-manager/main.go
  hack/e2e.sh
  hack/images/ci/Dockerfile
  hack/ipclaim-template.yaml
  test/e2e/Makefile
  test/e2e/config/vsphere-dev.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #620 from kubernetes/topic/fhan/e2e-deploy-cpi
  Makefile
  hack/e2e.sh
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_install_test.go
  test/e2e/cpi_node_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/sanity_test.go
  test/e2e/vsphere.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #622 from kubernetes/topic/fhan/e2e-vm
  test/e2e/config/vsphere-ci.yaml
  test/e2e/cpi_install_test.go
  test/e2e/cpi_node_test.go
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/vsphere.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #625 from kubernetes/topic/fhan/e2e-vm-create
  test/e2e/cpi_vm_test.go
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Merge pull request #643 from kubernetes/topic/fhan/use-full-resource-path
  hack/e2e.sh
  hack/release.sh
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell

Remove helmchart unusted
  charts/vsphere-cpi/templates/NOTES.txt
  charts/vsphere-cpi/templates/daemonset.yaml
  charts/vsphere-cpi/templates/ingress.yaml
  charts/vsphere-cpi/templates/service.yaml
  charts/vsphere-cpi/values.yaml
Due: none

update kubernetes dependency to 1.26.1
  go.mod
  go.sum
  pkg/util/fake_client_wrapper.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Add release 1.26
  charts/vsphere-cpi-1.26.0.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  index.yaml
  releases/v1.26/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

helm chart template fix: fix configMap name in volumes settings
  charts/vsphere-cpi/templates/daemonset.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Release 1.24.4
  charts/vsphere-cpi-1.24.4.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.24/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Release 1.25.1
  charts/vsphere-cpi-1.25.1.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/v1.25/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Release 1.23.4
  charts/vsphere-cpi-1.23.4.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.23/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Update docs
  README.md
  releases/README.md
Due: pull-cloud-provider-vsphere-verify-markdown

Move credentials from configmap to secret
  charts/vsphere-cpi/templates/configmap.yaml
  charts/vsphere-cpi/templates/daemonset.yaml
Due: none

Remove credentials from configmap
  charts/vsphere-cpi/templates/configmap.yaml
Due: none

Fix CVE-2022-41723 by bumping golang.org/x/net to 0.8.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Release 1.25.2
  charts/vsphere-cpi-1.25.2.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/v1.25/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Update tlsthumbprint
  test/e2e/config/vsphere-ci.yaml
Due: none

Update versions to latest
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  hack/images/ci/Dockerfile
  pkg/cloudprovider/vsphere/loadbalancer/nsxt_broker.go
  pkg/cloudprovider/vsphere/route/nsxtbroker.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod
