Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

add support for force_deregister
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer.json
Due: json-sort-check, pull-packer-validate

sort fields
  images/capi/packer/nutanix/nutanix.json
Due: json-sort-check, pull-packer-validate

switch var from bool to string
  images/capi/packer/nutanix/nutanix.json
Due: json-sort-check, pull-packer-validate

Enable HNS and WCIFS fixes for WS2019
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

updating dynamic port range for windows to address some collisions
  images/capi/ansible/windows/roles/systemprep/tasks/main.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

ubuntu aws 2204 support
  images/capi/Makefile
  images/capi/packer/ami/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Added Ubuntu 22.04 builds for AWS and GCP
  images/capi/Makefile
  images/capi/packer/ami/ubuntu-2204.json
  images/capi/packer/gce/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

add support for ansible_user_vars in nutanix
  images/capi/packer/nutanix/packer.json
Due: json-sort-check, pull-packer-validate

Update Rocky Linux urls and checksums to 8.7
  images/capi/packer/ova/rockylinux-8.json
  images/capi/packer/qemu/qemu-rockylinux-8.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Add pipeline test job for Azure VHDs
  images/capi/packer/azure/.pipelines/build-vhd.yaml
  images/capi/packer/azure/.pipelines/generate-sas.yaml
  images/capi/packer/azure/.pipelines/stages.yaml
  images/capi/packer/azure/.pipelines/test-vhd.yaml
  images/capi/packer/azure/.pipelines/vhd-publishing-info.yaml
  images/capi/packer/azure/scripts/ensure-kustomize.sh
  images/capi/packer/azure/scripts/init-vhd.sh
  images/capi/packer/azure/scripts/test-templates/linux/kustomization.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-controlplane.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-windows.yaml
  images/capi/packer/azure/scripts/test-templates/patches/azuremachinetemplate-workload.yaml
  images/capi/packer/azure/scripts/test-templates/patches/kubeadmcontrolplane-windows.yaml
  images/capi/packer/azure/scripts/test-templates/patches/machinedeployment-windows.yaml
  images/capi/packer/azure/scripts/test-templates/windows/kustomization.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Update OWNERS_ALIASES for Azure
  OWNERS_ALIASES
Due: none

images/capi: improve compatibility with newer OpenSSH versions
  images/capi/Makefile
  images/capi/packer/ami/packer.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/digitalocean/packer.json
  images/capi/packer/gce/packer.json
  images/capi/packer/oci/packer.json
  images/capi/packer/ova/packer-node.json
  images/capi/packer/powervs/packer.json
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

containerd: Update to v1.6.14
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

wip
  images/capi/Makefile
  images/capi/ansible/roles/containerd/tasks/main.yml
  images/capi/ansible/roles/containerd/templates/etc/containerd/config.toml
  images/capi/packer/azure/azure-config.json
  images/capi/packer/azure/packer.json
  images/capi/packer/config/ansible-args.json
  images/capi/packer/config/wasm-shims.json
  images/capi/packer/goss/goss-command.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Update mdBook and fix darwin install
  docs/book/build.sh
Due: none

Fix Makefiles and update image-builder
  Makefile
  v1/Makefile
  v1/go.mod
  v1/go.sum
Due: none

update 1.23/1.24/1.25 images
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
Due: json-sort-check, pull-packer-validate

remove 1.22 config due to EOL
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
Due: json-sort-check, pull-packer-validate

add 1.26 config
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
Due: json-sort-check, pull-packer-validate

update default k8s release to 1.23.15
  docs/book/src/capi/capi.md
  images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

update critools to 1.26.0
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

feat: Add Oracle Linux 9 build support to CAPI OCI provider
  docs/book/src/capi/providers/oci.md
  images/capi/Makefile
  images/capi/packer/oci/oracle-linux-9.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

nutanix improvement
  OWNERS_ALIASES
  docs/book/src/capi/providers/nutanix.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/nutanix.yml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/nutanix/OWNERS
  images/capi/packer/nutanix/config.pkr.hcl
  images/capi/packer/nutanix/flatcar.json
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/nutanix/packer.json
  images/capi/packer/nutanix/rockylinux-8.json
  images/capi/packer/nutanix/rockylinux-9.json
  images/capi/packer/nutanix/ubuntu-2204.json
  images/capi/packer/nutanix/windows-2022.json
  images/capi/packer/nutanix/windows/disable-network-discovery.cmd
  images/capi/packer/nutanix/windows/sysprep.ps1
  images/capi/packer/nutanix/windows/windows-2022/autounattend.xml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Unpin azure-cli to always install the latest
  images/capi/hack/ensure-azure-cli.sh
Due: pull-azure-vhds, pull-container-image-build

fix ubuntu console=ttyS0
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
Due: pull-ova-all, pull-packer-validate

Update book Makefile
  docs/book/Makefile
Due: none

bump containerd to 1.16.15
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

bump packer to 1.8.5
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

capi/packer/qemu: Pass oem_id value to ansible
  images/capi/packer/qemu/qemu-flatcar.json
Due: json-sort-check, pull-packer-validate

Storage Account should default to AZURE_LOCATION
  images/capi/packer/azure/scripts/init-vhd.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Add `use_internal_ip` to gce's packer.json
  images/capi/packer/gce/packer.json
Due: json-sort-check, pull-packer-validate

remove 1.22 config and add 1.26
  images/capi/scripts/ci-gce-nightly.sh
Due: none

Sort elements in packer.json
  images/capi/packer/gce/packer.json
Due: json-sort-check, pull-packer-validate

Add photon-4 OVA support
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/meta/main.yml
  images/capi/hack/generate-goss-specs.py
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/ova/linux/photon/http/4
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/photon-4.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Update kubernetes-cni .deb to v1.2.0
  images/capi/ansible/roles/kubernetes/tasks/debian.yml
  images/capi/packer/config/cni.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add RHEL-8 AMI support
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/sysprep/tasks/redhat.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/ami/rhel-8.json
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Support building RHEL-8 Azure VHD and SIG Images
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/centos-7-gen2.json
  images/capi/packer/azure/centos-7.json
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/rhel-8.json
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/goss/goss-package.yaml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Changes to use global permission
  docs/book/src/capi/providers/3dsoutscale.md
  images/capi/packer/outscale/packer.json
Due: json-sort-check, pull-packer-validate

Add Cloudstack provider support for Flatcar
  images/capi/ansible/roles/providers/files/flatcar-oem-cloudstack/bin/cloudstack-coreos-cloudinit
  images/capi/ansible/roles/providers/files/flatcar-oem-cloudstack/bin/cloudstack-dhcp
  images/capi/ansible/roles/providers/files/flatcar-oem-cloudstack/bin/cloudstack-ssh-key
  images/capi/ansible/roles/providers/files/flatcar-oem-cloudstack/bin/flatcar-setup-environment
  images/capi/ansible/roles/providers/files/flatcar-oem-cloudstack/cloud-config.yml
  images/capi/ansible/roles/providers/files/flatcar-oem-cloudstack/grub.cfg
  images/capi/ansible/roles/providers/tasks/cloudstack.yml
Due: pull-ova-all, pull-azure-vhds

Add support for Windows 2019/2022 to OCI capi provider image builder
  docs/book/src/capi/providers/oci.md
  images/capi/Makefile
  images/capi/ansible/windows/roles/cloudbase-init/templates/cloudbase-init.conf
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/nutanix/packer-windows.json
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/oci/scripts/attach_secondary_vnic.ps1
  images/capi/packer/oci/scripts/enable_second_nic.ps1
  images/capi/packer/oci/scripts/set_bootstrap.sh
  images/capi/packer/oci/scripts/sysprep.ps1
  images/capi/packer/oci/scripts/unset_bootstrap.sh
  images/capi/packer/oci/scripts/winrm_bootstrap_template.txt
  images/capi/packer/oci/windows-2019.json
  images/capi/packer/oci/windows-2022.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/vbox/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build
