Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

Override sysctl_conf_file for flatcar
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

Fix typos and links in Image Builder book
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/container-image.md
  docs/book/src/capi/goss/goss.md
  docs/book/src/capi/providers/3dsoutscale.md
  docs/book/src/capi/providers/azure.md
  docs/book/src/capi/providers/cloudstack.md
  docs/book/src/capi/providers/gcp.md
  docs/book/src/capi/providers/nutanix.md
  docs/book/src/capi/providers/oci.md
  docs/book/src/capi/providers/openstack.md
  docs/book/src/capi/providers/raw.md
  docs/book/src/capi/providers/virtualbox.md
  docs/book/src/capi/windows/windows.md
  docs/book/src/glossary.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/05_logging.cfg
  images/capi/ansible/windows/roles/load_additional_components/tasks/registry.yml
  images/capi/ansible/windows/roles/load_additional_components/tasks/url.yml
  images/capi/ansible/windows/roles/runtimes/tasks/docker_ee.yml
  images/capi/hack/image-build-ova.py
  images/capi/scripts/ci-json-sort.sh
  images/konfigadm/README.md
  images/kube-deploy/container-image/README.md
  images/kube-deploy/container-image/tools/images/container-to-raw/makedisk.sh
  v1/README.md
  v1/cmd/build.go
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Update containerd version to v1.6.19
  images/capi/packer/config/ppc64le/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Use better syntax to define sysctl conf file
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

Update pywinrm to v0.4.3
  images/capi/hack/ensure-ansible-windows.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

feat: Ubuntu 22.04 EFI Support
  images/capi/Makefile
  images/capi/packer/ova/linux/ubuntu/http/22.04.efi/meta-data
  images/capi/packer/ova/linux/ubuntu/http/22.04.efi/user-data
  images/capi/packer/ova/ubuntu-2204-efi.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

fix: update working with second nic for OCI image
  docs/book/src/capi/providers/oci.md
  images/capi/packer/oci/scripts/enable_second_nic.ps1
Due: pull-packer-validate

Correction on OS_TYPE
  images/capi/hack/image-build-ova.py
  images/capi/packer/ova/rockylinux-8.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Re-establish prior order of the cloudbase-init plugins
  images/capi/ansible/windows/roles/cloudbase-init/templates/cloudbase-init.conf
  images/capi/packer/ami/packer-windows.json
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/oci/packer-windows.json
  images/capi/packer/ova/packer-windows.json
  images/capi/packer/vbox/packer-windows.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate

bump containerd to 1.6.19
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update containerd wasm shims to 0.4.0
  images/capi/packer/config/wasm-shims.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Add IBM Cloud related docs
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/ibmcloud.md
  docs/book/src/glossary.md
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

fix nutanix doc
  docs/book/src/capi/providers/nutanix.md
Due: none

Add a check for VM in failed state
  images/capi/packer/azure/.pipelines/test-vhd.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Check for kube-proxy before building Azure Windows image
  images/capi/packer/azure/.pipelines/build-vhd.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Adding vmware/vsphere cloud-init datasource configuration for Ubuntu 22.04
  images/capi/ansible/roles/providers/tasks/vmware-ubuntu.yml
  images/capi/ansible/roles/sysprep/tasks/debian.yml
  images/capi/packer/ova/ubuntu-2204-efi.json
  images/capi/packer/ova/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

Bump default k8s to 1.24.11
  images/capi/packer/config/kubernetes.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Update docs/book/src/capi/providers/nutanix.md
  docs/book/src/capi/providers/nutanix.md
Due: none

update capg-nigthly k8s images
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
  images/capi/packer/gce/ci/nightly/overwrite-1-26.json
Due: json-sort-check, pull-packer-validate

fix Nutanix CAPI doc (#1113)
  docs/book/src/capi/providers/nutanix.md
Due: none

docker: support qemu target builds
  images/capi/Dockerfile
Due: pull-container-image-build

patch: Support for building images on OpenStack
  OWNERS_ALIASES
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/oci.md
  docs/book/src/capi/providers/openstack-remote.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/openstack.yml
  images/capi/packer/openstack/OWNERS
  images/capi/packer/openstack/flatcar.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/ubuntu-2004.json
  images/capi/packer/openstack/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

patch: Increase inotify watches sysctls
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Adding the possibility to have flatcar updated after deployment.
  images/capi/ansible/roles/sysprep/defaults/main.yml
  images/capi/ansible/roles/sysprep/tasks/flatcar.yml
Due: pull-ova-all, pull-azure-vhds

Ensure the correct Packer binary is used for image builds
  images/capi/Makefile
  images/capi/hack/ensure-packer.sh
  images/capi/hack/ensure-powervs.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Add support for RHEL 8 RAW image builds
  images/capi/Makefile
  images/capi/packer/raw/linux/rhel
  images/capi/packer/raw/raw-rhel-8.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Fix netword-dispatcher url for Photon builds
  images/capi/ansible/roles/providers/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

Switch to e2 machine type
  images/kube-deploy/container-image/cloudbuild.yaml
Due: none

Bump containerd to 1.6.20
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix owners aliases
  OWNERS_ALIASES
Due: none

add /etc/cloud/cloud.cfg.d/15_azure-vnet.cfg to all VMs
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/15_azure-vnet.cfg
  images/capi/ansible/roles/providers/tasks/azure.yml
  images/capi/packer/goss/goss-vars.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Parameterize OS_VERSION in Azure nightly smoke test
  images/capi/packer/azure/.pipelines/smoke-test.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Update some URL links in docs
  docs/book/src/capi/providers/azure.md
  docs/book/src/capi/providers/oci.md
  docs/book/src/capi/providers/virtualbox.md
  docs/book/src/capi/windows/windows.md
Due: none

Remove centos7 from Azure CI
  images/capi/azure_targets.sh
Due: none

Update kubeadm config file to supported API version
  images/capi/ansible/roles/kubernetes/templates/etc/kubeadm.yml
Due: pull-ova-all, pull-azure-vhds

Allow all maintainers to approve docs changes
  docs/OWNERS
Due: none

error out if az capi command fails
  images/capi/packer/azure/.pipelines/test-vhd.yaml
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Update time and day
  README.md
Due: none

Fixed RHEL image ssh issue: Updated CLI and feature override
  images/capi/ansible/roles/providers/files/usr/lib/python3/site-packages/cloudinit/feature_overrides.py
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/ansible/roles/providers/tasks/awscliv2.yml
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Added example on how to build an ARM64 / AARCH64 Ubuntu 22.04
  images/capi/Makefile
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/providers/tasks/qemu.yml
  images/capi/ansible/roles/setup/tasks/debian.yml
  images/capi/ansible/roles/setup/templates/etc/apt/arm64.sources.list.j2
  images/capi/arm64.json
  images/capi/hack/ensure-goss.sh
  images/capi/hack/utils.sh
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/qemu/files/22.04-arm64/meta-data
  images/capi/packer/qemu/files/22.04-arm64/user-data
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/qemu-ubuntu-2204-arm64.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build
