Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*

remove 1.21 build since it is eol
  images/capi/packer/gce/ci/nightly/overwrite-1-21.json
Due: json-sort-check, pull-packer-validate

update 1.22/1.23/1.24 k8s
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
Due: json-sort-check, pull-packer-validate

add 1.25 to build the image
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
Due: json-sort-check, pull-packer-validate

docs: expanding documentation with optional environment variable GALLERY_NAME
  docs/book/src/capi/providers/azure.md
Due: none

Pin openssl and crypto packages to known working versions
  images/capi/ansible/roles/providers/tasks/debian.yml
Due: pull-ova-all, pull-azure-vhds

Updated kubernetes-cni .deb to v1.1.1
  images/capi/packer/config/cni.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

remove 1.21 job and add 1.25
  images/capi/scripts/ci-gce-nightly.sh
Due: none

Add sbueringer to ClusterAPI maintainers
  OWNERS_ALIASES
Due: none

Added kubevirt target
  images/capi/Makefile
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/kubevirt-Dockerfile
  images/capi/packer/qemu/packer.json
  images/capi/packer/qemu/scripts/build_kubevirt_image.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Added qemu-guest-agent to qemu target images
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

initial checkin of nutanix image-builder
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/nutanix.md
  images/capi/Makefile
  images/capi/packer/nutanix/OWNERS
  images/capi/packer/nutanix/config.pkr.hcl
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer.json
  images/capi/packer/nutanix/ubuntu-2004.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

feat: add `base_image_ocid` param
  docs/book/src/capi/providers/oci.md
  images/capi/packer/oci/packer.json
Due: json-sort-check, pull-packer-validate

ran make json-sort per PR test requirements
  images/capi/packer/nutanix/nutanix.json
  images/capi/packer/nutanix/packer.json
Due: json-sort-check, pull-packer-validate

fixed make validate-nutanix-ubuntu-2004 command
  images/capi/packer/nutanix/nutanix.json
Due: json-sort-check, pull-packer-validate

fixed make json-sort
  images/capi/packer/nutanix/nutanix.json
Due: json-sort-check, pull-packer-validate

removed the owners file
  images/capi/packer/nutanix/OWNERS
Due: pull-packer-validate

Install curl on Photon builds
  images/capi/ansible/roles/node/defaults/main.yml
Due: pull-ova-all, pull-azure-vhds

Add cluster-api-nutanix-maintainers
  OWNERS_ALIASES
  images/capi/packer/nutanix/OWNERS
Due: pull-packer-validate

Update AMI owner ID for centoS AMIs
  images/capi/packer/ami/centos-7.json
Due: json-sort-check, pull-packer-validate

Improve bootstrap-flatcar.sh
  images/capi/packer/files/flatcar/scripts/bootstrap-flatcar.sh
Due: pull-packer-validate

Update Azure pub tool to v0.3.3
  images/capi/packer/azure/scripts/new-disk-version.sh
  images/capi/packer/azure/scripts/new-sku.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Add amazon_ssm_agent_rpm to configure the RPM download URL
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fixes for SSH provisioning errors
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Remove old build targets from Azure test matrix
  images/capi/azure_targets.sh
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

patch: changed deprecated floating_ip_pool to floating_ip_network
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

patch: adding non efi ubuntu
  images/capi/packer/openstack/qemu-ubuntu-2004.json
Due: json-sort-check, pull-packer-validate

Add 3DS outscale provider
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/3dsoutscale.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/99_metadata.cfg
  images/capi/ansible/roles/providers/files/tmp/cloud-init_22.2-outscale.deb
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/hack/utils.sh
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/outscale/centos-7.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-21.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-22.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-23.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-24.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-25.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/outscale/ubuntu-2004.json
  images/capi/scripts/ci-outscale-nightly.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Bump goss to v3.1.3
  images/capi/hack/ensure-goss.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Bump Ansible to v2.13.4
  images/capi/hack/ensure-ansible.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Add Ubuntu 22.04 LTS for Azure
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-2204-gen2.json
  images/capi/packer/azure/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Bump python version to 3.8
  images/capi/ansible/roles/python/defaults/main.yml
  images/capi/packer/files/flatcar/scripts/bootstrap-flatcar.sh
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate

Added QEMU ubuneu 22.04 build
  images/capi/Makefile
  images/capi/packer/ova/linux/ubuntu/http/22.04/preseed-efi.cfg
  images/capi/packer/ova/linux/ubuntu/http/22.04/preseed.cfg
  images/capi/packer/qemu/qemu-ubuntu-2204-efi.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Bump GOSS and powervs versions
  images/capi/hack/ensure-goss.sh
  images/capi/hack/ensure-powervs.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Update images/capi/packer/ova/linux/ubuntu/http/22.04/preseed-efi.cfg
  images/capi/packer/ova/linux/ubuntu/http/22.04/preseed-efi.cfg
Due: pull-ova-all, pull-packer-validate

Update images/capi/packer/ova/linux/ubuntu/http/22.04/preseed.cfg
  images/capi/packer/ova/linux/ubuntu/http/22.04/preseed.cfg
Due: pull-ova-all, pull-packer-validate

fix: updating use_floating var and setting the option to use a floating IP to a var.
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

fix: put quotes around the bool var, didn't realise that was a thing.
  images/capi/packer/openstack/openstack-ubuntu-2004.json
Due: json-sort-check, pull-packer-validate

Ensure ubuntu install uses console=ttyS0 kernel args
  images/capi/packer/ova/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/raw/linux/ubuntu/http/base/preseed.cfg
Due: pull-ova-all, pull-packer-validate

debian: Add console to kernel params
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds
