Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

pull-azure-sigs:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
      - name: AZURE_BUILD_FORMAT
        value: sig
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Update nssm default download location
  images/capi/packer/config/windows/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Ensure Azure storage accounts are private
  images/capi/packer/azure/scripts/delete-unused-storage.sh
  images/capi/packer/azure/scripts/init-vhd.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Disable pip version check
  images/capi/hack/ensure-ansible-windows.sh
  images/capi/hack/ensure-ansible.sh
  images/capi/hack/ensure-azure-cli.sh
  images/capi/hack/utils.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Bump GOSS to 3.1.4
  images/capi/hack/ensure-goss.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Add Ubuntu 22.04 LTS build support to CAPI OCI provider
  docs/book/src/capi/providers/oci.md
  images/capi/Makefile
  images/capi/packer/oci/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Workaround scp behaviour in OpenSSH 9.0
  images/capi/packer/qemu/packer.json
Due: json-sort-check, pull-packer-validate

Initial support for building on OpenStack
  images/capi/Makefile
  images/capi/packer/openstack/OWNERS
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

patch: merging upstream
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

Add 3DS outscale provider
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/3dsoutscale.md
  images/capi/Makefile
  images/capi/ansible/roles/providers/files/etc/cloud/cloud.cfg.d/99_metadata.cfg
  images/capi/ansible/roles/providers/files/tmp/cloud-init_22.2-outscale.deb
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/hack/utils.sh
  images/capi/packer/goss/goss-vars.yaml
  images/capi/packer/outscale/centos-7.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-21.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-22.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-23.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-24.json
  images/capi/packer/outscale/ci/nightly/overwrite-1-25.json
  images/capi/packer/outscale/packer.json
  images/capi/packer/outscale/ubuntu-2004.json
  images/capi/scripts/ci-outscale-nightly.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Bump GOSS and powervs versions
  images/capi/hack/ensure-goss.sh
  images/capi/hack/ensure-powervs.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

Add Ubuntu 22.04 LTS for Azure
  images/capi/Makefile
  images/capi/azure_targets.sh
  images/capi/packer/azure/scripts/init-sig.sh
  images/capi/packer/azure/ubuntu-2204-gen2.json
  images/capi/packer/azure/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Remove old build targets from Azure test matrix
  images/capi/azure_targets.sh
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

Initial support for building on OpenStack
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

patch: updateing some variables for Openstack building and fixed SSH issues
  images/capi/Makefile
  images/capi/packer/openstack/openstack-ubuntu-2204.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

parent ccd195e1a25ae19199cd1b723f210cf811193c3d author Drew <vilesy@gmail.com> 1667211363 +0000 committer Drew <vilesy@gmail.com> 1667234329 +0000
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/openstack-remote.md
  images/capi/Makefile
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/openstack-ubuntu-2204.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-ubuntu-2004.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

patch: ran make json-sort
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Added qemu/kubevirt support for multiple Kubernetes versions
  images/capi/packer/qemu/README.md
Due: pull-packer-validate

Initial support for building on OpenStack & Bump versions to build images for Kubernetes 1.24.2
  images/capi/Makefile
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/OWNERS
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

patch: changed deprecated floating_ip_pool to floating_ip_network
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

patch: Adding new variables and os.json files to allow building of ubuntu remotely in Openstack
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/openstack-remote.md
  images/capi/Makefile
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/openstack-ubuntu-2204.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

Add amazon_ssm_agent_rpm to configure the RPM download URL
  images/capi/ansible/roles/providers/tasks/aws.yml
  images/capi/packer/ami/packer.json
  images/capi/packer/config/ansible-args.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix ansible SSH not connecting
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Fix ova creation not finding correct vmdk
  images/capi/packer/ova/packer-node.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

feat(gcp): user overridable image_name and image_family for gce
  images/capi/packer/gce/packer.json
Due: json-sort-check, pull-packer-validate

capi,deb,kubevirt: override default netplan for KubeVirt
  images/capi/ansible/roles/sysprep/files/etc/netplan/51-kubevirt-netplan.yaml
  images/capi/ansible/roles/sysprep/tasks/main.yml
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate

update capg images to use latest k8s releases
  images/capi/packer/gce/ci/nightly/overwrite-1-22.json
  images/capi/packer/gce/ci/nightly/overwrite-1-23.json
  images/capi/packer/gce/ci/nightly/overwrite-1-24.json
  images/capi/packer/gce/ci/nightly/overwrite-1-25.json
Due: json-sort-check, pull-packer-validate

Add packer plugin install for oracle
  images/capi/Makefile
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Set FLATCAR_VERSION to latest available in Azure CI
  images/capi/scripts/ci-azure-e2e.sh
Due: pull-azure-vhds, pull-azure-sigs

Adding http port max and min parameters packer OVA generation
  images/capi/packer/ova/packer-node.json
  images/capi/packer/ova/packer-windows.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Move inactive maintainers to emeritus
  OWNERS
  OWNERS_ALIASES
Due: none

Add mboersma to maintainers
  OWNERS_ALIASES
Due: none

Upgrade pip3 to latest to fix awscli installation failure
  images/capi/ansible/roles/providers/tasks/aws.yml
Due: pull-ova-all, pull-azure-vhds

Add AverageMarcus as reviewer
  OWNERS_ALIASES
Due: none

Packer change package from osc to outscale
  images/capi/Makefile
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/outscale.yml
  images/capi/packer/outscale/centos-7.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

images/capi/packer/azure/packer-windows.json: fix latest exclusion
  images/capi/packer/azure/packer-windows.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

images/capi/packer/azure/packer.json: allow building from SIG
  docs/book/src/capi/providers/azure.md
  images/capi/packer/azure/packer-windows.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
