Repository kubernetes-sigs/image-builder: changes, and which Prow jobs are due for each by the changed paths.
All: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

pull-ova-all:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-cluster-api-provider-vsphere-e2e-config: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
  ...

pull-azure-vhds:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      resources:
        requests:
          cpu: 1000m

pull-azure-sigs:
  labels:
    preset-azure-cred: 'true'
  decorate: true
  optional: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-azure-e2e.sh
      env:
      - name: AZURE_BUILD_FORMAT
        value: sig
  ...

json-sort-check:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-json-sort.sh
      resources:
        requests:
          cpu: 1000m

pull-packer-validate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-packer-validate.sh

pull-goss-populate:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-goss-populate.sh

pull-container-image-build:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-master
      args:
      - runner.sh
      - ./images/capi/scripts/ci-container-image.sh
      resources:
  ...

Remove conditional for auditd on flatcar
  images/capi/packer/goss/goss-service.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Update to latest pause image from registry.k8s.io
  docs/book/src/capi/capi.md
  images/capi/ansible/roles/node/defaults/main.yml
  images/capi/ansible/windows/example.vars.yml
  images/capi/ansible/windows/roles/runtimes/defaults/main.yml
  images/capi/packer/config/common.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Strip arch suffix from k8s images before installing
  images/capi/ansible/roles/kubernetes/files/tmp/modify-k8s-img.sh
  images/capi/ansible/roles/kubernetes/tasks/url.yml
Due: pull-ova-all, pull-azure-vhds

Enable auditd on Flatcar
  images/capi/ansible/roles/node/files/etc/audit/rules.d/containerd.rules-flatcar
  images/capi/ansible/roles/node/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

feat: 🎸 Add support for Ubuntu 2204 for vSphere
  docs/book/src/capi/providers/vsphere.md
  images/capi/Makefile
  images/capi/packer/ova/linux/ubuntu/http/22.04/meta-data
  images/capi/packer/ova/linux/ubuntu/http/22.04/user-data
  images/capi/packer/ova/ubuntu-2204.json
  images/capi/scripts/ci-ova.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

bump deps to address multiple CVEs
  v1/go.mod
  v1/go.sum
Due: none

Feature/Azure: Support build_resource_group_name in order to use custom rg
  docs/book/src/capi/providers/azure.md
  images/capi/packer/azure/packer.json
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Add note about Windows in OCI capi docs
  docs/book/src/capi/providers/oci.md
Due: none

add ubuntu 22.04 with autoinstall config
  images/capi/Makefile
  images/capi/packer/ova/linux/ubuntu/http/22.04/user-data
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Fix typo in artifact_name variable
  images/capi/packer/qemu/packer.json
Due: json-sort-check, pull-packer-validate

Allow users to configure the QEMU VM name
  images/capi/packer/qemu/packer.json
  images/capi/packer/raw/packer.json
Due: json-sort-check, pull-packer-validate

Workaround scp behaviour in OpenSSH 9.0
  images/capi/packer/qemu/packer.json
Due: json-sort-check, pull-packer-validate

Initial support for building on OpenStack & Bump versions to build images for Kubernetes 1.24.2
  images/capi/Makefile
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/OWNERS
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

patch: changed deprecated floating_ip_pool to floating_ip_network
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

patch: Adding new variables and os.json files to allow building of ubuntu remotely in Openstack
  docs/book/src/SUMMARY.md
  docs/book/src/capi/capi.md
  docs/book/src/capi/providers/openstack-remote.md
  images/capi/Makefile
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/openstack-ubuntu-2204.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

fix: corrected ubuntu20 variables in json file
  images/capi/packer/openstack/openstack-ubuntu-2004.json
Due: json-sort-check, pull-packer-validate

Include OpenStack builder task and ensure Hyper-V service is disabled
  images/capi/ansible/roles/providers/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/openstack.yml
Due: pull-ova-all, pull-azure-vhds

docs: update to wording in docs
  docs/book/src/capi/providers/openstack-remote.md
Due: none

Rebase upstream
  docs/book/src/capi/providers/oci.md
Due: none

patch: adding OS_VERSIOn var for GOSS to prevent errors when running render
  images/capi/packer/openstack/packer.json
Due: json-sort-check, pull-packer-validate

Initial support for building on OpenStack & Bump versions to build images for Kubernetes 1.24.2
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

patch: Adding new variables and os.json files to allow building of ubuntu remotely in Openstack
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/linux/centos/http/7/ks.cfg
  images/capi/packer/openstack/linux/centos/http/8/ks.cfg
  images/capi/packer/openstack/linux/photon/http/3/ks.json
  images/capi/packer/openstack/linux/rhel/http/7/ks.cfg
  images/capi/packer/openstack/linux/rhel/http/8/ks.cfg
  images/capi/packer/openstack/linux/rockylinux/http/8/ks.cfg
  images/capi/packer/openstack/linux/ubuntu/http/18.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/20.04/preseed.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed-efi.cfg
  images/capi/packer/openstack/linux/ubuntu/http/base/preseed.cfg
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/qemu-centos-7.json
  images/capi/packer/openstack/qemu-flatcar.json
  images/capi/packer/openstack/qemu-rhel-8.json
  images/capi/packer/openstack/qemu-rockylinux-8.json
  images/capi/packer/openstack/qemu-ubuntu-1804.json
  images/capi/packer/openstack/qemu-ubuntu-2004-efi.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

bump packer to 1.8.6
  images/capi/hack/ensure-packer.sh
Due: pull-ova-all, pull-azure-vhds, pull-container-image-build

bump containerd to 1.6.18
  images/capi/packer/config/containerd.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Allow Customizing values for Azure SIG Image Definition
  images/capi/packer/azure/scripts/init-sig.sh
Due: pull-azure-vhds, pull-azure-sigs, pull-packer-validate

Support flatcar
  images/capi/Makefile
  images/capi/packer/openstack/OWNERS
  images/capi/packer/openstack/flatcar.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/ubuntu-2004.json
  images/capi/packer/openstack/ubuntu-2204.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Flatcar updates, validation fixes and minor cleanup
  docs/book/src/capi/providers/openstack-remote.md
  images/capi/Makefile
  images/capi/packer/config/kubernetes.json
  images/capi/packer/openstack/openstack-ubuntu-2004.json
  images/capi/packer/openstack/openstack-ubuntu-2204.json
  images/capi/packer/openstack/packer.json
  images/capi/packer/openstack/ubuntu-2004.json
  images/capi/packer/openstack/ubuntu-2204.json
  images/capi/packer/qemu/packer.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-goss-populate, pull-container-image-build

validate and flatcar goss fix
  images/capi/Makefile
  images/capi/packer/openstack/flatcar.json
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate, pull-container-image-build

Update refs to cluster-node-image-builder container image
  docs/book/src/capi/container-image.md
Due: none

fix: Update Ubuntu 22.04 ISO for vsphere and qemu
  images/capi/packer/ova/ubuntu-2204.json
  images/capi/packer/qemu/qemu-ubuntu-2204.json
Due: pull-ova-all, json-sort-check, pull-packer-validate

Add jq to CAPI Dockerfile to fix Makefile error
  images/capi/Dockerfile
Due: pull-container-image-build

Do not use same variable for managed_image_storage_account_type and SIG storage_account_type
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Sort json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

Update images/capi/packer/azure/packer.json
  images/capi/packer/azure/packer.json
Due: pull-azure-vhds, pull-azure-sigs, json-sort-check, pull-packer-validate

docs: update capi oci provider windows password docs
  docs/book/src/capi/providers/oci.md
Due: none

fix: update OCI to work on ubuntu and ensure windows tool
  images/capi/Makefile
  images/capi/packer/oci/scripts/set_bootstrap.sh
Due: pull-ova-all, pull-azure-vhds, pull-azure-sigs, pull-packer-validate, pull-container-image-build

Adding a firewall rule to enable the 22 TCP port
  images/capi/ansible/windows/roles/systemprep/tasks/ssh-archive.yml
  images/capi/packer/goss/goss-command.yaml
Due: pull-ova-all, pull-azure-vhds, pull-packer-validate, pull-goss-populate

Updating cloudbase-init versio to v1.1.4
  images/capi/packer/config/windows/cloudbase-init.json
Due: pull-ova-all, pull-azure-vhds, json-sort-check, pull-packer-validate, pull-goss-populate

Fix permissions on systemd drop-ins
  images/capi/ansible/roles/node/tasks/main.yml
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Disable cloud-final and cloud-config drop-ins for Flatcar
  images/capi/ansible/roles/providers/tasks/main.yml
Due: pull-ova-all, pull-azure-vhds

Path conditions:
  pull-ova-all: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-ova\.sh|images/capi/packer/(config|goss|ova)/.*|images/capi/hack/ensure-(ansible|packer|goss).*
  pull-azure-vhds: any of: images/capi/(Makefile|ansible\.cfg)|images/capi/ansible/.*|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/(config|goss|azure)/.*|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
  pull-azure-sigs: any of: images/capi/Makefile|images/capi/scripts/ci-azure-e2e\.sh|images/capi/packer/azure/.*
  json-sort-check: any of: images/capi/.*\.json$
  pull-packer-validate: any of: images/capi/Makefile|images/capi/packer/.*|images/capi/scripts/ci-packer-validate\.sh
  pull-goss-populate: any of: images/capi/packer/config/.*|images/capi/packer/goss/.*|images/capi/scripts/ci-goss-populate\.sh|images/capi/hack/generate-goss-specs\.py
  pull-container-image-build: any of: images/capi/(Makefile|Dockerfile|\.dockerignore)|images/capi/hack/ensure-(ansible|packer|jq|azure-cli|goss).*
