Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*

e2e were failing, added a go mod tidy
  go.mod
  go.sum
Due: none

push mod and sum from main
  go.mod
  go.sum
Due: none

Fix CVE-2022-32149
  go.sum
  images/ext-auth-example-authsvc/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

fix CI
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Fix styling in canary annotation docs.
  docs/user-guide/nginx-configuration/annotations.md
Due: none

fix svc long name
  internal/ingress/controller/store/endpointslice.go
  internal/ingress/controller/store/endpointslice_test.go
  test/e2e/e2e.go
  test/e2e/endpointslices/longname.go
  test/e2e/framework/deployment.go
Due: none

fix svc long name (#9245)
  internal/ingress/controller/store/endpointslice.go
  internal/ingress/controller/store/endpointslice_test.go
  test/e2e/e2e.go
  test/e2e/endpointslices/longname.go
  test/e2e/framework/deployment.go
Due: none

Update NGINX_BASE
  NGINX_BASE
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

static otel lib
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-build-opentelemetry

update base image of nginx to 1.21.6 (#9257)
  .github/workflows/ci.yaml
  NGINX_BASE
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

[EOS-9406] Fix map CN / UID (#13)
  CHANGELOG.md
  rootfs/etc/nginx/lua/stratio_auth.lua
Due: none

typo
  internal/ingress/controller/config/config.go
  internal/ingress/controller/nginx.go
  test/e2e/settings/opentelemetry.go
Due: none

Fix CVE-2022-32149 (#9258)
  go.sum
  images/ext-auth-example-authsvc/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Fix CVE-2022-1996 (#9244)
  go.mod
  go.sum
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Update monitoring.md
  docs/user-guide/monitoring.md
Due: none

Adding support for disabling liveness and readiness probes in the Helm chart (#9238)
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
Due: none

start 1.5.0 release
  TAG
Due: post-ingress-nginx-push-images

fix CVE-2022-27664
  go.sum
  images/ext-auth-example-authsvc/rootfs/go.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

missed CVE-2022-27664 #9273 in 1.5.0 build
  TAG
Due: post-ingress-nginx-push-images

update gopkg.in/yaml.v3 v3.0.0-20210107192922-496545a6307b to 3.0.0
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Values: Fix indention on `controller.autoscaling.behavior.scaleDown.polices`.
  charts/ingress-nginx/values.yaml
Due: none

udate readme, charts and static deploys for release 1.5.1
  .github/workflows/ci.yaml
  Changelog.md
  README.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: none

udate readme, charts and static deploys for release 1.5.1 (#9280)
  .github/workflows/ci.yaml
  Changelog.md
  README.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: none

Update index.yaml
  index.yaml
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update ModSecurity to latest head
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image

PDB: Add `maxUnavailable`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/values.yaml
Due: none

add containerSecurityContext to extraModules init containers (kubernetes#9016) (#9242)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/ci/deployment-extra-modules-default-container-sec-context.yaml
  charts/ingress-nginx/ci/deployment-extra-modules-specific-container-sec-context.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: none

PDB: Add `maxUnavailable`. (#9278)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/values.yaml
Due: none
