Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*

update tag to start build
  TAG
Due: post-ingress-nginx-push-images

Remove deprecated net dependency
  TAG
  go.mod
  test/e2e/annotations/grpc.go
Due: post-ingress-nginx-push-images

fixed broken helm version comparision
  build/dev-env.sh
Due: none

fixed broken helm version comparision (#9113)
  build/dev-env.sh
Due: none

comments
  internal/ingress/annotations/opentelemetry/main.go
  internal/ingress/annotations/opentelemetry/main_test.go
  test/e2e/settings/opentelemetry.go
Due: none

Updated the Developer guide with New Contributor information Added more clarity to the docs with regards to the getting-started page for developers.
  docs/developer-guide/getting-started.md
Due: none

Build separate binary including Go's symbol table
  build/build.sh
Due: none

Create step to run govulncheck
  .github/workflows/ci.yaml
Due: none

Upload scannable binary in build step
  .github/workflows/ci.yaml
Due: none

update for 1.4.0 release
  .github/workflows/ci.yaml
  Changelog.md
  README.md
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
Due: none

Update index.yaml
  index.yaml
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Fixed to supported versions
  Changelog.md
  README.md
Due: none

Fixed to supported versions (#9117)
  Changelog.md
  README.md
Due: none

Update index.md
  docs/deploy/index.md
Due: none

Updated incorrect version number in the Installation Guide
  docs/deploy/index.md
Due: none

Updated incorrect version number in the Installation Guide (#9120)
  docs/deploy/index.md
Due: none

Updated the Developer guide with New Contributor information (#9114)
  docs/developer-guide/getting-started.md
Due: none

Deploy GitHub Pages
  developer-guide/getting-started/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Fixed docs helm-docs version
  RELEASE.md
Due: none

Remove deprecated net dependency (#9110)
  TAG
  go.mod
  test/e2e/annotations/grpc.go
Due: post-ingress-nginx-push-images

Fixed docs helm-docs version (#9121)
  RELEASE.md
Due: none

update x/net to remove vul CVE-2022-27664
  .github/workflows/ci.yaml
  .github/workflows/perftest.yaml
  TAG
  go.mod
  go.sum
Due: post-ingress-nginx-push-images

update x/net to remove vul CVE-2022-27664 (#9109)
  .github/workflows/ci.yaml
  .github/workflows/perftest.yaml
  TAG
  go.mod
  go.sum
Due: post-ingress-nginx-push-images

Remove nonexistent load flag from docker build commands
  Makefile
Due: none

Rename controller-wehbooks-networkpolicy.yaml -> controller-webhooks-networkpolicy.yaml.
  charts/ingress-nginx/templates/controller-webhooks-networkpolicy.yaml
Due: none

fix wrong tag
  TAG
Due: post-ingress-nginx-push-images

upgrade to golang 1.19.2
  .github/workflows/ci.yaml
  .github/workflows/plugin.yaml
  Makefile
  build/dev-env.sh
  build/kind.yaml
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/Dockerfile
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-webhook-certgen-image

Rename controller-wehbooks-networkpolicy.yaml -> controller-webhooks-networkpolicy.yaml. (#9123)
  charts/ingress-nginx/templates/controller-webhooks-networkpolicy.yaml
Due: none
