Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Add reporter for all tests
  .github/workflows/ci.yaml
  .github/workflows/junit-reports.yaml
Due: none

Add reporter for all tests (#9395)
  .github/workflows/ci.yaml
  .github/workflows/junit-reports.yaml
Due: none

ci: remove setup-kind step
  .github/workflows/ci.yaml
Due: none

ci: remove setup-kind step (#9401)
  .github/workflows/ci.yaml
Due: none

ci: remove setup-helm step
  .github/workflows/ci.yaml
Due: none

ci: remove setup-helm step (#9404)
  .github/workflows/ci.yaml
Due: none

Update README.md
  charts/ingress-nginx/README.md
Due: none

add flag to enable topology and fixes
  charts/ingress-nginx/templates/_params.tpl
  charts/ingress-nginx/values.yaml
  docs/user-guide/cli-arguments.md
  internal/ingress/controller/controller.go
  internal/ingress/controller/endpointslices.go
  internal/k8s/main.go
  pkg/flags/flags.go
Due: none

update readme
  charts/ingress-nginx/README.md
Due: none

#9403 added a doc to the internal loadBalancerIP
  charts/ingress-nginx/values.yaml
Due: none

#9403 Reverted a manual added line
  charts/ingress-nginx/README.md
Due: none

#9403 re-generated the README with the last doc line added to the value.yaml
  charts/ingress-nginx/README.md
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.5.1 to 2.6.0
  build/run-in-docker.sh
  images/test-runner/rootfs/Dockerfile
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: post-ingress-nginx-build-e2e-image

added proxy-intercept-errors config option
  docs/user-guide/nginx-configuration/annotations.md
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/proxyintercepterrors/main.go
  internal/ingress/annotations/proxyintercepterrors/main_test.go
  internal/ingress/controller/config/config.go
  internal/ingress/defaults/main.go
  pkg/apis/ingress/types.go
  pkg/apis/ingress/types_equals.go
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

#9403 removed trailing spaces
  charts/ingress-nginx/values.yaml
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.5.1 to 2.6.0 (#9408)
  build/run-in-docker.sh
  images/test-runner/rootfs/Dockerfile
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: post-ingress-nginx-build-e2e-image

start upgrade to 1.19.4
  .github/workflows/ci.yaml
  .github/workflows/plugin.yaml
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/Dockerfile
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-webhook-certgen-image

add matrix to image test-image
  .github/workflows/ci.yaml
Due: none

update to alpine 3.17
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/custom-error-pages/rootfs/Dockerfile
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/fastcgi-helloserver/rootfs/Dockerfile
  images/go-grpc-greeter-server/rootfs/Dockerfile
  images/httpbin/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  images/test-runner/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-custom-error-pages-image

remove need for curl
  images/go-grpc-greeter-server/rootfs/Dockerfile
  images/go-grpc-greeter-server/rootfs/main.go
Due: none

start upgrade to golang 1.19.4 and alpine 3.17.0 (#9417)
  .github/workflows/ci.yaml
  .github/workflows/plugin.yaml
  docs/examples/customization/sysctl/patch.json
  images/cfssl/rootfs/Dockerfile
  images/custom-error-pages/rootfs/Dockerfile
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/fastcgi-helloserver/rootfs/Dockerfile
  images/go-grpc-greeter-server/rootfs/Dockerfile
  images/go-grpc-greeter-server/rootfs/main.go
  images/httpbin/rootfs/Dockerfile
  images/kube-webhook-certgen/rootfs/Dockerfile
  images/nginx/rootfs/Dockerfile
  images/opentelemetry/rootfs/Dockerfile
  images/test-runner/Makefile
  images/test-runner/rootfs/Dockerfile
  rootfs/Dockerfile-chroot
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

Deploy GitHub Pages
  examples/customization/sysctl/patch.json
  sitemap.xml
  sitemap.xml.gz
Due: none

cleanup: remove ioutil for new go version
  images/kube-webhook-certgen/rootfs/pkg/certs/certs_test.go
Due: post-ingress-nginx-build-webhook-certgen-image

patch otel docker file
  images/opentelemetry/rootfs/Dockerfile
Due: post-ingress-nginx-build-opentelemetry

gcloud build is timing out
  images/fastcgi-helloserver/cloudbuild.yaml
Due: post-ingress-nginx-build-fastcgi-helloserver-image

update the nginx run container for alpine:3.17.0
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

cleanup: remove ioutil for new go version (#9427)
  images/kube-webhook-certgen/rootfs/pkg/certs/certs_test.go
Due: post-ingress-nginx-build-webhook-certgen-image

HPA: Add `controller.autoscaling.annotations` to `values.yaml`.
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: none

update the nginx run container for alpine:3.17.0 (#9430)
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
