Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Bump github.com/onsi/ginkgo/v2 from 2.6.0 to 2.6.1 (#9432)
  build/run-in-docker.sh
  images/test-runner/rootfs/Dockerfile
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: post-ingress-nginx-build-e2e-image

update the nginx run container for alpine:3.17.0 (#9430)
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

force rebuild for curl cve
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image

HPA: Add `controller.autoscaling.annotations` to `values.yaml`. (#9253)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: none

cleanup: remove ioutil for new go version (#9427)
  images/kube-webhook-certgen/rootfs/pkg/certs/certs_test.go
Due: post-ingress-nginx-build-webhook-certgen-image

CI updates (#9440)
  .github/dependabot.yml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
  .github/workflows/junit-reports.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/project.yml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

restart 1.5.2 release process (#9450)
  TAG
Due: post-ingress-nginx-push-images

Automated Release Controller 1.5.2 (#9455)
  Changelog.md
  README.md
  changelog/Changelog-1.5.2.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog.md.gotmpl
  charts/ingress-nginx/changelog/Changelog-1.5.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
  hack/generate-e2e-suite-doc.sh
Due: none

upgrade nginx base image (#9436)
  NGINX_BASE
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

updated the link in RELEASE.md file (#9456)
  RELEASE.md
Due: none

start release 1.5.2 (#9445)
  TAG
Due: post-ingress-nginx-push-images

Add sslpassthrough tests (#9457)
  build/build.sh
  build/run-in-docker.sh
  pkg/tcpproxy/tcp.go
  test/e2e/framework/deployment.go
  test/e2e/framework/httpexpect/request.go
  test/e2e/settings/ssl_passthrough.go
Due: none

test the new e2e test images (#9444)
  build/run-in-docker.sh
  test/e2e-image/Makefile
Due: none

Update command line arguments documentation (#9224)
  docs/user-guide/cli-arguments.md
  pkg/flags/flags.go
Due: none

with chroot now it can take longer than 30 mins
  cloudbuild.yaml
Due: none

Reset tag to restart 1.5.2 release
  TAG
Due: post-ingress-nginx-push-images

move tests to gh actions (#9461)
  Makefile
  internal/ingress/annotations/authreq/main.go
  internal/ingress/controller/template/template.go
  internal/ingress/resolver/mock.go
  pkg/util/runtime/cpu_linux.go
  rootfs/chroot.sh
  test/e2e/framework/util.go
Due: none

fix change images (#9463)
  changelog/Changelog-1.5.2.md
Due: none

rollback tag
  TAG
Due: post-ingress-nginx-push-images

roll helm chart forward
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
Due: none

revert 1.5.2
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/Changelog-1.5.2.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
  docs/deploy/index.md
  docs/e2e-tests.md
Due: none

Upload SARIF report using codeql's action
  .github/workflows/ci.yaml
Due: none

Add README badge with libyear count
  .github/workflows/ci.yaml
Due: none

Add badge to README
  README.md
Due: none

Remove pull-requests permission
  .github/workflows/ci.yaml
Due: none

Update package
  internal/ingress/annotations/ipdenylist/main.go
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

Revert "go mod tidy"
  go.mod
  go.sum
Due: none

update ginko version
  test/e2e/annotations/ipdenylist.go
Due: none

Optional podman support
  .gitignore
  build/run-in-docker.sh
Due: none

add github actions stale bot
  .github/workflows/stale.yaml
Due: none

Updates e2e tests
  internal/ingress/annotations/ipdenylist/main.go
  internal/ingress/annotations/ipdenylist/main_test.go
  test/e2e/annotations/ipdenylist.go
Due: none

fix test typo
  internal/ingress/annotations/ipdenylist/main_test.go
Due: none

Optional podman support (#9294)
  .gitignore
  build/run-in-docker.sh
Due: none

add e2e test
  charts/ingress-nginx/templates/_params.tpl
  docs/user-guide/cli-arguments.md
  test/e2e-image/namespace-overlays/topology/values.yaml
  test/e2e/endpointslices/topology.go
  test/e2e/framework/deployment.go
  test/e2e/kind.yaml
Due: none

isolate topology test
  test/e2e-image/e2e.sh
  test/e2e/endpointslices/topology.go
Due: none

bump OpenTelemetry
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-build-opentelemetry

bump OpenTelemetry (#9489)
  images/opentelemetry/rootfs/CMakeLists.txt
  images/opentelemetry/rootfs/Dockerfile
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-build-opentelemetry

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
