Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-opentelemetry:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-fastcgi-helloserver-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20220428-ae431ed1aa
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

Bump github.com/onsi/ginkgo/v2 from 2.6.0 to 2.6.1
  build/run-in-docker.sh
  images/test-runner/rootfs/Dockerfile
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: post-ingress-nginx-build-e2e-image

Bump github.com/onsi/ginkgo/v2 from 2.6.0 to 2.6.1 (#9432)
  build/run-in-docker.sh
  images/test-runner/rootfs/Dockerfile
  test/e2e/run-chart-test.sh
  test/e2e/run.sh
Due: post-ingress-nginx-build-e2e-image

HPA: Add `controller.autoscaling.annotations` to `values.yaml`. (#9253)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: none

force rebuild for curl cve
  images/nginx/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image

adjust default parametes in nginx.tmpl
  rootfs/etc/nginx/template/nginx.tmpl
Due: none

add labels to dependabot prs
  .github/dependabot.yml
Due: none

sync hashes and versions dependabot can update the version comment now
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
  .github/workflows/junit-reports.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/project.yml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

CI updates (#9440)
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/depreview.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
  .github/workflows/junit-reports.yaml
  .github/workflows/perftest.yaml
  .github/workflows/plugin.yaml
  .github/workflows/project.yml
  .github/workflows/scorecards.yml
  .github/workflows/vulnerability-scans.yaml
Due: none

trying a matrix build with chroot
  .github/workflows/ci.yaml
Due: none

update image build testing
  .github/workflows/ci.yaml
  .github/workflows/helm.yaml
Due: none

images builds on dispatch
  .github/workflows/ci.yaml
Due: none

add the boolean on image builds for dispatch
  .github/workflows/ci.yaml
Due: none

avoid builds and tests for non-code changes (#9392)
  .github/workflows/ci.yaml
Due: none

upgrade nginx base and e2e base
  NGINX_BASE
  test/e2e-image/Dockerfile
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

upgrade e2e base
  test/e2e-image/Makefile
Due: none

update new build
  NGINX_BASE
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

update to latest e2e base
  build/run-in-docker.sh
Due: none

remove e2e update
  test/e2e-image/Dockerfile
  test/e2e-image/Makefile
Due: none

remove e2e update
  build/run-in-docker.sh
Due: none

test the new e2e test images
  build/run-in-docker.sh
  test/e2e-image/Makefile
Due: none

test the new e2e test images (#9444)
  build/run-in-docker.sh
  test/e2e-image/Makefile
Due: none

upgrade nginx base image (#9436)
  NGINX_BASE
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

start release 1.5.2
  TAG
Due: post-ingress-nginx-push-images

upgrade kind clusters and add 1.26
  .github/workflows/ci.yaml
Due: none

adding more env vars
  .github/workflows/ci.yaml
Due: none

revert matrix env
  .github/workflows/ci.yaml
Due: none

start release 1.5.2 (#9445)
  .github/workflows/ci.yaml
  TAG
Due: post-ingress-nginx-push-images

with chroot now it can take longer than 30 mins
  cloudbuild.yaml
Due: none

Reset tag to restart 1.5.2 release
  TAG
Due: post-ingress-nginx-push-images

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
