Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

bump dependencies to k8s.io v1.25.14
  go.mod
  go.sum
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

add annotation to control pls creation rg
  pkg/consts/consts.go
  pkg/provider/azure.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_repo.go
  pkg/provider/azure_privatelinkservice_repo_test.go
  pkg/provider/azure_privatelinkservice_test.go
  tests/e2e/network/private_link_service.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

add annotation to control pls creation rg
  pkg/consts/consts.go
  pkg/provider/azure.go
  pkg/provider/azure_backoff.go
  pkg/provider/azure_backoff_test.go
  pkg/provider/azure_privatelinkservice.go
  pkg/provider/azure_privatelinkservice_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/azure_wrap_test.go
  tests/e2e/network/private_link_service.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.27
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.25
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.28.1
  content/en/blog/releases/v1.28.1.md
Due: none

Update release notes for v1.26.15
  content/en/blog/releases/v1.26.15.md
Due: none

Update release notes for v1.27.9
  content/en/blog/releases/v1.27.9.md
Due: none

Update release notes for v1.25.19
  content/en/blog/releases/v1.25.19.md
Due: none

rename factory interface functions
  pkg/azclient/auth_test.go
  pkg/azclient/availabilitysetclient/testdata/AvailabilitySet.yaml
  pkg/azclient/client-gen/generator/genclientfactory_action.go
  pkg/azclient/deploymentclient/testdata/Deployment.yaml
  pkg/azclient/diskclient/testdata/Disk.yaml
  pkg/azclient/factory.go
  pkg/azclient/factory_gen.go
  pkg/azclient/factory_test.go
  pkg/azclient/interfaceclient/testdata/Interface.yaml
  pkg/azclient/ipgroupclient/testdata/IPGroup.yaml
  pkg/azclient/loadbalancerclient/testdata/LoadBalancer.yaml
  pkg/azclient/managedclusterclient/testdata/ManagedCluster.yaml
  pkg/azclient/mock_azclient/interface.go
  pkg/azclient/policy/retryonregionalendpoint/retry_endpoint_test.go
  pkg/azclient/policy/retryrepectthrottled/throttle_test.go
  pkg/azclient/privateendpointclient/testdata/PrivateEndpoint.yaml
  pkg/azclient/privatelinkserviceclient/testdata/PrivateLinkService.yaml
  pkg/azclient/privatezoneclient/testdata/PrivateZone.yaml
  pkg/azclient/publicipaddressclient/testdata/PublicIPAddress.yaml
  pkg/azclient/publicipprefixclient/testdata/PublicIPPrefix.yaml
  pkg/azclient/recording/recorder.go
  pkg/azclient/routetableclient/testdata/RouteTable.yaml
  pkg/azclient/securitygroupclient/testdata/SecurityGroup.yaml
  pkg/azclient/snapshotclient/testdata/Snapshot.yaml
  pkg/azclient/subnetclient/testdata/Subnet.yaml
  pkg/azclient/testdata/auth.yaml
  pkg/azclient/virtualmachineclient/testdata/VirtualMachine.yaml
  pkg/azclient/virtualmachinescalesetclient/testdata/VirtualMachineScaleSet.yaml
  pkg/azclient/virtualmachinescalesetvmclient/testdata/VirtualMachineScaleSetVM.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

doc: release v1.28.1, v1.27.9, v1.26.15 and v1.25.19
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update pls-integration.md
  content/en/topics/pls-integration.md
Due: none

fix typo
  content/en/topics/pls-integration.md
Due: none

feat: add node-role.kubernetes.io/controlplane support
  pkg/consts/consts.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update azure_standard.go
  pkg/provider/azure_standard.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

chore: fix typos
  pkg/azureclients/vmssclient/azure_vmssclient.go
  pkg/azureclients/vmssclient/interface.go
  pkg/provider/azure_vmss_test.go
  tests/e2e/utils/node_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: skip tagging route table that is not in the cluster resource group.
  pkg/provider/azure_routes.go
  pkg/provider/azure_routes_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Bump Helm chart to v1.28.1
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.28.1.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

chore: fix typos
  pkg/azureclients/vmssclient/azure_vmssclient.go
  pkg/azureclients/vmssclient/interface.go
  tests/e2e/utils/node_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.28
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix nil policy in percallpolicy option
  pkg/azclient/client-gen/generator/genclientfactory_action.go
  pkg/azclient/factory_gen.go
  pkg/azclient/policy/retryonregionalendpoint/retry_endpoint_test.go
  pkg/azclient/policy/retryrepectthrottled/throttle_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.26
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

update default timeout value and fix recursive panic in transport
  .github/dependabot.yml
  pkg/azclient/factory_conf.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/utils/armbalancer/go.mod
  pkg/azclient/utils/armbalancer/go.sum
  pkg/azclient/utils/armbalancer/transport.go
  pkg/azclient/utils/options.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Test OOT credential provider * Add a template * Add an e2e test
  examples/out-of-tree/credential-provider-config.yaml
  tests/e2e/auth/cred.go
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/azure_auth.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/consts.go
  tests/e2e/utils/container_registry_utils.go
  tests/e2e/utils/pod_utils.go
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ci-version-oot-credential-provider.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[CI] Test OOT credential provider * Add a template * Add an e2e test
  examples/out-of-tree/credential-provider-config.yaml
  tests/e2e/auth/cred.go
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/azure_auth.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/consts.go
  tests/e2e/utils/container_registry_utils.go
  tests/e2e/utils/pod_utils.go
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ci-version-oot-credential-provider.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for master
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Remove KubeletCredentialProviders feature gate in template Since k8s 1.28, this feature gate has been removed. https://github.com/kubernetes/kubernetes/pull/116901
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ci-version-oot-credential-provider.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit
