Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

Update release notes for v1.23.28
  site/content/en/blog/releases/v1.23.28.md
Due: none

Update Helm chart to use hostprocess for Windows
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.26.4+20230203.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

[#3324] - Update references from k8s.gcr.io to registry.k8s.io
  examples/in-tree/kube-apiserver.yaml
  examples/in-tree/kube-controller-manager.yaml
  examples/in-tree/kube-scheduler.yaml
  examples/in-tree/kubelet.manifest
  examples/out-of-tree/kube-apiserver.yaml
  examples/out-of-tree/kube-controller-manager.yaml
  examples/out-of-tree/kube-scheduler.yaml
  examples/out-of-tree/kubelet.manifest
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/pod_utils.go
  tests/kubemark/configs/density/deployment.yaml
  tests/kubemark/configs/density/legacy/rc.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/configmap/deployment_with_configmap.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/downwardapi/deployment_with_downwardapi.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/emptydir/deployment_with_emptydir.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/persistentvolume/deployment_with_pvc.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/secret/deployment_with_secret.yaml
  tests/kubemark/configs/load/config.yaml
  tests/kubemark/configs/load/daemonset.yaml
  tests/kubemark/configs/load/deployment.yaml
  tests/kubemark/configs/load/experimental-config.yaml
  tests/kubemark/configs/load/job.yaml
  tests/kubemark/configs/load/legacy/rc.yaml
  tests/kubemark/configs/load/simple-deployment.yaml
  tests/kubemark/configs/load/statefulset.yaml
  tests/kubemark/configs/node-throughput/config.yaml
  tests/kubemark/configs/node-throughput/windows_override.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

#3324 - Update references from k8s.gcr.io to registry.k8s.io
  examples/in-tree/kube-apiserver.yaml
  examples/in-tree/kube-controller-manager.yaml
  examples/in-tree/kube-scheduler.yaml
  examples/in-tree/kubelet.manifest
  examples/out-of-tree/kube-apiserver.yaml
  examples/out-of-tree/kube-controller-manager.yaml
  examples/out-of-tree/kube-scheduler.yaml
  examples/out-of-tree/kubelet.manifest
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/pod_utils.go
  tests/kubemark/configs/density/deployment.yaml
  tests/kubemark/configs/density/legacy/rc.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/configmap/deployment_with_configmap.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/downwardapi/deployment_with_downwardapi.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/emptydir/deployment_with_emptydir.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/persistentvolume/deployment_with_pvc.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/secret/deployment_with_secret.yaml
  tests/kubemark/configs/load/config.yaml
  tests/kubemark/configs/load/daemonset.yaml
  tests/kubemark/configs/load/deployment.yaml
  tests/kubemark/configs/load/experimental-config.yaml
  tests/kubemark/configs/load/job.yaml
  tests/kubemark/configs/load/legacy/rc.yaml
  tests/kubemark/configs/load/simple-deployment.yaml
  tests/kubemark/configs/load/statefulset.yaml
  tests/kubemark/configs/node-throughput/config.yaml
  tests/kubemark/configs/node-throughput/windows_override.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update references from k8s.gcr.io to registry.k8s.io [#3324]
  examples/in-tree/kube-apiserver.yaml
  examples/in-tree/kube-controller-manager.yaml
  examples/in-tree/kube-scheduler.yaml
  examples/in-tree/kubelet.manifest
  examples/out-of-tree/kube-apiserver.yaml
  examples/out-of-tree/kube-controller-manager.yaml
  examples/out-of-tree/kube-scheduler.yaml
  examples/out-of-tree/kubelet.manifest
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/pod_utils.go
  tests/kubemark/configs/density/deployment.yaml
  tests/kubemark/configs/density/legacy/rc.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/configmap/deployment_with_configmap.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/downwardapi/deployment_with_downwardapi.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/emptydir/deployment_with_emptydir.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/persistentvolume/deployment_with_pvc.yaml
  tests/kubemark/configs/experimental/storage/pod-startup/volume-types/secret/deployment_with_secret.yaml
  tests/kubemark/configs/load/config.yaml
  tests/kubemark/configs/load/daemonset.yaml
  tests/kubemark/configs/load/deployment.yaml
  tests/kubemark/configs/load/experimental-config.yaml
  tests/kubemark/configs/load/job.yaml
  tests/kubemark/configs/load/legacy/rc.yaml
  tests/kubemark/configs/load/simple-deployment.yaml
  tests/kubemark/configs/load/statefulset.yaml
  tests/kubemark/configs/node-throughput/config.yaml
  tests/kubemark/configs/node-throughput/windows_override.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix TestJitterWithNegativeMaxFactor UT Gap between expected and actual value can be negative but its absolute value is still < 1.
  pkg/retry/azure_retry_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix Incorrect conversion between integer types
  pkg/provider/azure_loadbalancer.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

build: Excludes previous release tag commit when generating release notes
  .github/workflows/release.yaml
  hack/generate-release-note.sh
  site/content/en/blog/releases/v1.23.28.md
  site/content/en/blog/releases/v1.24.15.md
  site/content/en/blog/releases/v1.25.9.md
  site/content/en/blog/releases/v1.26.5.md
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix cloud-node-manager-windows helm script args
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.26.4+20230203.tgz
  helm/repo/cloud-provider-azure-1.26.4+20230213.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Remove unnecessary probe port check GetHealthProbeConfigOfPortFromK8sSvcAnnotation() has checked. Add a e2e test.
  pkg/provider/azure_loadbalancer.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Refactor: Solve warnings * io/ioutil->io * Remove duplicate imports * sets.String -> sets.Set[string] * pointer lib usage
  pkg/provider/azure.go
  pkg/provider/azure_backoff.go
  pkg/provider/azure_controller_common_test.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_instance_metadata.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_routes_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_storageaccount_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_test.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_vmssflex_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/azure_wrap_test.go
  pkg/provider/azure_zones_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

build: Excludes previous release tag commit when generating release notes
  .github/workflows/release.yaml
  hack/generate-release-note.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Helm chart 1.26.5 with new patch releases
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.26.5.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Support dual-stack in azure_loadbalancer_backendpool * Backendpool * azure_Standard * azure_utils
  pkg/consts/consts.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_mock_vmsets.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_utils_test.go
  pkg/provider/azure_vmsets.go
  pkg/provider/azure_vmss.go
  pkg/provider/azure_vmss_test.go
  pkg/provider/azure_vmssflex.go
  pkg/provider/azure_vmssflex_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: CVE-2022-41723
  go.mod
  go.sum
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix
  go.mod
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

feat: support armbalancer
  go.mod
  go.sum
  pkg/azureclients/armclient/azure_armclient.go
  vendor/github.com/Azure/go-armbalancer/CODE_OF_CONDUCT.md
  vendor/github.com/Azure/go-armbalancer/LICENSE
  vendor/github.com/Azure/go-armbalancer/README.md
  vendor/github.com/Azure/go-armbalancer/SECURITY.md
  vendor/github.com/Azure/go-armbalancer/SUPPORT.md
  vendor/github.com/Azure/go-armbalancer/armbalancer.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit
