Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

Update release notes for v1.26.18
  content/en/blog/releases/v1.26.18.md
Due: none

Update release notes for v1.25.23
  content/en/blog/releases/v1.25.23.md
Due: none

feat: add occupiedLuns parameter in SetDiskLun func
  pkg/provider/azure_controller_common.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: configloader should work when neither file nor secret config is provided
  pkg/azclient/configloader/config_loader.go
  pkg/azclient/configloader/go.mod
  pkg/azclient/configloader/go.sum
  pkg/azclient/configloader/load.go
  pkg/azclient/configloader/load_test.go
  pkg/azclient/configloader/loader_empty.go
  pkg/azclient/configloader/loader_empty_test.go
  pkg/azclient/configloader/loader_file.go
  pkg/azclient/configloader/loader_file_test.go
  pkg/azclient/configloader/loader_secret.go
  pkg/azclient/configloader/loader_yaml.go
  pkg/azclient/configloader/loader_yaml_test.go
  pkg/azclient/configloader/testdata/azure_merge.json
  pkg/azclient/configloader/testdata/azure_secret.json
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

test: add ut
  pkg/provider/azure_controller_common_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[e2e] Retry for acr cache create
  tests/e2e/auth/cred.go
  tests/e2e/utils/container_registry_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

test: update CAPZ test templates to include calico HelmChartProxy
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ci-version-oot-credential-provider.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-dual-stack-md.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-dual-stack-mp.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ipv6-md.yaml
  tests/k8s-azure/manifest/cluster-api/cluster-template-prow-ipv6-mp.yaml
  tests/k8s-azure/manifest/cluster-api/linux-dualstack.yaml
  tests/k8s-azure/manifest/cluster-api/linux-ipv6.yaml
  tests/k8s-azure/manifest/cluster-api/linux-multiple-vmss-multiple-zones.yaml
  tests/k8s-azure/manifest/cluster-api/linux-multiple-vmss.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-no-win-local.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-no-win-oot-credential-provider.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-no-win.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-version-oot-credential-provider.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-ci-version.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-multiple-zones-ci-version.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss-multiple-zones.yaml
  tests/k8s-azure/manifest/cluster-api/linux-vmss.yaml
  tests/k8s-azure/manifest/cluster-api/vmss-multi-nodepool-in-tree.yaml
  tests/k8s-azure/manifest/cluster-api/vmss-multi-nodepool.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Introduce metrics
  pkg/azclient/accountclient/zz_generated_client.go
  pkg/azclient/availabilitysetclient/zz_generated_client.go
  pkg/azclient/blobcontainerclient/zz_generated_client.go
  pkg/azclient/blobservicepropertiesclient/zz_generated_client.go
  pkg/azclient/client-gen/generator/template.go
  pkg/azclient/deploymentclient/zz_generated_client.go
  pkg/azclient/diskclient/zz_generated_client.go
  pkg/azclient/fileshareclient/zz_generated_client.go
  pkg/azclient/interfaceclient/zz_generated_client.go
  pkg/azclient/ipgroupclient/zz_generated_client.go
  pkg/azclient/loadbalancerclient/zz_generated_client.go
  pkg/azclient/managedclusterclient/zz_generated_client.go
  pkg/azclient/privateendpointclient/zz_generated_client.go
  pkg/azclient/privatelinkserviceclient/zz_generated_client.go
  pkg/azclient/privatezoneclient/zz_generated_client.go
  pkg/azclient/providerclient/zz_generated_client.go
  pkg/azclient/publicipaddressclient/zz_generated_client.go
  pkg/azclient/publicipprefixclient/zz_generated_client.go
  pkg/azclient/registryclient/zz_generated_client.go
  pkg/azclient/resourcegroupclient/zz_generated_client.go
  pkg/azclient/routetableclient/zz_generated_client.go
  pkg/azclient/secretclient/zz_generated_client.go
  pkg/azclient/securitygroupclient/zz_generated_client.go
  pkg/azclient/snapshotclient/zz_generated_client.go
  pkg/azclient/sshpublickeyresourceclient/zz_generated_client.go
  pkg/azclient/subnetclient/zz_generated_client.go
  pkg/azclient/trace/go.mod
  pkg/azclient/trace/go.sum
  pkg/azclient/trace/metrics/metrics.go
  pkg/azclient/trace/tracing.go
  pkg/azclient/utils/ctx.go
  pkg/azclient/vaultclient/zz_generated_client.go
  pkg/azclient/virtualmachineclient/zz_generated_client.go
  pkg/azclient/virtualmachinescalesetclient/zz_generated_client.go
  pkg/azclient/virtualmachinescalesetvmclient/zz_generated_client.go
  pkg/azclient/virtualnetworkclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.26
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.27
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for master
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

test client timeout
  tests/e2e/utils/azure_test_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Update vendor license for release-1.28
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

move CloudConfigType to configloader package
  go.mod
  go.sum
  pkg/provider/azure.go
  pkg/provider/azure_config.go
  pkg/provider/azure_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/configloader/config_loader.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/configloader/load.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/configloader/loader_empty.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/configloader/loader_file.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/configloader/loader_secret.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/configloader/loader_yaml.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

remove trytimeout in default settings and add custom options for clientFactory
  pkg/azclient/client-gen/generator/genclientfactory_action.go
  pkg/azclient/factory_gen.go
  pkg/azclient/managedclusterclient/testdata/ManagedCluster.yaml
  pkg/azclient/utils/options.go
  pkg/azclient/vaultclient/testdata/Vault.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: set AuxiliaryTenants in resource clients and token client
  pkg/azclient/arm_conf.go
  pkg/azclient/auth.go
  pkg/azclient/auth_conf.go
  pkg/azclient/auth_test.go
  pkg/azclient/cloud.go
  pkg/azclient/cloud_test.go
  pkg/azclient/factory_conf.go
  pkg/azclient/recording/recorder.go
  pkg/azclient/testdata/auth.yaml
  pkg/azclient/utils/const.go
  pkg/azclient/utils/options.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix e2e
  tests/e2e/network/network_security_group.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Fix allowed-ip-ranges for IPv6 test scenario
  pkg/consts/consts.go
  tests/e2e/network/network_security_group.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Access control loadbalancer by both ip ranges and service tags
  pkg/consts/consts.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/netip.go
  pkg/provider/loadbalancer/netip_test.go
  tests/e2e/network/network_security_group.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix annotation comment
  pkg/consts/consts.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Fix imports
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix(azclient): allow password-less certificates
  pkg/azclient/auth.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix(azclient): deprecate decodePkcs12 in favor of azidentity.ParseCertificates
  pkg/azclient/auth.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit
