Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

fix: do not tag user-assigned public IP
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: change the expected tags in aks e2e test
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Update run-basic-lb-e2e.yml for Azure Pipelines
  .pipelines/run-basic-lb-e2e.yml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.23.30
  site/content/en/blog/releases/v1.23.30.md
Due: none

Update release notes for v1.24.17
  site/content/en/blog/releases/v1.24.17.md
Due: none

Update release notes for v1.26.7
  site/content/en/blog/releases/v1.26.7.md
Due: none

Update release notes for v1.25.11
  site/content/en/blog/releases/v1.25.11.md
Due: none

Helm chart 1.26.6 with new patch releases
  README.md
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.26.6.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Removing Windows SAC images from container builds
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Enable azure-load-balancer-resource-group test Before, there's an issue with upstream pipeline on ARM so it is only tested in AKS pipeline. Now, it seems recovered.
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Helm chart 1.26.7 with new patch releases
  README.md
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.26.7.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

[e2e] Delete ns and client if not nil to avoid panic
  tests/e2e/auth/cred.go
  tests/e2e/autoscaling/autoscaler.go
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/network_security_group.go
  tests/e2e/network/node.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
  tests/e2e/network/standard_lb.go
  tests/e2e/node/vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

chore: add a comment to address a potential bug that is introduced by orphaned ipconfigs on the lb
  pkg/provider/azure_vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Disable provenance attestation to workaround docker buildx issue
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Delete ns and client if not nil to avoid panic
  tests/e2e/auth/cred.go
  tests/e2e/autoscaling/autoscaler.go
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/network_security_group.go
  tests/e2e/network/node.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
  tests/e2e/network/standard_lb.go
  tests/e2e/node/vmss.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

[release-1.23] Disable provenance attestation to workaround docker buildx issue
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

chore: temporarily change the expected tags in aks pip tags e2e test
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

[#3580] - Link to cloud provider config is broken on docs 'Deploy Cloud Controller Manager' page --fixed
  site/content/en/install/azure-ccm.md
Due: none
