Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

return error when client received toomanyrequest error
  pkg/azclient/Makefile
  pkg/azclient/policy/retry.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: the pip without tags should be user-assigned fix: refresh the pip cache when necessary fix: do not tag user-assigned pip with `kubernetes-dns-label-service: <svcName>`
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_wrap.go
  pkg/provider/azure_wrap_test.go
  site/content/en/topics/shared-ip.md
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

add otel tracing implementation
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/utils/options.go
  pkg/azclient/utils/tracing.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: the pip without tags should be user-assigned fix: refresh the pip cache when necessary fix: do not tag user-assigned pip with `kubernetes-dns-label-service: <svcName>`
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/azure_wrap_test.go
  site/content/en/topics/shared-ip.md
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.27.3
  site/content/en/blog/releases/v1.27.3.md
Due: none

Update release notes for v1.26.9
  site/content/en/blog/releases/v1.26.9.md
Due: none

Update release notes for v1.25.13
  site/content/en/blog/releases/v1.25.13.md
Due: none

Update release notes for v1.24.19
  site/content/en/blog/releases/v1.24.19.md
Due: none

doc: update readme and examples for new image versions
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Set gcloud ver to 2023424
  cloudbuild.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Allow deprecated beta topology labels to be applied for those not ready to migrate
  cmd/cloud-node-manager/app/config/config.go
  cmd/cloud-node-manager/app/nodemanager.go
  cmd/cloud-node-manager/app/options/options.go
  pkg/nodemanager/nodemanager.go
  pkg/nodemanager/nodemanager_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[e2e] Adjust for IPv6 VMSS
  tests/e2e/network/network_security_group.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/standard_lb.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

export mock interface in azclient
  pkg/azclient/availabilitysetclient/mock_availabilitysetclient/interface.go
  pkg/azclient/client-gen/generator/codegenerator.go
  pkg/azclient/client-gen/generator/genmock_action.go
  pkg/azclient/deploymentclient/mock_deploymentclient/interface.go
  pkg/azclient/diskclient/mock_diskclient/interface.go
  pkg/azclient/interfaceclient/mock_interfaceclient/interface.go
  pkg/azclient/loadbalancerclient/mock_loadbalancerclient/interface.go
  pkg/azclient/managedclusterclient/mock_managedclusterclient/interface.go
  pkg/azclient/privateendpointclient/mock_privateendpointclient/interface.go
  pkg/azclient/privatelinkserviceclient/mock_privatelinkserviceclient/interface.go
  pkg/azclient/privatezoneclient/mock_privatezoneclient/interface.go
  pkg/azclient/publicipaddressclient/mock_publicipaddressclient/interface.go
  pkg/azclient/routetableclient/mock_routetableclient/interface.go
  pkg/azclient/securitygroupclient/mock_securitygroupclient/interface.go
  pkg/azclient/virtualmachineclient/mock_virtualmachineclient/interface.go
  pkg/azclient/virtualmachinescalesetclient/mock_virtualmachinescalesetclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

chore: update docs for cross resource group nodes
  site/content/en/topics/cross-resource-group-nodes.md
Due: none

use custom probe rule when externalTrafficPolicy is local and PLSProxyProtocol is enabled
  pkg/consts/helpers.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[IPv6] backend pool name should be case-insensitive
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

update pls and lb doc
  site/content/en/topics/loadbalancer.md
  site/content/en/topics/pls-integration.md
Due: none

backend pool name should be case-insensitive
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Adjust UT util functions for cherrypick without DualStack support
  pkg/provider/azure_loadbalancer_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Adjust UT util functions for cherrypick without DualStack support
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/azure_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/kubetest2-release.yml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/scorecards.yml
  .github/workflows/test-docs.yaml
  .github/workflows/trivy.yaml
  Dockerfile
  vendor/golang.org/x/net/http2/Dockerfile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Revert "chore: temporarily change the expected tags in aks pip tags e2e test"
  tests/e2e/network/service_annotations.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

remove unnecessary dependencies from azclient
  pkg/azclient/Makefile
  pkg/azclient/client-gen/go.mod
  pkg/azclient/client-gen/go.sum
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/policy/ratelimit.go
  pkg/azclient/policy/retry.go
  pkg/azclient/utils/flowcontrol/docs.go
  pkg/azclient/utils/flowcontrol/throttle.go
  pkg/azclient/utils/flowcontrol/throttle_test.go
  pkg/azclient/utils/tracing.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit
