Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

Update release notes for v1.25.8
  site/content/en/blog/releases/v1.25.8.md
Due: none

Fix go 1.17 mod selection issue in run-e2e.sh For release 1.23, go version is 1.17 but kubetest2-aks is 1.18. go mod tidy should use option -compa=1.17 to solve the mod selection problem.
  .pipelines/scripts/run-e2e.sh
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

cleanup: refine azure disk driver loggging
  pkg/provider/azure_controller_common.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[e2e] Support dual-stack - utils * Support dual-stack in e2e utils functions and methods * Adjust related e2e test code * Define some dual-stack Service annotations
  pkg/consts/consts.go
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/network_security_group.go
  tests/e2e/network/node.go
  tests/e2e/network/private_link_service.go
  tests/e2e/network/service_annotations.go
  tests/e2e/network/standard_lb.go
  tests/e2e/utils/azure_test_client.go
  tests/e2e/utils/network_utils.go
  tests/e2e/utils/network_utils_test.go
  tests/e2e/utils/service_utils.go
  tests/e2e/utils/utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

refactor ratelimit config
  pkg/provider/azure.go
  pkg/provider/azure_ratelimit_test.go
  pkg/provider/config/azure_ratelimit.go
  pkg/provider/config/azure_ratelimit_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

refactor: move auth config to config package
  pkg/credentialprovider/azure_acr_helper.go
  pkg/credentialprovider/azure_credentials.go
  pkg/provider/azure.go
  pkg/provider/azure_config_test.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_test.go
  pkg/provider/config/azure_auth.go
  pkg/provider/config/azure_auth_test.go
  pkg/provider/config/doc.go
  pkg/provider/config/testdata/test.pfx
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

chore: add batch module
  go.mod
  pkg/batch/batch.go
  pkg/batch/batch_test.go
  pkg/batch/interface.go
  pkg/batch/metrics.go
  pkg/batch/types.go
  pkg/batch/utils.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

feat: use generic batch processor for disk attach/detach
  go.mod
  pkg/metrics/azure_batch_metrics.go
  pkg/metrics/azure_metrics.go
  pkg/provider/azure.go
  pkg/provider/azure_controller_common.go
  pkg/provider/azure_controller_common_test.go
  pkg/provider/config/azure_ratelimit.go
  pkg/provider/config/azure_ratelimit_test.go
  vendor/k8s.io/klog/v2/klogr/README.md
  vendor/k8s.io/klog/v2/klogr/klogr.go
  vendor/modules.txt
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

feat: disable AttachDetachDiskRateLimiter
  pkg/provider/azure.go
  pkg/provider/azure_controller_common.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

test: fix ut race condition
  go.mod
  pkg/provider/azure_controller_common_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

chore: remove async mode
  pkg/provider/azure_controller_common.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

helm chart 1.26.4 with latest releases
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.26.4.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

Disable provenance attestation to workaround docker buildx issue
  Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Helm chart 1.26.4 with new patch releases
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.26.4.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

fix: add disk attach/detach delay time to allow more batch
  pkg/provider/azure_controller_common.go
  pkg/provider/azure_controller_common_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

chore: add AttachDetachInitialDelayInMs setting
  pkg/provider/azure.go
  pkg/provider/azure_controller_common.go
  pkg/provider/azure_controller_common_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Refactor: Solve warnings * io/ioutil->io * Remove duplicate imports * sets.String -> sets.Set[string] * pointer lib usage
  pkg/provider/azure.go
  pkg/provider/azure_backoff.go
  pkg/provider/azure_controller_common_test.go
  pkg/provider/azure_fakes.go
  pkg/provider/azure_instance_metadata.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_backendpool.go
  pkg/provider/azure_loadbalancer_backendpool_test.go
  pkg/provider/azure_routes.go
  pkg/provider/azure_routes_test.go
  pkg/provider/azure_standard.go
  pkg/provider/azure_standard_test.go
  pkg/provider/azure_storageaccount_test.go
  pkg/provider/azure_test.go
  pkg/provider/azure_utils.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_test.go
  pkg/provider/azure_vmssflex_cache.go
  pkg/provider/azure_vmssflex_test.go
  pkg/provider/azure_wrap.go
  pkg/provider/azure_wrap_test.go
  pkg/provider/azure_zones_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[e2e] Support dual-stack - ensureloadbalancer & nsg
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/network_security_group.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

kubetest2-aks release pipeline
  .github/workflows/release.yaml
Due: none

Trigger when tag is kubetest2-aks-v*.*.*
  .github/workflows/release.yaml
Due: none

Update nodeSelector and tolerations
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/cloud-provider-azure/values.yaml
Due: pull-cloud-provider-azure-check

Bump gcb-docker-gcloud image version New image has latest docker buildx.
  cloudbuild.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update kubetest2-aks pipeline * Fix release yml file * Set CGO_ENABLED=0 when building
  .github/workflows/kubetest2-release-bin.yml
  .github/workflows/release.yaml
  kubetest2-aks/Makefile
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Support Win & VMSS in IPv6 & Dualstack cluster templates
  tests/k8s-azure/manifest/cluster-api/linux-dualstack-vmss-no-win.yaml
  tests/k8s-azure/manifest/cluster-api/linux-dualstack-vmss.yaml
  tests/k8s-azure/manifest/cluster-api/linux-dualstack.yaml
  tests/k8s-azure/manifest/cluster-api/linux-ipv6-vmss.yaml
  tests/k8s-azure/manifest/cluster-api/linux-ipv6.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix: remove vmss vm from cache when invalidate the cache
  pkg/provider/azure_vmss_cache.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[e2e] Support dual-stack - Service annotation
  tests/e2e/network/ensureloadbalancer.go
  tests/e2e/network/service_annotations.go
  tests/e2e/utils/network_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

fix: race condition in lockMap
  pkg/provider/azure_utils.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.26.5
  site/content/en/blog/releases/v1.26.5.md
Due: none

Update release notes for v1.25.9
  site/content/en/blog/releases/v1.25.9.md
Due: none

Remove kubetest2-aks pipeline It is only needed in master.
  .github/workflows/release.yaml
Due: none

Remove kubetest2-aks pipeline
  .github/workflows/release.yaml
Due: none

Update release notes for v1.24.15
  site/content/en/blog/releases/v1.24.15.md
Due: none
