Repository kubernetes-sigs/cloud-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Path conditions:
  pull-cloud-provider-azure-check: unless all of: ^docs/|^site/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-capz: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz: unless all of: ^docs/|^site/|^helm/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$
  pull-cloud-provider-azure-unit: unless all of: ^docs/|^site/|^helm/|^tests/e2e/|^\.github/|\.(md|adoc)$|^(README|LICENSE)$

fix: VM name should be obtained from NIC.VirtualMachine.ID instead of NIC name.
  pkg/provider/azure_utils.go
  pkg/provider/azure_vmss_cache.go
  pkg/provider/azure_vmss_cache_test.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

[e2e] IsSpotVMSS: Check field is nil to avoid memory leak
  tests/e2e/utils/vmss_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Update vendor license for master
  pkg/azclient/factory_gen.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for master
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.26
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

doc: update readme and example for new versions
  README.md
  examples/out-of-tree/cloud-controller-manager.yaml
  examples/out-of-tree/cloud-node-manager.yaml
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.27.11
  content/en/blog/releases/v1.27.11.md
Due: none

Update release notes for v1.28.3
  content/en/blog/releases/v1.28.3.md
Due: none

Update release notes for v1.26.17
  content/en/blog/releases/v1.26.17.md
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

chore: update golang version to 1.19
  go.mod
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix nil pointer in list vm result
  tests/e2e/utils/vmss_utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz

Update vendor license for release-1.25
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update release notes for v1.25.22
  content/en/blog/releases/v1.25.22.md
Due: none

doc: add release note for v1.25.21
  content/en/blog/releases/v1.25.21.md
Due: none

add fileshare client
  pkg/azclient/Makefile
  pkg/azclient/factory.go
  pkg/azclient/factory_gen.go
  pkg/azclient/factory_test.go
  pkg/azclient/fileshareclient/custom.go
  pkg/azclient/fileshareclient/custom_test.go
  pkg/azclient/fileshareclient/fileshareclient_suite_test.go
  pkg/azclient/fileshareclient/fileshareclient_test.go
  pkg/azclient/fileshareclient/interface.go
  pkg/azclient/fileshareclient/mock_fileshareclient/interface.go
  pkg/azclient/fileshareclient/testdata/FileShare.yaml
  pkg/azclient/fileshareclient/zz_generated_client.go
  pkg/azclient/mock_azclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

ignore CVE-2023-45142 because it is not related
  .trivyignore
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

add vault and secret client
  pkg/azclient/Makefile
  pkg/azclient/factory.go
  pkg/azclient/factory_gen.go
  pkg/azclient/factory_test.go
  pkg/azclient/go.mod
  pkg/azclient/go.sum
  pkg/azclient/mock_azclient/interface.go
  pkg/azclient/secretclient/custom.go
  pkg/azclient/secretclient/custom_test.go
  pkg/azclient/secretclient/interface.go
  pkg/azclient/secretclient/mock_secretclient/interface.go
  pkg/azclient/secretclient/secretclient_suite_test.go
  pkg/azclient/secretclient/secretclient_test.go
  pkg/azclient/secretclient/testdata/Secret.yaml
  pkg/azclient/secretclient/zz_generated_client.go
  pkg/azclient/vaultclient/custom.go
  pkg/azclient/vaultclient/custom_test.go
  pkg/azclient/vaultclient/interface.go
  pkg/azclient/vaultclient/mock_vaultclient/interface.go
  pkg/azclient/vaultclient/testdata/Vault.yaml
  pkg/azclient/vaultclient/vaultclient_suite_test.go
  pkg/azclient/vaultclient/vaultclient_test.go
  pkg/azclient/vaultclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

fix federated token config in helm chart
  helm/cloud-provider-azure/Chart.yaml
  helm/cloud-provider-azure/templates/cloud-provider-azure.yaml
  helm/repo/cloud-provider-azure-1.28.1+20231102.tgz
  helm/repo/index.yaml
Due: pull-cloud-provider-azure-check

add blob client
  pkg/azclient/Makefile
  pkg/azclient/blobcontainerclient/blobcontainerclient_suite_test.go
  pkg/azclient/blobcontainerclient/blobcontainerclient_test.go
  pkg/azclient/blobcontainerclient/custom.go
  pkg/azclient/blobcontainerclient/custom_test.go
  pkg/azclient/blobcontainerclient/interface.go
  pkg/azclient/blobcontainerclient/mock_blobcontainerclient/interface.go
  pkg/azclient/blobcontainerclient/testdata/BlobContainer.yaml
  pkg/azclient/blobcontainerclient/zz_generated_client.go
  pkg/azclient/blobservicepropertiesclient/blobservicepropertiesclient_suite_test.go
  pkg/azclient/blobservicepropertiesclient/blobservicepropertiesclient_test.go
  pkg/azclient/blobservicepropertiesclient/custom.go
  pkg/azclient/blobservicepropertiesclient/custom_test.go
  pkg/azclient/blobservicepropertiesclient/interface.go
  pkg/azclient/blobservicepropertiesclient/mock_blobservicepropertiesclient/interface.go
  pkg/azclient/blobservicepropertiesclient/testdata/BlobServiceProperties.yaml
  pkg/azclient/blobservicepropertiesclient/zz_generated_client.go
  pkg/azclient/client-gen/generator/codegenerator.go
  pkg/azclient/client-gen/generator/template.go
  pkg/azclient/factory.go
  pkg/azclient/factory_gen.go
  pkg/azclient/factory_test.go
  pkg/azclient/mock_azclient/interface.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.27
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Update vendor license for release-1.28
  go.sum
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

Access control loadbalancer by both ip ranges and service tags
  pkg/consts/consts.go
  pkg/provider/azure_loadbalancer.go
  pkg/provider/azure_loadbalancer_test.go
  pkg/provider/loadbalancer/accesscontrol.go
  pkg/provider/loadbalancer/accesscontrol_test.go
  pkg/provider/loadbalancer/netip.go
  pkg/provider/loadbalancer/netip_test.go
  tests/e2e/network/network_security_group.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

add storage provider
  pkg/provider/storage/azure_file.go
  pkg/provider/storage/azure_storage.go
  pkg/provider/storage/azure_storage_test.go
  pkg/provider/storage/azure_storageaccount.go
  pkg/provider/storage/azure_storageaccount_test.go
  pkg/util/utils.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit

track2 sdk: add provider client
  pkg/azclient/Makefile
  pkg/azclient/factory.go
  pkg/azclient/factory_gen.go
  pkg/azclient/factory_test.go
  pkg/azclient/mock_azclient/interface.go
  pkg/azclient/providerclient/custom.go
  pkg/azclient/providerclient/custom_test.go
  pkg/azclient/providerclient/interface.go
  pkg/azclient/providerclient/mock_providerclient/interface.go
  pkg/azclient/providerclient/providerclient_suite_test.go
  pkg/azclient/providerclient/providerclient_test.go
  pkg/azclient/providerclient/testdata/Provider.yaml
  pkg/azclient/providerclient/zz_generated_client.go
Due: pull-cloud-provider-azure-check, pull-cloud-provider-azure-e2e-ccm-vmss-capz, pull-cloud-provider-azure-e2e-capz, pull-cloud-provider-azure-e2e-ccm-capz, pull-cloud-provider-azure-e2e-ccm-vmss-ip-lb-capz, pull-cloud-provider-azure-unit
