Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum)

Adds new controller for node labeling
  config/rbac/role.yaml
  controllers/node_controller.go
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds feature flag for node labeling
  config/manager/manager.yaml
  feature/feature.go
  main.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds e2e test for node labeling
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/node_labeling_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Exposes vCenter version on cluster status
  apis/v1alpha3/conversion.go
  apis/v1alpha3/conversion_test.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/vspherecluster_types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  controllers/vspherecluster_reconciler.go
  go.mod
  pkg/session/error.go
  pkg/session/version.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds e2e test for anti affinity
  test/e2e/anti_affinity_test.go
  test/e2e/common.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/govmomi_test.go
  test/e2e/storage_policy_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds ESXi host info to VSphere Machine
  apis/v1alpha3/conversion_test.go
  apis/v1alpha3/vspherevm_conversion.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/vspherevm_conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/vspherevm_types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/rbac/role.yaml
  controllers/vspheremachine_controller.go
  pkg/constants/constants.go
  pkg/services/govmomi/service.go
  pkg/services/interfaces.go
  pkg/services/vimmachine.go
  pkg/services/vimmachine_test.go
  pkg/services/vmoperator/vmopmachine.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fixes feature flag import
  feature/gates.go
  go.mod
  go.sum
  main.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds default resource pool logic
  controllers/clustermodule_reconciler.go
  controllers/clustermodule_reconciler_test.go
  pkg/clustermodule/error.go
  pkg/clustermodule/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Allow mutation of OS field and only when it's empty
  apis/v1beta1/vspherevm_webhook.go
  apis/v1beta1/vspherevm_webhook_test.go
Due: none

Adds write permission for workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/verify-pr.yml
  CONTRIBUTING.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Fixes YAML
  .github/workflows/verify-pr.yml
Due: none

Introduces new flag for setting min TLS version
  main.go
Due: none

Set default min tls version to 1.2
  main.go
Due: none

Fixes docker build command for post deploy job
  hack/release.sh
Due: pull-cluster-api-provider-vsphere-verify-shell

Creates token secret for service account
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_suite_test.go
  controllers/serviceaccount_controller_unit_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Set VSphereMachine.Spec.Volumes zone annotation
  pkg/services/vmoperator/vmopmachine.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Uses cluster name for resource policy creation
  pkg/services/vmoperator/resource_policy.go
  pkg/services/vmoperator/resource_policy_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Use CloudInit bootstrap w VM Operator
  pkg/services/vmoperator/vmopmachine.go
  test/integration/integration_suite_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Reuse CAPI bootstrap secret with Supervisor
  pkg/services/vmoperator/constants.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
  pkg/util/testutil.go
  pkg/util/vmware/util.go
  test/integration/cluster_lifecycle_test.go
  test/integration/sanity_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fix PVC OwnerRef bug for Supervisor
  pkg/services/vmoperator/vmopmachine.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Only set PVC zone annotation when zonal storage classes are required
  pkg/services/vmoperator/vmopmachine.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Removes test related flags from binary
  controllers/controllers_suite_test.go
  controllers/serviceaccount_controller.go
  controllers/serviceaccount_controller_intg_test.go
  controllers/serviceaccount_controller_suite_test.go
  controllers/serviceaccount_controller_unit_test.go
  controllers/servicediscovery_controller.go
  controllers/svcdiscovery_controller_intg_test.go
  controllers/svcdiscovery_controller_suite_test.go
  controllers/svcdiscovery_controller_unit_test.go
  pkg/builder/flags.go
  pkg/builder/test_suite.go
  pkg/builder/testutil.go
  test/helpers/vmware/intg_test_context.go
  test/helpers/vmware/unit_test_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Updates flags for webhook server TLS config
  main.go
Due: none

Update kube-vip to 0.5.5
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-e2e

Add age to printercolumn of vspherecluster and vspheremachine
  apis/v1alpha3/vspherecluster_types.go
  apis/v1alpha3/vspheremachine_types.go
  apis/v1alpha4/vspherecluster_types.go
  apis/v1alpha4/vspheremachine_types.go
  apis/v1beta1/vspherecluster_types.go
  apis/v1beta1/vspheremachine_types.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vsphereclusters.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

CAPV IPAM support proposal
  docs/proposal/20220929-ipam-support.md
Due: pull-cluster-api-provider-vsphere-verify-markdown
