Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Path conditions:
  post-cluster-api-provider-vsphere-deploy: any of: ^((api|cmd|config|contrib|controllers|pkg|test|examples)/|Dockerfile|Makefile)
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/check-lint\.sh)
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((api|cmd|config|contrib|controllers|pkg)/|Makefile|hack/verify-crds\.sh|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-integration-test: any of: ^((api|cmd|config|contrib|controllers|pkg|test)/|Makefile|go\.mod|go\.sum)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((api|cmd|config|contrib|controllers|packaging|pkg|test)/|Dockerfile|Makefile|hack/e2e\.sh|go\.mod|go\.sum)

Skip creation of cluster modules
  controllers/clustermodule_reconciler.go
  controllers/clustermodule_reconciler_test.go
  pkg/clustermodule/service.go
  pkg/clustermodule/service_test.go
  pkg/clustermodule/session.go
  pkg/context/fake/constants.go
  pkg/context/fake/fake_cluster_context.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Increases verbosity level for some logs
  pkg/services/govmomi/service.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds label validation & sanitization logic
  controllers/vspheremachine_controller.go
  pkg/util/label.go
  pkg/util/label_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Updates flags for webhook server TLS config
  main.go
Due: none

Run `make generate`
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
Due: none

Adds object info to logger statements
  controllers/vspheremachine_controller.go
  controllers/vspheremachine_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

TEST - Ensure CI catches generation issues
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-e2e

Adds provision to set VMX Version
  apis/v1alpha3/conversion_test.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/types.go
  apis/v1beta1/vspheremachinetemplate_webhook.go
  apis/v1beta1/vspheremachinetemplate_webhooks_test.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/services/govmomi/service.go
  pkg/util/vmx.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove storage policy usage from all e2e tests
  .gitignore
  Makefile
  test/e2e/anti_affinity_test.go
  test/e2e/common.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/base/kustomization.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/commons/remove-storage-policy.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/storage-policy/kustomization.yaml
  test/e2e/node_labeling_test.go
  test/e2e/storage_policy_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds E2E for the Hardware Version This PR adds E2E tests for hardware version check.
  Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/hw/hw-template.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/hw/kustomization.yaml
  test/e2e/hardware_version_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add implementation of Node IPAM support
  apis/v1alpha3/networkdevicespec_conversion.go
  apis/v1alpha3/vspheremachine_conversion.go
  apis/v1alpha3/vspheremachinetemplate_conversion.go
  apis/v1alpha3/vspherevm_conversion.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/networkdevicespec_conversion.go
  apis/v1alpha4/vspheremachine_conversion.go
  apis/v1alpha4/vspheremachinetemplate_conversion.go
  apis/v1alpha4/vspherevm_conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/condition_consts.go
  apis/v1beta1/types.go
  apis/v1beta1/vspherevm_types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  config/rbac/role.yaml
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
  go.mod
  go.sum
  pkg/context/fake/fake_controller_manager_context.go
  pkg/manager/manager.go
  pkg/services/govmomi/context.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/service_test.go
  pkg/util/machines.go
  pkg/util/machines_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Check for nil Cluster InfrastructureRef in ClusterModule reconcile
  controllers/clustermodule_reconciler.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds E2E test for VMX version upgrade feature
  Makefile
  test/e2e/common.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/hw-upgrade/kustomization.yaml
  test/e2e/hardware_upgrade_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Add Ignition support
  Makefile
  docs/ignition.md
  packaging/flavorgen/cmd/root.go
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
  pkg/services/govmomi/create.go
  pkg/services/govmomi/create_test.go
  pkg/services/govmomi/esxi/clone.go
  pkg/services/govmomi/extra/config.go
  pkg/services/govmomi/extra/extra_suite_test.go
  pkg/services/govmomi/service.go
  pkg/services/govmomi/vcenter/clone.go
  templates/cluster-template-ignition.yaml
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/ignition/ignition.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/ignition/kustomization.yaml
  test/e2e/ignition_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Remove unused "replicas" kubeadmControlPlane param
  packaging/flavorgen/flavors/flavors.go
  packaging/flavorgen/flavors/generators.go
Due: pull-cluster-api-provider-vsphere-e2e

Changes for new minor release v1.5.0
  clusterctl-settings.json
  metadata.yaml
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/integration/integration-dev.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Removes hard dependency on cluster module info
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
  pkg/context/fake/fake_controller_manager_context.go
  pkg/services/fake/vmservice.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Switch LB tests to table-tests and make them pass
  controllers/vmware/test/controllers_suite_test.go
  controllers/vmware/test/controllers_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

add ability to configure DHCP overrides
  Makefile
  apis/v1alpha3/vspheremachine_conversion.go
  apis/v1alpha3/vspheremachinetemplate_conversion.go
  apis/v1alpha3/vspherevm_conversion.go
  apis/v1alpha3/zz_generated.conversion.go
  apis/v1alpha4/vspheremachine_conversion.go
  apis/v1alpha4/vspheremachinetemplate_conversion.go
  apis/v1alpha4/vspherevm_conversion.go
  apis/v1alpha4/zz_generated.conversion.go
  apis/v1beta1/types.go
  apis/v1beta1/zz_generated.deepcopy.go
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachines.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspheremachinetemplates.yaml
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_vspherevms.yaml
  pkg/util/constants.go
  pkg/util/machines_test.go
  test/e2e/config/vsphere-ci.yaml
  test/e2e/config/vsphere-dev.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/dhcp-overrides/dhcp-overrides.yaml
  test/e2e/data/infrastructure-vsphere/kustomization/dhcp-overrides/kustomization.yaml
  test/e2e/dhcp_overrides_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

flavorgen: Use local_hostname instead of FQDN for node name
  packaging/flavorgen/flavors/generators.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template.yaml
  templates/clusterclass-template.yaml
Due: pull-cluster-api-provider-vsphere-e2e

refactor and test(unit): govmomi.findVM()
  pkg/services/govmomi/errors.go
  pkg/services/govmomi/util.go
  pkg/services/govmomi/util_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Adds dependabot config
  .github/dependabot.yml
Due: none

bump dependncies to fix CVEs
  go.mod
  go.sum
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update livenessprobe image to match vsphere-csi-driver
  pkg/services/cloudprovider/csi.go
  templates/cluster-template-external-loadbalancer.yaml
  templates/cluster-template-ignition.yaml
  templates/cluster-template-topology.yaml
  templates/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha3/cluster-template.yaml
  test/e2e/data/infrastructure-vsphere/capi-upgrades/v1alpha4/cluster-template.yaml
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Checks for feature flag during VM reconciliation
  controllers/vspherevm_controller.go
  controllers/vspherevm_controller_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Update the vm-operator API to the new repo location
  Makefile
  apis/v1beta1/vspheremachine_webhook.go
  apis/v1beta1/vspherevm_webhook.go
  config/deployments/integration-tests/crds/vmoperator.vmware.com_clustervirtualmachineimages.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentlibraryproviders.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_contentsources.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclassbindings.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineclasses.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinepublishrequests.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachines.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachineservices.yaml
  config/deployments/integration-tests/crds/vmoperator.vmware.com_virtualmachinesetresourcepolicies.yaml
  controllers/vmware/test/controllers_test.go
  controllers/vspheremachine_controller.go
  go.mod
  go.sum
  pkg/context/fake/fake_controller_manager_context.go
  pkg/manager/manager.go
  pkg/services/interfaces.go
  pkg/services/network/dummy_provider.go
  pkg/services/network/netop_provider.go
  pkg/services/network/network_test.go
  pkg/services/network/nsxt_provider.go
  pkg/services/vimmachine.go
  pkg/services/vmoperator/control_plane_endpoint.go
  pkg/services/vmoperator/control_plane_endpoint_test.go
  pkg/services/vmoperator/resource_policy.go
  pkg/services/vmoperator/vmopmachine.go
  pkg/services/vmoperator/vmopmachine_test.go
  pkg/util/testutil.go
  test/helpers/vmware/unit_test_context.go
  test/integration/integration_suite_test.go
  test/integration/sanity_test.go
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e

Fixes dependenabot config to exclude CAPI
  .github/dependabot.yml
Due: none

file removed
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

HAProxy related files deleted
  config/default/crd/bases/infrastructure.cluster.x-k8s.io_haproxyloadbalancers.yaml
  contrib/haproxy/haproxy-dataplaneapi-1.2.json
Due: post-cluster-api-provider-vsphere-deploy, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-integration-test, pull-cluster-api-provider-vsphere-e2e
