Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

fix agentpool taints diff check
  azure/services/agentpools/spec.go
  azure/services/agentpools/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

bump CAPI to v1.3.2
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

E2E: verify daemonset pods after machines
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
  test/e2e/cni.go
  test/e2e/daemonsets.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.2.9
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update codecove workflow name
  .github/workflows/cover.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update opentelemetry-go to v1.11.2
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/ci/standalone-collector-values.yaml
  hack/observability/opentelemetry/chart/templates/NOTES.txt
  hack/observability/opentelemetry/chart/templates/_pod.tpl
  hack/observability/opentelemetry/chart/templates/daemonset.yaml
  hack/observability/opentelemetry/chart/values.schema.json
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  hack/observability/opentelemetry/values.yaml
  pkg/ot/metrics.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Wait for nodes after CCM install in ci-entrypoint
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[PLAT-70533] Add BYO-CNI support to CAPZ
  azure/converters/managedagentpool.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/client.go
  azure/services/agentpools/mock_agentpools/agentpools_mock.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/mock_managedclusters/client_mock.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add managed cluster logic
  azure/scope/managedcontrolplane.go
  azure/services/agentpools/client.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

disable AKSPublicIPPrefixSpec in AKS E2E
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix unnecessary reconciles on AKS node taints
  azure/services/agentpools/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

address comments
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/types.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update opentelemetry-go to v1.11.2 (#3039)
  go.mod
  go.sum
  hack/observability/opentelemetry/chart/Chart.yaml
  hack/observability/opentelemetry/chart/ci/standalone-collector-values.yaml
  hack/observability/opentelemetry/chart/templates/NOTES.txt
  hack/observability/opentelemetry/chart/templates/_pod.tpl
  hack/observability/opentelemetry/chart/templates/daemonset.yaml
  hack/observability/opentelemetry/chart/values.schema.json
  hack/observability/opentelemetry/chart/values.yaml
  hack/observability/opentelemetry/fetch-otel-resources.sh
  hack/observability/opentelemetry/values.yaml
  pkg/ot/metrics.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ci: external cloud-provider-azure includes Windows
  templates/test/ci/cluster-template-prow-external-cloud-provider.yaml
  templates/test/ci/prow-external-cloud-provider/kustomization.yaml
  templates/test/ci/prow-external-cloud-provider/patches/kubeadmconfig-win.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add support for no network policy
  azure/types.go
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

refactor agentpool test definitions
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add issue template for failing and flaky tests in testgrid
  .github/ISSUE_TEMPLATE/failing_test.md
  .github/ISSUE_TEMPLATE/flaky_test.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[PLAT-70533] Update kubebuilder NetworkPlugin marker
  exp/api/v1alpha3/azuremanagedcontrolplane_types.go
  exp/api/v1alpha4/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Always run AKS E2E get+update as transaction
  test/e2e/aks_autoscaler.go
  test/e2e/aks_azure_cluster_autoscaler.go
  test/e2e/aks_public_ip_prefix.go
  test/e2e/aks_tags.go
  test/e2e/aks_upgrade.go
  test/e2e/azure_machinepool_drain.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add empty node taints agentpool parameters test
  azure/services/agentpools/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

enable security updates for release-1.7 and release 1.6
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

docs/book/src/topics/data-disks.md: fix dead link
  docs/book/src/topics/data-disks.md
Due: none

Fixing panic on AzureMachinePool creation with auto-scale
  azure/scope/managedmachinepool.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add release-note-none labels to dependabot PRs
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

use outboundlb name as the lb name in cloud config
  controllers/helpers.go
  controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Tiltfile: properly escape passed manifest
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add Flatcar Container Linux templates and e2e tests
  Makefile
  Tiltfile
  docs/book/src/SUMMARY.md
  docs/book/src/topics/flatcar.md
  templates/cluster-template-flatcar.yaml
  templates/flavors/flatcar/kustomization.yaml
  templates/flavors/flatcar/machine-deployment.yaml
  templates/flavors/flatcar/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-flatcar.yaml
  templates/test/ci/prow-flatcar/kustomization.yaml
  test/e2e/azure_logcollector.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Tiltfile: fix templating cluster name
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add AKS node labels e2e test
  test/e2e/aks_node_labels.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

dependabot: ignore subpackage releases of opentelemetry-go
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

E2E: use a common cluster-identity-secret
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
  test/e2e/common.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add nojnhuh to reviewers list
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint
