Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

use az to download storage blobs for custom builds
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-kcp.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-win.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-windows-k8s-ci-binaries.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/kubeadm-bootstrap-machine-pool-windows-k8s-pr-binaries.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.7.0-rc.1
  Makefile
  Tiltfile
  api/v1beta1/azuremanagedcluster_webhook_test.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedmachinepool_webhook_test.go
  controllers/asosecret_controller.go
  controllers/helpers_test.go
  exp/api/v1beta1/azuremachinepool_test.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/kubernetes/pvc/pvc.go
  util/azure/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add watch filter value to AzureASO... controllers
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add codecov token
  .github/workflows/cover.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add support for capacity reservation
  api/v1beta1/azuremachine_types.go
  api/v1beta1/azuremachine_validation.go
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/virtualmachines/spec.go
  azure/services/virtualmachines/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

implement top-level Reconcile methods for AzureASO... resources
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcluster_controller_test.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

upgrade helm to v3.14.4
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.6.4
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add helm chart
  charts/azure-managed-cluster/.helmignore
  charts/azure-managed-cluster/Chart.yaml
  charts/azure-managed-cluster/templates/AzureClusterIdentity.yaml
  charts/azure-managed-cluster/templates/_helpers.tpl
  charts/azure-managed-cluster/templates/agentpool.yaml
  charts/azure-managed-cluster/templates/azuremanagedccontrolplane.yaml
  charts/azure-managed-cluster/templates/azuremanagedcluster.yaml
  charts/azure-managed-cluster/templates/cluster.yaml
  charts/azure-managed-cluster/values.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update Kustomize to v5.4.1
  Makefile
  config/aso/kustomization.yaml
  config/capz/kustomization.yaml
  config/capz/manager_webhook_patch.yaml
  config/capz/mutatingwebhookcainjection_patch.yaml
  config/capz/validatingwebhookcainjection_patch.yaml
  config/capz/webhookcainjection_patch.yaml
  config/certmanager/certificate.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_azureclusteridentities.yaml
  config/crd/patches/cainjection_in_azureclusters.yaml
  config/crd/patches/cainjection_in_azureclustertemplates.yaml
  config/crd/patches/cainjection_in_azuremachinepoolmachines.yaml
  config/crd/patches/cainjection_in_azuremachinepools.yaml
  config/crd/patches/cainjection_in_azuremachines.yaml
  config/crd/patches/cainjection_in_azuremachinetemplates.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.6.4
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.7.0
  Makefile
  Tiltfile
  api/v1beta1/azuremanagedcluster_webhook_test.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedmachinepool_webhook_test.go
  controllers/asosecret_controller.go
  controllers/helpers_test.go
  exp/api/v1beta1/azuremachinepool_test.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  go.mod
  go.sum
  hack/ensure-go.sh
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/kubernetes/pvc/pvc.go
  util/azure/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix nvidia-device-plugin link
  docs/book/src/topics/gpu.md
Due: none

check vnets for azure managed control plane
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  azure/defaults.go
  azure/defaults_test.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/groups/spec.go
  azure/services/groups/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPZ versions in provider upgrade tests
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.13.4/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.14.2/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: add/remove finalizers
  exp/api/v1alpha1/azureasomanagedcluster_types.go
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcluster_controller_test.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: add resource reconciliation
  Tiltfile
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepooltemplates.yaml
  exp/api/v1alpha1/azureasomanagedclustertemplate_types.go
  exp/api/v1alpha1/azureasomanagedcontrolplanetemplate_types.go
  exp/api/v1alpha1/azureasomanagedmachinepooltemplate_types.go
  exp/api/v1alpha1/zz_generated.deepcopy.go
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcluster_controller_test.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
  exp/controllers/resource_reconciler.go
  exp/controllers/resource_reconciler_test.go
  templates/cluster-template-aks-aso-clusterclass.yaml
  templates/cluster-template-aks-aso.yaml
  templates/flavors/aks-aso-clusterclass/clusterclass.yaml
  templates/flavors/aks-aso/cluster-template.yaml
  templates/flavors/aks-aso/credentials.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: report status on managed ASO resources
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  exp/api/v1alpha1/azureasomanagedcluster_types.go
  exp/api/v1alpha1/azureasomanagedcontrolplane_types.go
  exp/api/v1alpha1/azureasomanagedmachinepool_types.go
  exp/api/v1alpha1/zz_generated.deepcopy.go
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcluster_controller_test.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
  exp/controllers/resource_reconciler.go
  exp/controllers/resource_reconciler_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump github.com/Azure/azure-service-operator/v2 to v2.6.0
  Makefile
  config/aso/crds.yaml
  config/aso/kustomization.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

explicitly set default AZURE_SYNC_PERIOD for ASO
  config/aso/settings.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

set AzureASOManagedCluster spec.controlPlaneEndpoint
  api/v1beta1/azuremanagedcluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  exp/api/v1alpha1/azureasomanagedcluster_types.go
  exp/api/v1alpha1/azureasomanagedcontrolplane_types.go
  exp/api/v1alpha1/zz_generated.deepcopy.go
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcluster_controller_test.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add spec.version and status.version to AzureASOManagedControlPlane
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepooltemplates.yaml
  exp/api/v1alpha1/azureasomanagedcontrolplane_types.go
  exp/api/v1alpha1/azureasomanagedcontrolplanetemplate_types.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
  templates/cluster-template-aks-aso-clusterclass.yaml
  templates/cluster-template-aks-aso.yaml
  templates/flavors/aks-aso-clusterclass/clusterclass.yaml
  templates/flavors/aks-aso/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.7.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add AZURE_USER_AGENT_SUFFIX to aso-controller-settings
  config/aso/settings.yaml
  config/default/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

reconcile kubeconfig for AzureASOManagedControlPlane
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

set AzureASOManagedMachinePool spec.providerIDList
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  exp/api/v1alpha1/azureasomanagedmachinepooltemplate_types.go
  exp/api/v1alpha1/zz_generated.deepcopy.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

set AzureASOManagedMachinePool status.replicas
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  exp/api/v1alpha1/azureasomanagedmachinepool_types.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Replace more usages of go-autorest
  azure/errors.go
  azure/errors_test.go
  azure/scope/clients.go
  azure/scope/identity.go
  go.mod
  go.sum
  util/azure/azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add changelog for CAPZ v1.14.3
  CHANGELOG/v1.14.3.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add changelog for CAPZ v1.13.5
  CHANGELOG/v1.13.5.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add AKS adoption e2e test and docs
  docs/book/src/topics/managedcluster.md
  test/e2e/aks_adopt.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint
