Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

Add managed addon info
  docs/book/src/topics/addons.md
  docs/book/src/topics/managedcluster.md
Due: none

Fix_Bug: validate non nil AzureMachine.Spec.Diagnostic
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/azuremachine_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove listen-client-urls hack from dual-stack templates
  docs/book/src/topics/ipv6.md
  templates/cluster-template-dual-stack.yaml
  templates/flavors/dual-stack/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add unit tests for converters/vmss
  azure/converters/vmss_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

better detect when machines in MachinePool VMSS are not running the latest model
  azure/converters/vmss.go
  azure/converters/vmss_test.go
  azure/scope/machinepoolmachine.go
  azure/services/scalesets/scalesets_test.go
  azure/types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

OOT test uses MachineDeployment
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Set GOARCH to the one reported by go env
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

check if lint job is running
  azure/scope/clients.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix ci lint job
  Makefile
  azure/scope/clients.go
  test/e2e/aks_versions.go
  test/e2e/helpers.go
  util/azure/azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update Cluster API Visualizer to v1.0.2
  Tiltfile
  hack/observability/cluster-api-visualizer/chart/Chart.yaml
  hack/observability/cluster-api-visualizer/chart/templates/clusterrole.yaml
  hack/observability/cluster-api-visualizer/fetch-visualizer-resources.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

freshen reviewers list
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Standardize autorest/azure import alias as azureautorest
  .golangci.yml
  azure/defaults.go
  azure/errors.go
  azure/scope/clients.go
  azure/scope/machine_test.go
  azure/scope/machinepool_test.go
  azure/services/identities/client.go
  azure/services/natgateways/spec.go
  test/e2e/aks_versions.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_vmextensions.go
  util/azure/azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add marosset to reviewers list
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove unused kubescape e2e spec
  test/e2e/helpers.go
  test/e2e/kubescape.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update Cluster API Visualizer to v1.1.0
  hack/observability/cluster-api-visualizer/chart/Chart.yaml
  hack/observability/cluster-api-visualizer/fetch-visualizer-resources.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

"fix machine pool wait in AKS and OOT e2e test"
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

bump CAPI to v1.2.8
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

make AzureManagedMachinePool spec.name immutable
  docs/book/src/topics/managedcluster.md
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add support for kubeletDiskType
  azure/converters/managedagentpool.go
  azure/scope/managedmachinepool.go
  azure/scope/managedmachinepool_test.go
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

csi-proxy template addon needs ClusterResourceSet
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/prow-machine-pool/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Restarts containers in post kubeadm so that /etc/host values are loaded. This is a hack for lack of Azure NLB hairpin support does not work for all hostNetwork pods
  templates/cluster-template-dual-stack.yaml
  templates/cluster-template-ipv6.yaml
  templates/flavors/dual-stack/machine-deployment.yaml
  templates/flavors/dual-stack/patches/kubeadm-controlplane.yaml
  templates/flavors/ipv6/machine-deployment.yaml
  templates/flavors/ipv6/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

AzureManagedCluster: Full support for AKS Cluster Autoscaler
  azure/converters/managedagentpool.go
  azure/converters/managedagentpool_test.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedmachinepool_test.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/client.go
  azure/services/agentpools/spec.go
  azure/services/agentpools/spec_test.go
  azure/services/managedclusters/client.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/managedclusters_test.go
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedcontrolplane_default.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  test/e2e/aks_azure_cluster_autoscaler.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

VMSS Flex support for MachinePools
  api/v1beta1/types.go
  azure/converters/vmss.go
  azure/converters/vmss_test.go
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/mock_scalesetvms/scalesetvms_mock.go
  azure/services/scalesetvms/scalesetvms.go
  azure/services/scalesetvms/scalesetvms_test.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/mock_virtualmachines/client_mock.go
  azure/types.go
  azure/types_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  controllers/helpers.go
  controllers/helpers_test.go
  docs/book/src/topics/machinepools.md
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/azuremachinepoolmachine_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremachinepool_test.go
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  exp/api/v1beta1/azuremachinepoolmachine_types.go
  main.go
  templates/cluster-template-external-cloud-provider-machinepool.yaml
  templates/flavors/external-cloud-provider-machinepool/kustomization.yaml
  templates/flavors/external-cloud-provider-machinepool/machine-pool-deployment.yaml
  templates/flavors/external-cloud-provider-machinepool/patches/external-cloud-provider.yaml
  templates/flavors/external-cloud-provider-machinepool/patches/vmss-flex.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-vmss-flex.yaml
  templates/test/ci/patches/uami-mp-0.yaml
  templates/test/ci/prow-external-cloud-provider-vmss-flex/kustomization.yaml
  test/e2e/azure_machinepools.go
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

don’t default to AKS networkPolicy=calico
  azure/services/managedclusters/spec.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Handle ipv6 and dual stack CIDRs in ci-entrypoint.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

prefer CAPI replicas-managed-by annotation
  azure/const.go
  azure/scope/machinepool.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Set VMType=standard in azure.json if MachinePools aren't enabled
  controllers/helpers.go
  controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update yaml indentation
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update Makefile and dependabot-code-gen step
  .github/workflows/dependabot-code-gen.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update CAPI contract for v1.7 of CAPZ
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update E2E InfrastructureProvider API contract
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

remove inline comments and add commit prefix - update run schedule to daily - update dependabot.yml as per CAPI and Github documentation
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add commit-message.prefix:dependabot
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update dependabot schedule to run weekly 9am EST
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint
