Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

fix tilt AKS version
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add clusterCIDR to cloud provider e2e install
  docs/book/src/topics/addons.md
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

feat : dependabot workflow automation for updating dependency
  .github/dependabot.yml
  .github/workflows/dependabot-code-gen.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Move AKS config from reference to test template
  templates/cluster-template-aks.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/test/ci/prow-aks/patches/aks-pool0.yaml
  templates/test/ci/prow-aks/patches/aks-pool1.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add webhook validateCreate
  api/v1beta1/azureclusteridentity_validation.go
  api/v1beta1/azureclusteridentity_webhook.go
  api/v1beta1/azureclusteridentity_webhook_test.go
  config/webhook/manifests.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

remove --listen-client-urls injection from ipv6 template
  templates/cluster-template-ipv6.yaml
  templates/flavors/ipv6/patches/kubeadm-controlplane.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix deleting all tags on AKS resources
  azure/services/agentpools/spec.go
  azure/services/agentpools/spec_test.go
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

CAPZ Managed Kubernetes evolution proposal
  docs/proposals/20221019-capi-managed-cluster-proposal-capz.md
Due: none

feat : dependabot workflow automation for updating dependency (#2752)
  .github/dependabot.yml
  .github/workflows/dependabot-code-gen.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update to use function 'ConvertResourceGroupNameToLower' from 'cloud-provider-azure' provider package
  azure/converters/vmss.go
  azure/services/scalesets/scalesets.go
  azure/services/virtualmachines/virtualmachines.go
  exp/controllers/azuremanagedmachinepool_reconciler.go
  go.mod
  go.sum
  util/azure/azure.go
  util/azure/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix: workflow run schedule interval
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix deleting all tags on AzureManagedControlPlane
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix machine pool wait in AKS e2e test
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add support for running e2e tests with an existing controller image
  Makefile
  docs/book/src/developers/development.md
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  test/e2e/azure_test.go
  test/e2e/capi_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

windows kubeproxy should be applied in kube-system ns
  templates/addons/windows/calico/kube-proxy-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/cni.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add support for configurable VM Diagnostics
  api/v1alpha3/azuremachine_conversion.go
  api/v1alpha3/azuremachinetemplate_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azuremachine_conversion.go
  api/v1alpha4/azuremachinetemplate_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azuremachine_default.go
  api/v1beta1/azuremachine_types.go
  api/v1beta1/azuremachine_validation.go
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/converters/diagnostics.go
  azure/converters/diagnostics_test.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/virtualmachines/spec.go
  azure/services/virtualmachines/spec_test.go
  azure/types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/topics/troubleshooting.md
  docs/book/src/topics/vm-diagnostics.md
  exp/api/v1alpha3/azuremachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremachinepool_default.go
  exp/api/v1beta1/azuremachinepool_default_test.go
  exp/api/v1beta1/azuremachinepool_test.go
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Move alexeldeib to emeritus status
  OWNERS
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add e2e test for AKS resource tag operations
  test/e2e/aks_tags.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Use azidentity instead of ADAL
  azure/scope/clients.go
  azure/scope/identity.go
  go.mod
  go.sum
  test/e2e/aks_autoscaler.go
  test/e2e/aks_public_ip_prefix.go
  test/e2e/aks_upgrade.go
  test/e2e/aks_versions.go
  test/e2e/azure_clusterproxy.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_vmextensions.go
  test/e2e/common.go
  test/e2e/helpers.go
  util/azure/azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

AzureManagedCluster spec.controlPlaneEndpoint is immutable
  azure/scope/managedcontrolplane.go
  exp/api/v1beta1/azuremanagedcluster_webhook.go
  exp/api/v1beta1/azuremanagedcluster_webhook_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/controllers/azuremanagedcluster_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump GINKGO_VER to 2.5.1 to silence warnings
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Extend e2e tests timeout to 4h
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add AKS resource health to AzureManagedControlPlane
  api/v1beta1/conditions_consts.go
  azure/converters/resourcehealth.go
  azure/converters/resourcehealth_test.go
  azure/defaults.go
  azure/scope/managedcontrolplane.go
  azure/services/resourcehealth/client.go
  azure/services/resourcehealth/mock_resourcehealth/client_mock.go
  azure/services/resourcehealth/mock_resourcehealth/doc.go
  azure/services/resourcehealth/mock_resourcehealth/resourcehealth_mock.go
  azure/services/resourcehealth/resourcehealth.go
  azure/services/resourcehealth/resourcehealth_test.go
  config/manager/manager.yaml
  docs/book/src/topics/managedcluster.md
  exp/controllers/azuremanagedcontrolplane_reconciler.go
  feature/feature.go
  hack/observability/opentelemetry/controller-manager-patch.yaml
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Make e2e Helm install idempotent to fix CSI migration test
  test/e2e/cloud-provider-azure.go
  test/e2e/common.go
  test/e2e/csi_migration_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add CSI proxy and containerd logger to machine pool test templates
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/prow-machine-pool/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Discrete timeout for service deletes in E2E
  test/e2e/azure_lb.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update conformance test for Ginkgo v2
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add E2E tests for AzureManagedCluster wehooks
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  test/e2e/aks.go
  test/e2e/aks_webhooks.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_test.go
  util/azure/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump capi to v1.3.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix CVEs
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix CVEs CVE-2022-41717 and CVE-2022-32149
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump aad pod identity to v1.8.14
  config/default/aad-pod-identity-deployment.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump aad-pod-identity image version to v1.8.14
  config/default/aad-pod-identity-deployment.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

bump aad-pod-identity image to v1.8.14
  config/default/aad-pod-identity-deployment.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

kubelogin support
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/mock_managedclusters/managedclusters_mock.go
  config/default/manager_image_patch.yaml
  feature/feature.go
  util/kubelogin/cmd.go
  util/kubelogin/kubelogin.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add AGE column to custom printcolumn
  api/v1beta1/azurecluster_types.go
  api/v1beta1/azureclusteridentity_types.go
  api/v1beta1/azuremachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/azuremachinepoolmachine_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint
