Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

Bump CAPI to v1.7.4
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

login using Azure Workload ID when available
  hack/ensure-acr-login.sh
  hack/ensure-azcli.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove storage key for azure storage commands
  scripts/ci-build-azure-ccm.sh
  scripts/ci-build-kubernetes.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

move ASOAPI out of experimental
  api/v1alpha1/azureasomanagedcluster_types.go
  api/v1alpha1/azureasomanagedcluster_webhook.go
  api/v1alpha1/azureasomanagedclustertemplate_types.go
  api/v1alpha1/azureasomanagedcontrolplane_types.go
  api/v1alpha1/azureasomanagedcontrolplane_webhook.go
  api/v1alpha1/azureasomanagedcontrolplanetemplate_types.go
  api/v1alpha1/azureasomanagedmachinepool_types.go
  api/v1alpha1/azureasomanagedmachinepool_webhook.go
  api/v1alpha1/azureasomanagedmachinepooltemplate_types.go
  api/v1alpha1/doc.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/webhook/manifests.yaml
  controllers/agentpooladopt_controller.go
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcluster_controller_test.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedcontrolplane_controller_test.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/azureasomanagedmachinepool_controller_test.go
  controllers/managedclusteradopt_controller.go
  controllers/resource_reconciler.go
  controllers/resource_reconciler_test.go
  docs/book/install-and-build.sh
  docs/book/src/SUMMARY.md
  docs/book/src/reference/v1alpha1-api.md
  docs/book/src/reference/v1alpha1-exp-api.md
  docs/book/src/topics/aso.md
  feature/feature.go
  main.go
  pkg/mutators/azureasomanagedcontrolplane.go
  pkg/mutators/azureasomanagedcontrolplane_test.go
  pkg/mutators/azureasomanagedmachinepool.go
  pkg/mutators/azureasomanagedmachinepool_test.go
  pkg/mutators/mutator.go
  pkg/mutators/mutator_test.go
  test/e2e/aks.go
  test/e2e/aks_machinepools.go
  test/e2e/azure_clusterproxy.go
  test/e2e/azure_logcollector.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.6.7
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump codecov action to v4.5.0
  .github/workflows/cover.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Use the env AZURE_STORAGE_AUTH_MODE when using federated auth
  hack/ensure-azcli.sh
  scripts/ci-build-azure-ccm.sh
  scripts/ci-build-kubernetes.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

bump google.golang.org/grpc to v1.64.1
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

dummy commit for poc
  hack/ensure-azcli.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

remove service principal references from CI
  Makefile
  hack/create-custom-cloud-provider-config.sh
  hack/create-dev-cluster.sh
  hack/create-identity-secret.sh
  hack/ensure-azcli.sh
  hack/parse-prow-creds.sh
  scripts/ci-build-azure-ccm.sh
  scripts/ci-build-kubernetes.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/azure-cluster-identity/azure-cluster-identity-sp.yaml
  templates/test/ci/patches/azureclusteridentity-azwi.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/kustomization.yaml
  templates/test/dev/custom-builds/patches/azure-cluster-identity-user-assigned.yaml
  test/e2e/azure_selfhosted.go
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/conformance_test.go
  test/e2e/data/infrastructure-azure/v1.14.5/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.15.1/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

use Watches from controller builder instead of Watch method
  controllers/asosecret_controller.go
  controllers/azurecluster_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machinepool_controller.go
  controllers/azuremachine_controller.go
  controllers/azuremanagedcluster_controller.go
  controllers/azuremanagedcontrolplane_controller.go
  controllers/azuremanagedmachinepool_controller.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add release 1.16 to metadata.yaml
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add changelog for v1.14.7
  CHANGELOG/v1.14.7.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add changelog for v1.15.3
  CHANGELOG/v1.15.3.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add changelog for v1.16.0
  CHANGELOG/v1.16.0.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add explicit namespace to ci-entrypoint flow
  Makefile
  hack/create-custom-cloud-provider-config.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

validate template updates for apiversion-upgrade
  test/e2e/data/infrastructure-azure/v1.13.4/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.14.2/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update API version upgrade e2e templates
  test/e2e/data/infrastructure-azure/v1.14.5/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.15.1/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update docs on updating clusterctl API version upgrade tests
  docs/book/src/developers/releasing.md
Due: none

use managed identity for API version upgrade e2e tests
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow/kustomization.yaml
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.14.5/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.15.1/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add namespace to identity secret kubectl commands
  hack/create-identity-secret.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update e2e test regions for community sub
  hack/util.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update provider metadata for next release
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update CAPZ versions in API upgrade test
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.15.3/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.16.0/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

we need a commit
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

include auth type in client cache key
  azure/scope/clients.go
  azure/scope/identity.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

use managed identity for CAPI self-hosted e2e test
  test/e2e/azure_selfhosted.go
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[release-1.16] validate CI
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Pin Kubernetes e2e version to previous patch
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

drop Local only env var
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ci-entrypoint: don't reset kind cluster before getting logs
  hack/create-dev-cluster.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update managed vnet check logic
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

log transient AzureMachinePool errors at info level
  exp/controllers/azuremachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint
