Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

scale machine pools relatively
  test/e2e/aks.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add “[Managed Kubernetes]” E2E test type
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Refactor GET calls for tags to use tags.GetAtScope
  azure/defaults.go
  azure/services/async/interfaces.go
  azure/services/async/mock_async/async_mock.go
  azure/services/privatedns/privatedns.go
  azure/services/privatedns/privatedns_test.go
  azure/services/publicips/publicips.go
  azure/services/publicips/publicips_test.go
  azure/services/tags/client.go
  azure/services/tags/tags.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fixing Multitenancy docs changing commit author
  docs/book/src/topics/multitenancy.md
Due: none

fix: example for virtual network
  docs/book/src/topics/managedcluster.md
Due: none

Fixes docs bug in api server endpoint
  docs/book/src/topics/api-server-endpoint.md
Due: none

intial dev environment setup use k8s 1.25 because only 1.25 capz os image uploaded to rr4. set region to useast2euap
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update cluster-template-private for edgezone 1. remove bastion 2. remove nat-gateway 3. add vnet peering to xinyi-capz-dev_group_10131455-vnet 4. use OOT (external cloud provider)
  templates/cluster-template-private.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add EdgeZone flavor
  templates/cluster-template-edgezone.yaml
  templates/flavors/edgezone/kustomization.yaml
  templates/flavors/edgezone/patches/azure-extendedlocation.yaml
  templates/flavors/edgezone/patches/azure-remove-natgateway.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Test change: pass extendedlocation to publicip
  azure/scope/cluster.go
  azure/services/publicips/client.go
  azure/services/publicips/spec.go
  controllers/azurecluster_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Cleanup peerings
  azure/services/vnetpeerings/vnetpeerings.go
  azure/services/vnetpeerings/vnetpeerings_test.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Silence kubectl deprecation warning
  scripts/ci-configmap.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Make base64 usage more portable in e2e setup
  hack/util.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix: format azure compute gallery image ID (#2747)
  azure/converters/image.go
  azure/converters/image_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ensure AKS immutable configuration has webhook enforcement
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  util/webhook/validator.go
  util/webhook/validator_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

docs: fix AzureManagedCluster example
  .gitignore
  docs/book/src/topics/managedcluster.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[release-1.4] update codespell definitions
  .codespellignore
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[release-1.5] update codespell definitions
  .codespellignore
  azure/mock_azure/doc.go
  azure/scope/mocks/doc.go
  azure/services/async/mock_async/doc.go
  azure/services/availabilitysets/mock_availabilitysets/doc.go
  azure/services/bastionhosts/mocks_bastionhosts/doc.go
  azure/services/disks/mock_disks/doc.go
  azure/services/groups/mock_groups/doc.go
  azure/services/inboundnatrules/mock_inboundnatrules/doc.go
  azure/services/loadbalancers/mock_loadbalancers/doc.go
  azure/services/managedclusters/mock_managedclusters/doc.go
  azure/services/natgateways/mock_natgateways/doc.go
  azure/services/networkinterfaces/mock_networkinterfaces/doc.go
  azure/services/privatedns/mock_privatedns/doc.go
  azure/services/publicips/mock_publicips/doc.go
  azure/services/resourceskus/mock_resourceskus/doc.go
  azure/services/roleassignments/mock_roleassignments/doc.go
  azure/services/routetables/mock_routetables/doc.go
  azure/services/scalesets/client.go
  azure/services/scalesets/mock_scalesets/doc.go
  azure/services/scalesetvms/client.go
  azure/services/scalesetvms/mock_scalesetvms/doc.go
  azure/services/securitygroups/mock_securitygroups/doc.go
  azure/services/subnets/mock_subnets/doc.go
  azure/services/tags/mock_tags/doc.go
  azure/services/virtualmachineimages/mock_virtualmachineimages/doc.go
  azure/services/virtualmachines/mock_virtualmachines/doc.go
  azure/services/virtualnetworks/mock_virtualnetworks/doc.go
  azure/services/vmextensions/mock_vmextensions/doc.go
  azure/services/vnetpeerings/mock_vnetpeerings/doc.go
  exp/controllers/mocks/doc.go
  internal/test/mock_log/doc.go
  internal/test/record/logger.go
  pkg/coalescing/mocks/doc.go
  util/tele/corr_id.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update codespell definitions
  .codespellignore
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Test change: pass extendedlocation to loadbalancer
  azure/scope/cluster.go
  azure/services/loadbalancers/spec.go
  templates/cluster-template-private-external.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

refresh custom data automatically
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremachinepool_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add unit test to verify formatting of compute gallery image id
  azure/converters/image_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix: format azure compute gallery image ID
  azure/converters/image.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix error message text to use actual field names
  azure/converters/image.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add nil check for SharedGallery and ComputeGallery
  azure/converters/image.go
  azure/converters/image_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

refactored few variables and added few variables into common-vars.sh
  hack/common-vars.sh
  hack/create-custom-cloud-provider-config.sh
  hack/create-identity-secret.sh
  hack/gen-flavors.sh
  hack/install-cert-manager.sh
  hack/kustomize-sub.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[release-1.5] fix: format azure compute gallery image ID (#2794)
  azure/converters/image.go
  azure/converters/image_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add ExtendedLocationToSDK helper
  api/v1beta1/types_class.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/converters/extendedlocation.go
  azure/scope/cluster.go
  azure/services/loadbalancers/spec.go
  azure/services/publicips/spec.go
  controllers/azurecluster_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

clusterctl: make explicit use of --worker-machine-count=${WORKER_MACHINE_COUNT}
  docs/book/src/topics/managedcluster.md
Due: none

update metadata.yaml for 1.6 release and 1.7 dev cycle
  metadata.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

pass extendedlocation to vnet
  azure/scope/cluster.go
  azure/services/virtualnetworks/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Change ExtendedLocationToSDK to ExtendedLocationToNetworkSDK
  azure/converters/extendedlocation.go
  azure/services/loadbalancers/spec.go
  azure/services/networkinterfaces/spec.go
  azure/services/publicips/spec.go
  azure/services/virtualnetworks/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update AvailabilitySet setting for edgezone 1. Remove AvailabilitySet parameter when creating VM 2. Remove AvailabilitySet creation in edgezone
  azure/scope/machine.go
  controllers/azuremachine_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add ExtendedLocation parameters in cloud provider config azure.json
  controllers/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update newCloudProderConfig for ExtendedLocation to avoid Exception
  controllers/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix meeting time in README
  README.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint
