Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

cut v1.13.1
  CHANGELOG/v1.13.1.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump k8s release tool to include link fix
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add support for Azure CNI Powered by Cilium
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook_test.go
  api/v1beta1/types_class.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

make Service CIDR in managedClusters independent
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump cert-manager to v1.14.1
  Tiltfile
  hack/install-cert-manager.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add E2E test for spotVMOptions
  templates/test/ci/cluster-template-prow-spot.yaml
  templates/test/ci/prow-spot/kustomization.yaml
  templates/test/ci/prow-spot/patches/spot-vm-options.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump cert-manager to v1.14.2
  Tiltfile
  hack/install-cert-manager.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Make PlatformFaultDomainCount & ZoneBalance configurable on AzureMachinePools
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesets/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

enable creating configMap for OIDC p URL
  azure/services/managedclusters/managedclusters.go
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
  docs/book/src/topics/managedcluster.md
  templates/cluster-template-aks.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Restore AMMP-converges-to-failed-ready test spec
  test/e2e/aks_public_ip_prefix.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update dependabot ignores
  .github/dependabot.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Set PlatformFaultDomainCount if VMSS flex is enabled
  azure/services/scalesets/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

wip
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

use machineset error status code for machinePool failureReason
  api/v1beta1/azuremanagedmachinepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/machinepool.go
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add test cases to verify machinePool status
  azure/scope/machinepool.go
  exp/controllers/azuremachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

use machinePool status for azure machinePool
  azure/scope/machinepool.go
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASO shall install CRDs again
  config/aso/kustomization.yaml
  docs/book/src/topics/aso.md
  docs/book/src/topics/getting-started.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

use machine pool status rather than machineset
  api/v1beta1/azuremanagedmachinepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

wip 2
  azure/interfaces.go
  azure/services/agentpools/spec.go
  azure/services/aso/aso.go
  azure/services/groups/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Change parameters to return client.Object
  azure/services/bastionhosts/spec.go
  azure/services/bastionhosts/spec_test.go
  azure/services/natgateways/spec.go
  azure/services/natgateways/spec_test.go
  azure/services/privateendpoints/spec.go
  azure/services/privateendpoints/spec_test.go
  azure/services/subnets/spec.go
  azure/services/virtualnetworks/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Get azure name
  api/v1beta1/types_class.go
  azure/converters/managedagentpool.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedmachinepool.go
  azure/services/agentpools/agentpools.go
  azure/services/aksextensions/spec.go
  azure/services/aksextensions/spec_test.go
  azure/services/fleetsmembers/spec.go
  azure/services/fleetsmembers/spec_test.go
  azure/services/managedclusters/spec.go
  controllers/azuremanagedmachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Fix errors
  api/v1beta1/zz_generated.deepcopy.go
  azure/mock_azure/azure_mock.go
  azure/services/agentpools/mock_agentpools/agentpools_mock.go
  azure/services/agentpools/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Include CAAPH in CAPI apiversion upgrade test as CAPI > v1.5 supports add-ons in clusterctl init
  test/e2e/capi_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add some debugging prints
  azure/services/agentpools/spec.go
  azure/services/aso/aso.go
  azure/services/managedclusters/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix broken link
  docs/book/src/developers/development.md
Due: none

add proposal for automating AKS features
  docs/proposals/20231122-automate-aks-features.md
Due: pull-cluster-api-provider-azure-e2e-exp

hack with generics
  azure/scope/managedcontrolplane.go
  azure/services/aso/aso.go
  azure/services/aso/service.go
  azure/services/managedclusters/managedclusters.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

wip
  azure/scope/managedcontrolplane.go
  azure/services/aso/aso.go
  azure/services/aso/service.go
  azure/services/managedclusters/managedclusters.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update webhooks and api type
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/types_class.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update Makefile with versions from gomod for kind and envsubst
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

No more compiler errors in azure
  azure/services/managedclusters/managedclusters.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Revert changes to managedcontrolplane
  azure/scope/managedcontrolplane.go
  controllers/azuremanagedcontrolplane_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add new service based on enablePreviewFeatures
  controllers/azuremanagedcontrolplane_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

wait for cluster to be Ready before hitting API server
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.5.6
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint
