Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

optional flatcar tests will create a loadbalancer
  Tiltfile
  docs/book/src/topics/addons.md
  docs/book/src/topics/flatcar.md
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update managed cluster doc
  .markdownlinkcheck.json
  api/v1beta1/azuremanagedcluster_types.go
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedmachinepool_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update Dockerfile syntax
  Dockerfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Prioritize workload ID creds for SDKv2 services
  azure/defaults.go
  azure/services/virtualmachineimages/client.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Improve load balancer probe
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/spec.go
  azure/services/loadbalancers/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix broken cloud-provider-azure website link
  api/v1beta1/types_class.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  controllers/helpers.go
  docs/book/src/topics/cloud-provider-config.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Use MCR registry for Calico images
  templates/addons/calico-dual-stack/values.yaml
  templates/addons/calico-ipv6/values.yaml
  templates/addons/calico/values.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Pin Calico to v3.25.1
  Makefile
  Tiltfile
  docs/book/src/topics/addons.md
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/addons/calico-dual-stack.yaml
  templates/addons/calico-dual-stack/values.yaml
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico-ipv6/values.yaml
  templates/addons/calico.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/calico/values.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/cloud-provider-azure.go
  test/e2e/cni.go
  test/e2e/common.go
  test/e2e/gpu_operator.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Pin Calico to v3.25.1
  Makefile
  Tiltfile
  docs/book/src/topics/addons.md
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/addons/calico-dual-stack.yaml
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/cloud-provider-azure.go
  test/e2e/cni.go
  test/e2e/common.go
  test/e2e/gpu_operator.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Pin Calico to v3.25.1
  Makefile
  Tiltfile
  docs/book/src/topics/addons.md
  scripts/ci-e2e.sh
  scripts/ci-entrypoint.sh
  templates/addons/calico-dual-stack.yaml
  templates/addons/calico-ipv6.yaml
  templates/addons/calico-ipv6/calico-policy-only.yaml
  templates/addons/calico.yaml
  templates/addons/calico/calico-vxlan.yaml
  templates/addons/windows/calico/calico.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/cloud-provider-azure.go
  test/e2e/cni.go
  test/e2e/common.go
  test/e2e/gpu_operator.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Revert "Update virtualmachineimages service to SDK v2"
  azure/defaults.go
  azure/defaults_test.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/virtualmachineimages/cache.go
  azure/services/virtualmachineimages/cache_test.go
  azure/services/virtualmachineimages/client.go
  azure/services/virtualmachineimages/images.go
  azure/services/virtualmachineimages/images_test.go
  azure/services/virtualmachineimages/mock_virtualmachineimages/client_mock.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add docs on using Azure cni v1
  docs/book/src/topics/azure-cni-v1.md
Due: none

wip docs
  docs/book/src/topics/azure-cni-v1.md
Due: none

vendor and sanitize ASO CRDs
  Makefile
  config/aso/crds.yaml
  config/aso/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add support for confidential VMs
  api/v1beta1/azuremachine_validation.go
  api/v1beta1/azuremachine_validation_test.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/services/resourceskus/sku.go
  azure/services/virtualmachines/spec.go
  azure/services/virtualmachines/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/SUMMARY.md
  docs/book/src/topics/confidential-vms.md
  docs/book/src/topics/trusted-launch-for-vms.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix e2e config gob conversion to string
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Apply codecov config to patch
  .github/codecov.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Allow azure:// prefix when parsing resource IDs
  azure/defaults.go
  azure/defaults_test.go
  azure/scope/machinepool.go
  azure/services/identities/client.go
  azure/services/natgateways/spec.go
  azure/services/scalesetvms/scalesetvms.go
  azure/services/virtualmachines/client.go
  test/e2e/azure_edgezone.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_vmextensions.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add steps to update default flavor of CAPZ manifest
  docs/book/src/topics/azure-cni-v1.md
Due: none

add test for ValidateNetworkSpec and refactor
  api/v1beta1/azureclustertemplate_validation.go
  api/v1beta1/azureclustertemplate_validation_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

proposal for workload identity integration
  controllers/azureidentity_controller.go
  docs/proposals/20221611-workload-identity-integration.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix codespell highlighted error
  controllers/azureidentity_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update CAPI to v1.4.3
  Makefile
  Tiltfile
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add BYO ASO resource
  api/v1beta1/consts.go
  azure/services/aso/aso.go
  azure/services/aso/aso_test.go
  azure/services/asogroups/groups.go
  azure/services/asogroups/groups_test.go
  azure/services/asogroups/mock_asogroups/groups_mock.go
  util/maps/maps.go
  util/maps/maps_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Temporarily disable useHostProcessContainers
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Revert "dependabot(deps): bump github.com/onsi/gomega from 1.27.7 to 1.27.8"
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Revert updates to ginkgo and gomega
  Makefile
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Downgrade gomega again
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Validate providerID for user-assigned IDs in webhook
  api/v1beta1/azuremachine_validation.go
  api/v1beta1/azuremachine_validation_test.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
  azure/converters/identity.go
  azure/defaults.go
  azure/defaults_test.go
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/services/identities/client.go
  azure/services/natgateways/spec.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms.go
  azure/services/virtualmachines/client.go
  azure/services/virtualmachines/virtualmachines.go
  azure/types.go
  controllers/azuremanagedmachinepool_reconciler.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  test/e2e/azure_edgezone.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_privatecluster.go
  test/e2e/azure_vmextensions.go
  util/azure/azure.go
  util/azure/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Revert "Temporarily disable useHostProcessContainers"
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add azure cni v1 e2e tests using one NIC per linux node
  Makefile
  templates/addons/azure-cni-v1.yaml
  templates/addons/azure-cni-v1/kustomization.yaml
  templates/cluster-template-azure-cni-v1.yaml
  templates/flavors/azure-cni-v1/kustomization.yaml
  templates/flavors/azure-cni-v1/patches/azure-machine-template-controlplane.yaml
  templates/flavors/azure-cni-v1/patches/azure-machine-template.yaml
  templates/flavors/azure-cni-v1/patches/kubeadm-control-plane.yaml
  templates/flavors/azure-cni-v1/patches/kubeadm-worker-node.yaml
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/prow-azure-cni-v1/kustomization.yaml
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
  test/e2e/cni.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Fix managed clusters and agent pools diffs
  azure/services/agentpools/spec.go
  azure/services/agentpools/spec_test.go
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
