Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

Update mdbook deps
  docs/book/book.toml
  docs/book/install-and-build.sh
Due: none

no-op
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

remove explicit k8s 1.26 for VMSS flex e2e test
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Flatcar vers
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Latest version
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.7.5
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add aks-create target to the makefile
  .gitignore
  Makefile
  Tiltfile
  scripts/aks-as-mgmt.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

honor *-concurrency flags for ASO API controllers
  controllers/agentpooladopt_controller.go
  controllers/azureasomanagedcluster_controller.go
  controllers/azureasomanagedcontrolplane_controller.go
  controllers/azureasomanagedmachinepool_controller.go
  controllers/managedclusteradopt_controller.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add omitempty to SSHPublicKey
  api/v1beta1/azuremachine_types.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

testing implicit default for ASOAPI feature flag
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update roadmap
  docs/book/src/roadmap.md
Due: none

add beta and GA timelines
  docs/book/src/roadmap.md
Due: none

explicitly set EXP_ASO_API=true for controller-manager
  config/manager/manager.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

split cluster class/topology in e2e AKS templates
  templates/test/ci/cluster-template-prow-aks-clusterclass.yaml
  templates/test/ci/cluster-template-prow-aks-topology.yaml
  templates/test/ci/prow-aks-clusterclass/kustomization.yaml
  templates/test/ci/prow-aks-topology/kustomization.yaml
  templates/test/ci/prow-aks-topology/patches/cluster.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Move webhook registration behind feature gate flag
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAAPH to v0.2.5
  Makefile
  Tiltfile
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_addon_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Validate identity type on user-assigned identities
  api/v1beta1/azuremachine_default_test.go
  api/v1beta1/azuremachine_validation.go
  api/v1beta1/azuremachine_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add explicit --auth-mode login to az storage commands
  hack/ensure-azcli.sh
  scripts/ci-build-azure-ccm.sh
  scripts/ci-build-kubernetes.sh
  scripts/kind-with-registry.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

try to make Windows LB test fail consistently
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add prow template with both machines and machinepools
  Makefile
  templates/test/ci/cluster-template-prow-machine-and-machine-pool.yaml
  templates/test/ci/patches/uami-mp-win.yaml
  templates/test/ci/prow-machine-and-machine-pool/kustomization.yaml
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.15.3/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.16.0/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-and-machine-pool/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Remove cni manifest path
  test/e2e/capi_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Switch azure cluster identity
  test/e2e/data/infrastructure-azure/v1.15.3/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.15.3/cluster-template-prow-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.16.0/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.16.0/cluster-template-prow-machine-pool.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Try just mp upgrade
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.15.3/cluster-template-prow-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.16.0/cluster-template-prow-machine-pool.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Back to m and mp
  test/e2e/capi_test.go
  test/e2e/data/infrastructure-azure/v1.15.3/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.16.0/cluster-template-prow-machine-and-machine-pool.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Use old ACI
  test/e2e/data/infrastructure-azure/v1beta1/bases/azure-cluster-identity.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Try mp
  test/e2e/capi_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Azureclusteridentity change back
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Edit default template
  test/e2e/capi_test.go
  test/e2e/data/infrastructure-azure/v1.15.3/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.16.0/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Do not return AvailabilitySet if failure domain is set in Machine
  azure/scope/machine.go
  azure/scope/machine_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.8.1
  Makefile
  Tiltfile
  api/v1beta1/azuremanagedcluster_webhook_test.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedmachinepool_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  controllers/azureasomanagedmachinepool_controller.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/resource_reconciler.go
  controllers/resource_reconciler_test.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  go.mod
  go.sum
  main.go
  test/e2e/cni.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add prow template for running perf-tests load test
  templates/test/ci/prow-load/kustomization.yaml
  templates/test/ci/prow-load/patches/cluster-label-storageclass.yaml
  templates/test/ci/prow-load/patches/kcp-scheduler.yaml
  templates/test/ci/prow-load/storageclass-resource-set.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add template
  templates/test/ci/cluster-template-prow-load.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add azuredisk label
  templates/test/ci/cluster-template-prow-load.yaml
  templates/test/ci/prow-load/kustomization.yaml
  templates/test/ci/prow-load/patches/cluster-label-azuredisk.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Newline
  templates/test/ci/prow-load/patches/kcp-scheduler.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint
