Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

use known-working Windows OS image
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/patches/windows-image-update.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-windows.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/machine-deployment-pr-version-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

set AzureManagedMachinePool not ready for in-progress reconciliations
  exp/controllers/azuremanagedmachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Restore "latest" for Ubuntu images in test templates
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[release-1.3] Help windows cloud-node-manager to be better provisioned
  scripts/ci-build-azure-ccm.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Pass correct cancel function to cleanup function
  test/e2e/azure_privatecluster.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Revert "use known-working Windows OS image"
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/prow-ci-version-windows-containerd-2022/patches/windows-image-update.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version-windows.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version-windows.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/machine-deployment-pr-version-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add back 0.5 metadata contract for v1alpha4
  docs/book/src/developers/releasing.md
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update windows osversion in ci-build-azure-ccm.sh
  scripts/ci-build-azure-ccm.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Stable windows CNM creating process
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Document the CAPZ release cadence and support policy
  docs/book/src/developers/releasing.md
Due: none

add enableNodePublicIP to managed machine pools
  azure/converters/managedagentpool.go
  azure/scope/managedmachinepool.go
  azure/services/agentpools/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  templates/cluster-template-aks.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

AzureMachineTemplate webhooks dry-run
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update metadata.yaml in preparation for v1.5.0 release
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update CI apiversion contract for 1.6 release cycle
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add toleration for control plane taints
  config/manager/manager.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add rate limiting
  .golangci.yml
  azure/services/ratelimiter.go
  azure/services/virtualnetworks/virtualnetworks.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

make AKS node taints mutable
  docs/book/src/topics/managedcluster.md
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add taints to the diff and unit test
  azure/scope/managedmachinepool_test.go
  azure/services/agentpools/agentpools_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

use webhook default name for node outbound lb
  azure/scope/cluster.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Increasing timeout for Windows serial-slow jobs to 4 hours
  test/e2e/data/kubetest/upstream-windows-serial-slow-ginkgo-v2.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

standardize scope local cache
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/availabilitysets/mock_availabilitysets/availabilitysets_mock.go
  azure/services/networkinterfaces/mock_networkinterfaces/networkinterfaces_mock.go
  azure/services/networkinterfaces/networkinterfaces.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/virtualmachines/mock_virtualmachines/virtualmachines_mock.go
  azure/services/virtualmachines/virtualmachines.go
  azure/services/virtualmachines/virtualmachines_test.go
  controllers/azuremachine_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix repetitive events
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/azuremanagedmachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

use cluster name for managed cluster spec's name
  azure/scope/managedcontrolplane.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update managedcontrolplane_test.go
  azure/scope/managedcontrolplane_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Show granular conditions during AzureCluster delete
  controllers/azurecluster_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

read tilt-settings.yaml
  .gitignore
  Tiltfile
  docs/book/src/developers/development.md
  hack/observability/opentelemetry/readme.md
  hack/observability/readme.md
  templates/flavors/README.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

support ccm reading config from secret
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add finalizer to AzureClusterIdentity
  controllers/azurecluster_controller.go
  controllers/helpers.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/controllers/azuremanagedcontrolplane_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add Azure service API rate limiting and exponential backoff
  .golangci.yml
  azure/services/agentpools/client.go
  azure/services/backoff.go
  azure/services/backoff_test.go
  azure/services/ratelimiter.go
  azure/services/types.go
  azure/services/virtualnetworks/client.go
  azure/services/virtualnetworks/virtualnetworks.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint
