Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

Replace last usage of Azure/go-autorest
  azure/scope/clients.go
  azure/scope/cluster_test.go
  azure/scope/environments.go
  azure/scope/environments_test.go
  azure/scope/machine_test.go
  azure/scope/machinepool_test.go
  azure/scope/testdata/test_environment_1.json
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

explicitly set default AZURE_SYNC_PERIOD for ASO
  config/aso/settings.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

restore manager bootstrap creds for subscription ID
  config/capz/credentials.yaml
  config/capz/kustomization.yaml
  config/capz/manager_credentials_patch.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: reconcile status.ready
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureasomanagedmachinepools.yaml
  exp/api/v1alpha1/azureasomanagedcluster_types.go
  exp/api/v1alpha1/azureasomanagedcontrolplane_types.go
  exp/api/v1alpha1/azureasomanagedmachinepool_types.go
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcluster_controller_test.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Deploy CAAPH controller manager in Tilt
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: add e2e test
  templates/cluster-template-aks-aso-clusterclass.yaml
  templates/flavors/aks-aso-clusterclass/clusterclass.yaml
  templates/flavors/aks-aso/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-aso.yaml
  templates/test/ci/prow-aks-aso/kustomization.yaml
  templates/test/ci/prow-aks-aso/patches/aks-pool2.yaml
  test/e2e/aks.go
  test/e2e/aks_versions.go
  test/e2e/azure_clusterproxy.go
  test/e2e/azure_logcollector.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Clean up Azure AD Workload ID docs
  docs/book/src/topics/workload-identity.md
Due: none

propagate k8s version from AzureASOManagedControlPlane to ManagedCluster
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/mutators/azureasomanagedcontrolplane.go
  exp/mutators/azureasomanagedcontrolplane_test.go
  exp/mutators/mutator.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: propagate Cluster spec.clusterNetwork to ManagedCluster
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/mutators/azureasomanagedcontrolplane.go
  exp/mutators/azureasomanagedcontrolplane_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: add resource mutator framework
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/mutators/mutator.go
  exp/mutators/mutator_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Don't share vnet name across template type
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_default.go
  api/v1beta1/azuremanagedcontrolplanetemplate_default_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook_test.go
  api/v1beta1/types_class.go
  azure/scope/managedcontrolplane_test.go
  azure/scope/managedmachinepool_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
  controllers/azuremanagedcontrolplane_controller_test.go
  docs/book/src/topics/clusterclass.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update go-apidiff
  Makefile
  scripts/ci-apidiff.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: aggregate agentPoolProfiles for ManagedCluster create
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/mutators/azureasomanagedcontrolplane.go
  exp/mutators/azureasomanagedcontrolplane_test.go
  main.go
  templates/cluster-template-aks-aso-clusterclass.yaml
  templates/cluster-template-aks-aso.yaml
  templates/flavors/aks-aso-clusterclass/clusterclass.yaml
  templates/flavors/aks-aso/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-aso.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

handle autoscaling for AzureASOManagedMachinePool
  exp/api/v1alpha1/azureasomanagedmachinepool_types.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
  exp/mutators/azureasomanagedmachinepool.go
  exp/mutators/azureasomanagedmachinepool_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: propagate machinepool values to ManagedClustersAgentPools
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/mutators/azureasomanagedcontrolplane.go
  exp/mutators/azureasomanagedcontrolplane_test.go
  exp/mutators/azureasomanagedmachinepool.go
  exp/mutators/azureasomanagedmachinepool_test.go
  templates/cluster-template-aks-aso.yaml
  templates/flavors/aks-aso/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-aso.yaml
  templates/test/ci/prow-aks-aso/patches/aks-pool2.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Don't allow fleetsMembers to have capital letters. Default spec.group
  api/v1beta1/azuremanagedcontrolplane_default.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

remove unneeded code copied from CAPI
  go.mod
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Use vnet resource group
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: add pause handling
  exp/controllers/azureasomanagedcluster_controller.go
  exp/controllers/azureasomanagedcluster_controller_test.go
  exp/controllers/azureasomanagedcontrolplane_controller.go
  exp/controllers/azureasomanagedcontrolplane_controller_test.go
  exp/controllers/azureasomanagedmachinepool_controller.go
  exp/controllers/azureasomanagedmachinepool_controller_test.go
  exp/controllers/resource_reconciler.go
  exp/controllers/resource_reconciler_test.go
  exp/mutators/mutator.go
  exp/mutators/mutator_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: delete resources removed from spec
  exp/api/v1alpha1/azureasomanagedcluster_types.go
  exp/api/v1alpha1/azureasomanagedcontrolplane_types.go
  exp/api/v1alpha1/azureasomanagedmachinepool_types.go
  exp/controllers/resource_reconciler.go
  exp/controllers/resource_reconciler_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Allow upper-case names for ASO resources
  azure/services/agentpools/spec.go
  azure/services/aksextensions/spec.go
  azure/services/bastionhosts/spec.go
  azure/services/groups/groups.go
  azure/services/groups/spec.go
  azure/services/managedclusters/spec.go
  azure/services/natgateways/spec.go
  azure/services/privateendpoints/spec.go
  azure/services/privateendpoints/spec_test.go
  azure/services/subnets/spec.go
  azure/services/virtualnetworks/spec.go
  docs/book/src/topics/managedcluster.md
  test/e2e/aks_marketplace.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add e2e test for AzureASOManagedMachinePool scaling
  test/e2e/aks_machinepools.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: basic automated adoption
  config/rbac/role.yaml
  docs/book/src/topics/managedcluster.md
  exp/controllers/agentpooladopt_controller.go
  exp/controllers/managedclusteradopt_controller.go
  exp/mutators/azureasomanagedcontrolplane.go
  exp/mutators/azureasomanagedcontrolplane_test.go
  main.go
  templates/cluster-template-aks-aso-clusterclass.yaml
  templates/cluster-template-aks-aso.yaml
  templates/flavors/aks-aso-clusterclass/clusterclass.yaml
  templates/flavors/aks-aso/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks-aso.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ASOAPI: update docs
  docs/book/install-and-build.sh
  docs/book/src/SUMMARY.md
  docs/book/src/reference/v1alpha1-exp-api.md
  docs/book/src/topics/aso.md
Due: none

Revert "use az to download storage blobs for custom builds"
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-kcp.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-win.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-windows-k8s-ci-binaries.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/kubeadm-bootstrap-machine-pool-windows-k8s-pr-binaries.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Allow resource group name to be configurable for amcp template
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/types_class.go
  azure/scope/managedcontrolplane_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
  controllers/azuremanagedcontrolplane_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Don't allow fleetsMembers to have capital letters. Default spec.group
  api/v1beta1/azuremanagedcontrolplane_default.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add release v1.15 to metadata.yaml
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add release notes for CAPZ v1.15.0
  CHANGELOG/v1.15.0.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add release notes for CAPZ v1.13.6
  CHANGELOG/v1.13.6.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add willie-yao to project maintainers
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add release notes for CAPZ v1.14.4
  CHANGELOG/v1.14.4.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
