Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

ASOAPI: add CI tags to ManagedCluster resource
  templates/test/ci/cluster-template-prow-aks-aso.yaml
  templates/test/ci/prow-aks-aso/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

rearrange parallelism in AKS machine pool e2e tests
  test/e2e/aks_machinepools.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

remove k8s version pin to 1.25 for MEC e2e test
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/prow-edgezone/kustomization.yaml
  templates/test/ci/prow-edgezone/patches/kubernetes-version.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump e2e test k8s versions
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove WindowsHostProcessContainers feature flag
  docs/book/src/topics/windows.md
  test/e2e/capi_test.go
  test/e2e/data/infrastructure-azure/v1.14.5/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.15.1/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove MixedProtocolLBService feature flag
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-workload-identity.yaml
  templates/test/ci/patches/apiserver.yaml
  templates/test/ci/prow-edgezone/kustomization.yaml
  templates/test/ci/prow-workload-identity/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove WindowsHostProcessContainers feature flag
  docs/book/src/topics/windows.md
  test/e2e/capi_test.go
  test/e2e/data/infrastructure-azure/v1.13.4/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.14.2/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove WindowsHostProcessContainers feature flag
  docs/book/src/topics/windows.md
  test/e2e/capi_test.go
  test/e2e/data/infrastructure-azure/v1.12.2/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.13.0/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

create reconcile test for azuremanagedcluster_controller
  controllers/azuremanagedcluster_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Use envtest binaries from controller-tools repo
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

ci-build-auzre-ccm build windows host-process-container based images
  scripts/ci-build-azure-ccm.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix dead link
  docs/book/src/topics/identities.md
Due: none

Update references to unsupported k8s v1.26
  docs/book/src/topics/managedcluster.md
  hack/create-dev-cluster.sh
  templates/flavors/README.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Skip MEC e2e test as edgezone microsoftvancouver1 is decommissioned
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

refactored field newPath method to use camel case for spec
  CHANGELOG/v1.15.1.md
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azuremachine_validation.go
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook.go
  api/v1beta1/azuremanagedmachinepooltemplate_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook.go
  templates/test/ci/cluster-template-prow-aks-aso.yaml
  templates/test/ci/prow-aks-aso/kustomization.yaml
  test/e2e/aks_machinepools.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.14.5/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.15.1/cluster-template-prow.yaml
  util/webhook/validator_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

enable ProvisioningRequests
  test/e2e/cluster_autoscaler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add Azure SIG Autoscaling test scenarios
  azure/scope/machinepool.go
  azure/scope/managedmachinepool.go
  azure/services/agentpools/agentpools.go
  azure/services/agentpools/agentpools_test.go
  azure/services/agentpools/mock_agentpools/agentpools_mock.go
  azure/services/scalesets/scalesets.go
  controllers/azuremanagedmachinepool_controller_test.go
  controllers/azuremanagedmachinepool_reconciler.go
  go.mod
  go.sum
  hack/util.sh
  scripts/ci-build-cluster-autoscaler.sh
  scripts/ci-e2e.sh
  templates/test/ci/cluster-template-prow-aks-cluster-autoscaler.yaml
  templates/test/ci/cluster-template-prow-cluster-autoscaler-capi.yaml
  templates/test/ci/cluster-template-prow-cluster-autoscaler-external.yaml
  templates/test/ci/patches/cluster-autoscaler-capi-annotations.yaml
  templates/test/ci/patches/cluster-autoscaler-external-annotations.yaml
  templates/test/ci/prow-aks-cluster-autoscaler/kustomization.yaml
  templates/test/ci/prow-aks-cluster-autoscaler/patches/addons.yaml
  templates/test/ci/prow-aks-cluster-autoscaler/patches/aks-pool0.yaml
  templates/test/ci/prow-aks-cluster-autoscaler/patches/aks-pool1.yaml
  templates/test/ci/prow-cluster-autoscaler-capi/kustomization.yaml
  templates/test/ci/prow-cluster-autoscaler-external/kustomization.yaml
  templates/test/ci/prow-cluster-autoscaler-external/machine-pool-autoscale.yaml
  test/e2e/azure_csidriver.go
  test/e2e/azure_lb.go
  test/e2e/azure_machinepools.go
  test/e2e/azure_net_pol.go
  test/e2e/azure_test.go
  test/e2e/cluster_autoscaler.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
  test/e2e/helm.go
  test/e2e/kubernetes/deployment/deployment.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

byClusterOptions helper func is gone
  test/e2e/cluster_autoscaler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

use default k8s version for spot e2e test
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Set MachinePool feature flag to true
  config/manager/manager.yaml
  hack/observability/opentelemetry/controller-manager-patch.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Allow configuration of enableAzureRBAC
  api/v1beta1/azuremanagedcontrolplane_default.go
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_default.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.7.3
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.6.6
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add user-assigned identity to worker nodes for CI version templates
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool-ci-version/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

remove user-defined MP count from aks-aso-clusterclass template
  templates/cluster-template-aks-aso-clusterclass.yaml
  templates/flavors/aks-aso-clusterclass/clusterclass.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint
