Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

Add Windows hostprocess featuregate for upgrade test
  test/e2e/capi_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ci: print git info when building from k8s source
  scripts/ci-build-kubernetes.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Support specifying CCM cluster CIDR
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Allow to set custom backend pool names for load balancers
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix rebase error on ci-entrypoint script
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPI to v1.2.6
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Revert "ci: print git info when building from k8s source"
  scripts/ci-build-kubernetes.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix bad generated template name on Mac
  hack/common-vars.sh
  hack/gen-flavors.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

lint: add correct link for upgrading clusters doc
  docs/book/src/topics/custom-images.md
Due: none

Fix AzureDisk Helm values to work with Windows
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update ammp reconciler to check nodepools against spec.name
  exp/controllers/azuremanagedmachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

replace xargs with for loop in gen-flavors.sh
  hack/common-vars.sh
  hack/gen-flavors.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update latest-1.21 to latest-1.25
  docs/book/src/developers/development.md
  docs/book/src/topics/custom-images.md
Due: none

Add proposal for AzureManagedCluster v1
  docs/proposals/20220825-azuremanaged-cluster-exp-graduation.md
Due: none

feat: respect externally managed annotation on unmanaged MachinePools
  azure/scope/machinepool.go
  azure/services/scalesets/mock_scalesets/scalesets_mock.go
  azure/services/scalesets/scalesets.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Convert resourceGroup name in ID for VMSS vms to lower case to keep it compatible with the rest of capz
  azure/converters/vmss.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

e2e: print number of ready daemonset pods
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add e2e AKS upgrade test
  test/e2e/aks.go
  test/e2e/azure_test.go
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Upgrade the azure-sdk-for-go to v67.1.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Default Ubuntu to 22.04 for new k8s versions
  azure/services/virtualmachineimages/images.go
  azure/services/virtualmachineimages/images_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add skipLogCollection to all cleanupInputs
  test/e2e/azure_privatecluster.go
  test/e2e/azure_selfhosted.go
  test/e2e/conformance_test.go
  test/e2e/csi_migration_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Exclude SA1019 warnings generated by staticcheck linter incurred by referring to Azure SDK v1 which is being deprecated.
  .golangci.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

feat: AKS node pool KubeletConfig
  azure/converters/managedagentpool.go
  azure/scope/managedmachinepool.go
  azure/services/agentpools/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  docs/book/src/topics/managedcluster.md
  exp/api/v1alpha3/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedmachinepool_conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedmachinepool_types.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  exp/controllers/helpers_test.go
  templates/cluster-template-aks.yaml
  templates/flavors/aks/cluster-template.yaml
  templates/test/ci/cluster-template-prow-aks.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Rebase
  .golangci.yml
  go.mod
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Exclude SA1019 warnings generated by staticcheck linter incurred by referring to Azure SDK v1 which is being deprecated
  .golangci.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

split out AKS E2E source files
  test/e2e/aks.go
  test/e2e/aks_autoscaler.go
  test/e2e/aks_machinepools.go
  test/e2e/aks_public_ip_prefix.go
  test/e2e/aks_upgrade.go
  test/e2e/aks_versions.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add logging for empty RoleAssignmentName
  azure/services/roleassignments/roleassignments.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Enable race detector for unit tests
  Makefile
  api/v1beta1/azuremachinetemplate_webhook_test.go
  azure/services/inboundnatrules/inboundnatrules_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Switch to Standard_B2s VM SKU by default
  Tiltfile
  docs/book/src/developers/development.md
  docs/book/src/topics/custom-vnet.md
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/gpu.md
  docs/book/src/topics/spot-vms.md
  exp/controllers/helpers_test.go
  hack/create-dev-cluster.sh
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  templates/flavors/README.md
  templates/test/ci/cluster-template-prow-aks.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-default.yaml
  templates/test/ci/prow-aks/patches/aks-pool0.yaml
  templates/test/ci/prow-aks/patches/aks-pool1.yaml
  templates/test/ci/prow-aks/patches/aks-pool2.yaml
  templates/test/ci/prow-clusterclass-ci-default/variables.yaml
  test/e2e/azure_test.go
  test/e2e/data/availableZonesPerLocation.json
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
