Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

remove as azure cloud provider config is auto-generated
  docs/book/src/topics/custom-vnet.md
Due: none

apply SSA changes for capi 1.2
  Makefile
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azurecluster_webhook_test.go
  api/v1beta1/azureclustertemplate_validation.go
  api/v1beta1/azureclustertemplate_validation_test.go
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  api/v1beta1/types_template.go
  azure/scope/cluster_test.go
  azure/scope/machine_test.go
  azure/scope/managedcontrolplane.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepoolmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  controllers/azurejson_machine_controller_test.go
  controllers/azurejson_machinepool_controller_test.go
  controllers/helpers_test.go
  templates/test/ci/cluster-template-prow-clusterclass-ci-default.yaml
  templates/test/ci/prow-clusterclass-ci-default/base.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pin to a version of codespell
  .github/workflows/codespell.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

test capz CI
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add ShouldNot to codespellignore
  .codespellignore
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove kcp adoption test
  Makefile
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step1/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step2/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step2/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

standardize AzureManagedCluster webhooks
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  exp/api/v1beta1/azuremanagedcluster_webhook.go
  exp/api/v1beta1/azuremanagedcluster_webhook_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add more generic validation funcs
  .golangci.yml
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azuremachine_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  main.go
  util/webhook/validator.go
  util/webhook/validator_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Fix typo in ReconcileError logs
  controllers/azurecluster_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Enable Service Endpoints for Subnets
  api/v1alpha3/azurecluster_conversion.go
  api/v1alpha4/azurecluster_conversion.go
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/cluster.go
  azure/scope/managedcontrolplane.go
  azure/services/subnets/spec.go
  azure/services/subnets/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  docs/book/src/topics/custom-vnet.md
  exp/api/v1alpha3/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha3/conversion.go
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/azuremanagedcontrolplane_conversion.go
  exp/api/v1alpha4/conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/azuremanagedcontrolplane_types.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

triage AKS experimental files
  azure/converters/managedagentpool_exp.go
  azure/converters/managedagentpool_exp_test.go
  azure/scope/managedcontrolplane_exp.go
  azure/scope/managedcontrolplane_exp_test.go
  azure/scope/managedmachinepool_exp.go
  azure/scope/managedmachinepool_exp_test.go
  azure/services/managedclusters/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

graduated AzureManagedCluster API spec
  api/v1beta1/azuremanagedcluster_conversion.go
  api/v1beta1/azuremanagedcluster_default.go
  api/v1beta1/azuremanagedcluster_types.go
  api/v1beta1/azuremanagedcluster_webhook.go
  api/v1beta1/azuremanagedcontrolplane_conversion.go
  api/v1beta1/azuremanagedcontrolplane_default.go
  api/v1beta1/azuremanagedcontrolplane_default_test.go
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/defaults.go
  azure/scope/managedcontrolplane_exp.go
  azure/scope/managedmachinepool_exp.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  exp/api/v1beta1/azuremanagedcluster_types.go
  exp/api/v1beta1/azuremanagedcluster_webhook.go
  exp/api/v1beta1/azuremanagedcluster_webhook_test.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook.go
  exp/api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  util/azure/azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Quiet down VM image log messages
  azure/services/virtualmachineimages/cache.go
  azure/services/virtualmachineimages/images.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

test: enable using custom flavor for conformance test
  Makefile
  docs/book/src/developers/development.md
  test/e2e/conformance_test.go
  test/e2e/data/kubetest/conformance-dual-stack-ginkgo-v2.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update list of immutable fields to exclude AzureManagedControlPlane.spec.virtualNetwork.subnet.serviceEndpoints
  docs/book/src/topics/managedcluster.md
Due: none

bump CAPI to v1.2.4
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Remove kcp adoption label from e2e templates
  test/e2e/data/infrastructure-azure/v1beta1/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-scale-in.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-upgrades.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix UTC meeting time in README
  README.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Introduce additional linters & bump golangci-lint to 1.50.0
  .codespellignore
  .golangci.yml
  Makefile
  azure/converters/futures_test.go
  azure/defaults_test.go
  azure/services/agentpools/agentpools_test.go
  azure/services/async/async_test.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/bastionhosts/bastionhosts_test.go
  azure/services/disks/disks_test.go
  azure/services/groups/groups_test.go
  azure/services/inboundnatrules/inboundnatrules_test.go
  azure/services/loadbalancers/loadbalancers_test.go
  azure/services/natgateways/natgateways_test.go
  azure/services/networkinterfaces/networkinterfaces_test.go
  azure/services/publicips/publicips_test.go
  azure/services/roleassignments/roleassignments_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesetvms/scalesetvms_test.go
  azure/services/subnets/subnets_test.go
  azure/services/tags/tags_test.go
  azure/services/virtualmachines/virtualmachines_test.go
  azure/services/virtualnetworks/virtualnetworks_test.go
  azure/services/vmextensions/vmextensions_test.go
  azure/services/vnetpeerings/vnetpeerings_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Stop using the beta.kubernetes.io/os
  hack/observability/prometheus/resources/bundle.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add unit test to verify formatting of compute gallery image id
  azure/converters/image_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add nil check for SharedGallery and ComputeGallery
  azure/converters/image.go
  azure/converters/image_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix: format azure compute gallery image ID
  azure/converters/image.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix error message text to use actual field names
  azure/converters/image.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix scaling managed machine pool to zero
  azure/services/agentpools/spec.go
  azure/services/agentpools/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

upgrade the azure sdk to v67.0.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix error pulling cloud provider images in e2e
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

increase AKS cluster delete timeout tolerance
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

chore: increase the ccm log verbosity in e2e test
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add default machinepool upgrade timeout
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Disable Kubescape security scanner in e2e tests
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

test: set private cluster E2E test to optional
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Handle different base64 tools in Tiltfile
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Handle different base64 tools in Tiltfile (#2755)
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Revert "fix error pulling cloud provider images in e2e"
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add AKS nodepool autoscale test
  test/e2e/aks.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add managed machine pool scale tests
  test/e2e/aks.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Remove kcp adoption test (#2731)
  Makefile
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1beta1/bases/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step1/cluster-with-cp0.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step1/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step2/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-adoption/step2/kustomization.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-scale-in.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain/cluster-with-kcp.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-upgrades.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

common funcs webhook immutable properties
  .golangci.yml
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azuremachine_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
  main.go
  util/webhook/validator.go
  util/webhook/validator_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Uplift go version to v1.19.0
  .github/workflows/cover.yaml
  .github/workflows/release.yaml
  .golangci.yml
  Dockerfile
  Makefile
  Tiltfile
  docs/book/src/developers/development.md
  go.mod
  hack/ensure-go.sh
  hack/tools/go.mod
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint
