Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

fixed doc.go and nodelister_mock.go
  controllers/doc.go
  controllers/nodelister_mock.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update CAPI to v1.5.1
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
  test/e2e/e2e_suite_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update controllers/doc.go
  controllers/doc.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update CAPI to v1.4.6
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add, fix and improve tests and code docs
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/types.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/services/privatelinks/client.go
  azure/services/privatelinks/mock_privatelinks/client_mock.go
  azure/services/privatelinks/mock_privatelinks/doc.go
  azure/services/privatelinks/privatelinks.go
  azure/services/privatelinks/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

added doc.go file (#3902)
  controllers/doc.go
  controllers/nodelister_mock.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix tilt for non-kind clusters
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix spurious ASO secret controller errors
  controllers/asosecret_controller.go
  controllers/asosecret_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Convert disks service to SDKv2
  azure/services/disks/client.go
  azure/services/disks/disks.go
  controllers/azuremachine_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

bump github.com/azure-sdk-for-go/sdk/resource/containerservice/armcontainerservice/v4 from 4.1.0 to 4.2.0
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Refactor private link validation
  api/v1beta1/azurecluster_validation.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Convert vmextensions service to SDKv2
  azure/services/vmextensions/client.go
  azure/services/vmextensions/spec.go
  azure/services/vmextensions/spec_test.go
  azure/services/vmextensions/vmextensions.go
  controllers/azuremachine_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Convert availabilitysets service to SDKv2
  azure/services/availabilitysets/availabilitysets.go
  azure/services/availabilitysets/availabilitysets_test.go
  azure/services/availabilitysets/client.go
  azure/services/availabilitysets/spec.go
  azure/services/availabilitysets/spec_test.go
  controllers/azuremachine_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Convert inboundnatrules service to SDKv2
  azure/services/inboundnatrules/client.go
  azure/services/inboundnatrules/inboundnatrules.go
  azure/services/inboundnatrules/inboundnatrules_test.go
  azure/services/inboundnatrules/mock_inboundnatrules/client_mock.go
  azure/services/inboundnatrules/spec.go
  azure/services/inboundnatrules/spec_test.go
  controllers/azuremachine_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Users can add "Allow" or "Deny" action to the security rules
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/types.go
  azure/converters/rules.go
  azure/scope/cluster.go
  azure/services/securitygroups/securitygroups_test.go
  azure/services/securitygroups/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclustertemplates.yaml
  docs/book/src/topics/custom-vnet.md
  test/e2e/azure_securitygroups.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix private template
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/prow-intree-cloud-provider/kustomization.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-cp.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-md-0.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-md-win.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-mp.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Convert roleassignments service to SDKv2
  azure/services/roleassignments/client.go
  azure/services/roleassignments/roleassignments.go
  azure/services/roleassignments/spec.go
  controllers/azuremachine_reconciler.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremachinepool_reconciler.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump k8s version
  hack/create-dev-cluster.sh
  templates/cluster-template-intree-cloud-provider.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

move in tree patches to private
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

generate templates
  templates/test/ci/prow-intree-cloud-provider/kustomization.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-md-win.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-mp.yaml
  templates/test/ci/prow-machine-pool-flex/kustomization.yaml
  templates/test/ci/prow-machine-pool-flex/patches/vmss-flex.yaml
  templates/test/ci/prow-private/kustomization.yaml
  templates/test/ci/prow-private/patches/intree-cp.yaml
  templates/test/ci/prow-private/patches/intree-md-0.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

reduce number of control plane machines used
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix some tests
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow-ci-version/patches/machine-pool-ci-version-windows.yaml
  templates/test/ci/prow-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/ci/prow/machinepool-flex-windows.yaml
  templates/test/ci/prow/machinepool-flex.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix custom builds template
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/kustomization.yaml
  templates/test/dev/custom-builds/patches/machinepool-custom-builds.yaml
  templates/test/dev/custom-builds/patches/machinepool-pr-version-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update routetables service to SDK v2
  azure/services/routetables/client.go
  azure/services/routetables/routetables.go
  azure/services/routetables/spec.go
  controllers/azurecluster_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

convert privateendpoints service to SDK v2
  azure/services/privateendpoints/client.go
  azure/services/privateendpoints/privateendpoints.go
  azure/services/privateendpoints/spec.go
  azure/services/privateendpoints/spec_test.go
  controllers/azurecluster_reconciler.go
  controllers/azuremanagedcontrolplane_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Convert vnetpeerings service to SDKv2
  azure/services/vnetpeerings/client.go
  azure/services/vnetpeerings/spec.go
  azure/services/vnetpeerings/vnetpeerings.go
  controllers/azurecluster_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

bump github.com/Azure/azure-service-operator/v2 from v2.2.0 to v2.3.0
  Makefile
  config/aso/crds.yaml
  config/aso/kustomization.yaml
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Convert resourcehealth service to SDKv2
  azure/converters/resourcehealth.go
  azure/converters/resourcehealth_test.go
  azure/services/resourcehealth/client.go
  azure/services/resourcehealth/mock_resourcehealth/client_mock.go
  azure/services/resourcehealth/resourcehealth.go
  azure/services/resourcehealth/resourcehealth_test.go
  controllers/azuremanagedcontrolplane_reconciler.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Label kubeconfig with cluster name
  azure/scope/managedcontrolplane.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix asyncpoller long running op state cleanup
  azure/services/asyncpoller/asyncpoller.go
  azure/services/asyncpoller/asyncpoller_test.go
  azure/services/availabilitysets/client.go
  azure/services/bastionhosts/client.go
  azure/services/inboundnatrules/client.go
  azure/services/natgateways/client.go
  azure/services/vmextensions/client.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Convert identities service to SDKv2
  azure/services/identities/client.go
  azure/services/identities/mock_identities/client_mock.go
  azure/services/virtualmachines/virtualmachines.go
  controllers/azuremachine_reconciler.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Convert subnets service to SDKv2
  azure/converters/subnets.go
  azure/converters/subnets_test.go
  azure/services/subnets/client.go
  azure/services/subnets/spec.go
  azure/services/subnets/spec_test.go
  azure/services/subnets/subnets.go
  azure/services/subnets/subnets_test.go
  controllers/azurecluster_reconciler.go
  controllers/azuremanagedcontrolplane_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add cloud-provider-azure HCP to prow templates
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-default.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-flatcar.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow-workload-identity.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow-azure-cni-v1/kustomization.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-clusterclass-ci-default/kustomization.yaml
  templates/test/ci/prow-custom-vnet/kustomization.yaml
  templates/test/ci/prow-dual-stack/kustomization.yaml
  templates/test/ci/prow-edgezone/kustomization.yaml
  templates/test/ci/prow-flatcar/kustomization.yaml
  templates/test/ci/prow-ipv6/kustomization.yaml
  templates/test/ci/prow-machine-pool-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool/kustomization.yaml
  templates/test/ci/prow-nvidia-gpu/kustomization.yaml
  templates/test/ci/prow-private/kustomization.yaml
  templates/test/ci/prow-topology/kustomization.yaml
  templates/test/ci/prow-workload-identity/kustomization.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove in tree and fix private cluster
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/prow-intree-cloud-provider-machine-pool/kustomization.yaml
  templates/test/ci/prow-intree-cloud-provider-machine-pool/patches/intree-mp.yaml
  templates/test/ci/prow-intree-cloud-provider/kustomization.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-cp.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-md-0.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-md-win.yaml
  templates/test/ci/prow-private/kustomization.yaml
  test/e2e/azure_privatecluster.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

nuke entrypoint functions :)
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add doc for workload identity
  docs/book/src/SUMMARY.md
  docs/book/src/topics/multitenancy.md
  docs/book/src/topics/workload-identity.md
Due: none

Convert privatedns service to SDKv2
  azure/converters/dns.go
  azure/converters/dns_test.go
  azure/services/privatedns/link_client.go
  azure/services/privatedns/link_spec.go
  azure/services/privatedns/link_spec_test.go
  azure/services/privatedns/privatedns.go
  azure/services/privatedns/record_client.go
  azure/services/privatedns/record_spec.go
  azure/services/privatedns/record_spec_test.go
  azure/services/privatedns/zone_client.go
  azure/services/privatedns/zone_spec.go
  azure/services/privatedns/zone_spec_test.go
  controllers/azurecluster_reconciler.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
