Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

Don't default NAT Gateway for existing node subnet
  api/v1beta1/azurecluster_default.go
  api/v1beta1/azurecluster_default_test.go
  azure/services/subnets/spec.go
  azure/services/subnets/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update metadata files for release 1.10
  metadata.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update metadata.yaml for release 1.10
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update test metadata for 1.10 release
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add docs on using Azure cni v1 using single NIC per Linux node
  docs/book/src/topics/addons.md
Due: none

reconcile tags with ASO
  azure/services/aso/aso.go
  azure/services/aso/aso_test.go
  azure/services/aso/interfaces.go
  azure/services/aso/mock_aso/aso_mock.go
  azure/services/aso/tags.go
  azure/services/aso/tags_test.go
  azure/services/asogroups/spec.go
  azure/services/tags/tags.go
  azure/services/tags/tags_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix make kind-create default for AZWI
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add makefile targets to install and verify using codespell 2.2.5
  .github/workflows/codespell.yml
  Makefile
  docs/book/src/developers/development.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

corrected minor language error
  docs/book/src/developers/development.md
Due: none

Allow setting ScaleDownMode and SpotMaxPrice for AzureManagedMachinePool
  api/v1beta1/azuremanagedmachinepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/converters/managedagentpool.go
  azure/scope/managedmachinepool.go
  azure/services/agentpools/spec.go
  azure/services/agentpools/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  test/e2e/aks_spot.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Allow skipping Linux profile on managed clusters
  api/v1beta1/azuremanagedcontrolplane_default.go
  api/v1beta1/azuremanagedcontrolplane_default_test.go
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/managedcontrolplane.go
  azure/services/managedclusters/spec.go
  azure/services/managedclusters/spec_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Added Node Prototyping feature flag so that future changes can be in alpha and off by default
  feature/feature.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update feature/feature.go to have proper version with CAPZ first version
  feature/feature.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Updated wasm docs to include wasm workers server
  docs/book/src/topics/multitenancy.md
  docs/book/src/topics/wasi.md
Due: none

added priorityClassName for capz-nmi
  config/capz/aad-pod-identity-deployment.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

move devigned (justice) to emeritus
  OWNERS
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update dependabot config
  .github/dependabot.yml
  docs/book/src/developers/development.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

ensure codecov does not block PRs
  .github/codecov.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[release-1.9] Update Azure documentation links
  README.md
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azuremachine_types.go
  api/v1beta1/types.go
  azure/defaults.go
  azure/services/loadbalancers/spec.go
  azure/services/managedclusters/spec.go
  azure/services/virtualmachineimages/client.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/developers/development.md
  docs/book/src/topics/api-server-endpoint.md
  docs/book/src/topics/custom-images.md
  docs/book/src/topics/custom-vnet.md
  docs/book/src/topics/data-disks.md
  docs/book/src/topics/failure-domains.md
  docs/book/src/topics/getting-started.md
  docs/book/src/topics/identities-use-cases.md
  docs/book/src/topics/machinepools.md
  docs/book/src/topics/multitenancy.md
  docs/book/src/topics/node-outbound-connection.md
  docs/book/src/topics/os-disk.md
  docs/book/src/topics/publicmec-clusters.md
  docs/book/src/topics/spot-vms.md
  docs/book/src/topics/ssh-access.md
  docs/book/src/topics/troubleshooting.md
  docs/book/src/topics/vm-diagnostics.md
  docs/book/src/topics/vm-identity.md
  docs/proposals/20201214-bootstrap-failure-detection.md
  docs/proposals/20210222-azure-machinepool-machine.md
  exp/api/v1beta1/azuremachinepool_types.go
  hack/observability/readme.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Snapshot feature here for usage in big workflow
  exp/controllers/azuremachinepool_reconciler.go
  go.mod
  go.sum
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add nojnhuh to maintainers
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

List WorkloadIdentity as one of available IdentityTypes
  api/v1beta1/azureclusteridentity_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Functionality that allows for quick client retrieval of MachinePoolScope and creation of a MachinePoolMachineScope in the azuremachinepool_reconciler
  azure/scope/machinepool.go
  exp/controllers/azuremachinepool_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Fixed linting issue with missing period
  azure/scope/machinepool.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Document using a Mariner Linux custom image
  docs/book/src/topics/custom-images.md
Due: none

Add sonasingh46 to maintainers
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add support for arm64 vm extension
  azure/defaults.go
  azure/defaults_test.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/resourceskus/sku.go
  exp/controllers/azuremachinepool_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add pause handling for AzureCluster controller
  azure/interfaces.go
  azure/mock_azure/azure_mock.go
  controllers/azurecluster_controller.go
  controllers/azurecluster_controller_test.go
  controllers/azurecluster_reconciler.go
  controllers/azurecluster_reconciler_test.go
  controllers/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add machine pool wait to default e2e parameters
  test/e2e/common.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Pin k8s e2e version to v1.25.11
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix bug preventing AKS autoscaling from being disabled
  azure/scope/managedmachinepool.go
  azure/scope/managedmachinepool_test.go
  azure/services/agentpools/spec.go
  azure/services/agentpools/spec_test.go
  azure/services/managedclusters/spec_test.go
  controllers/azuremanagedmachinepool_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update Helm to v3.12.2
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Use Helm binary in e2e tests to avoid import
  go.mod
  go.sum
  test/e2e/cloud-provider-azure.go
  test/e2e/cni.go
  test/e2e/gpu_operator.go
  test/e2e/helm.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
