Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

Bump golangci-lint to v1.50.1
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

standardize curl retries in scripts
  Makefile
  Tiltfile
  docs/book/install-and-build.sh
  hack/create-custom-cloud-provider-config.sh
  hack/ensure-azcli.sh
  hack/observability/prometheus/fetch-prometheus-resources.sh
  hack/util.sh
  hack/verify-starlark.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add e2e test for AKS node pool taints
  test/e2e/aks_node_taints.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

feat/ add outboundType support
  api/v1alpha3/azuremanagedcontrolplane_conversion.go
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/azuremanagedcontrolplane_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/zz_generated.deepcopy.go
  azure/scope/managedcontrolplane.go
  azure/scope/managedcontrolplane_test.go
  azure/services/managedclusters/spec.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Always run AKS E2E get+update as transaction
  test/e2e/aks_autoscaler.go
  test/e2e/aks_azure_cluster_autoscaler.go
  test/e2e/aks_public_ip_prefix.go
  test/e2e/aks_tags.go
  test/e2e/aks_upgrade.go
  test/e2e/azure_machinepool_drain.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

E2E: use a common cluster-identity-secret
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

remove CSI migration test for EOL'd k8s v1.22
  test/e2e/csi_migration_test.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

E2E: retries in CopyConfigMap func
  test/e2e/cni.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add pod describe to e2e logger
  go.mod
  go.sum
  test/e2e/azure_clusterproxy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Fix custom builds kube pods pending
  scripts/ci-entrypoint.sh
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/patches/kubeadm-controlplane-bootstrap.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Skip system pool validation while cluster is paused/moved
  api/v1beta1/azuremanagedmachinepool_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

helm gpu-operator instead of ClusterResourceSet
  docs/book/src/topics/gpu.md
  hack/fetch-nvidia-resources.sh
  templates/cluster-template-nvidia-gpu.yaml
  templates/flavors/nvidia-gpu/clusterpolicy-crd.yaml
  templates/flavors/nvidia-gpu/gpu-operator-components.yaml
  templates/flavors/nvidia-gpu/gpu-operator-resources-set.yaml
  templates/flavors/nvidia-gpu/kustomization.yaml
  templates/flavors/nvidia-gpu/patches/cluster.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  test/e2e/azure_test.go
  test/e2e/cloud-provider-azure.go
  test/e2e/cni.go
  test/e2e/gpu_operator.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Increase linter timeout to 10m
  .golangci.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Retry VMSS Flex validation if no parent MP is found
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  util/azure/azure.go
  util/azure/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add release instructions for updating the branch
  docs/book/src/developers/images/netlify_deploys.png
  docs/book/src/developers/releasing.md
Due: none

Remove Calico felix override workaround
  Tiltfile
  docs/book/src/topics/addons.md
  scripts/ci-entrypoint.sh
  templates/addons/calico/felix-override.yaml
  test/e2e/cni.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

removed SetBootstrapConditions func
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

removed SetBootstrapCodition
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update default k8s version to v1.25 for testing
  Makefile
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

use g.Expect when assertions are clearest
  test/e2e/aks_public_ip_prefix.go
  test/e2e/aks_upgrade.go
  test/e2e/azure_failuredomains.go
  test/e2e/azure_gpu.go
  test/e2e/azure_lb.go
  test/e2e/azure_machinepool_drain.go
  test/e2e/helpers.go
  test/e2e/kubernetes/deployment/deployment.go
  test/e2e/kubernetes/namespace/namespace.go
  test/e2e/kubernetes/networkpolicy/networkpolicy.go
  test/e2e/kubernetes/node/node.go
  test/e2e/kubernetes/pod/pod.go
  test/e2e/kubernetes/pvc/pvc.go
  test/e2e/kubernetes/storageclass/storageclass.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

E2E: don’t stop/start kubelet before kubeadm runs
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/patches/control-plane-kubeadm-boostrap-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/kubeadm-bootstrap.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds/patches/kubeadm-bootstrap.yaml
  templates/test/dev/custom-builds/patches/kubeadm-controlplane-bootstrap.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

log diffs for agentpools
  azure/services/agentpools/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

removed the unused imports
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

missing context wrapping
  azure/scope/machinepool.go
  controllers/azurecluster_controller.go
  controllers/azureidentity_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Used make-lint
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

bump ginkgo to 2.7.1 in Makefile
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

removed SetBootstrapCondition (#3120)
  azure/scope/machine.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Updated the version to v0.6.2 in images of yaml templates
  templates/addons/metrics-server/kustomization.yaml
  templates/addons/metrics-server/metrics-server.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-external-cloud-provider-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix wrong LB idletimeout for node outbound
  azure/scope/cluster.go
  azure/scope/cluster_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

E2E: explicit kubeconfig in shell scripts
  Makefile
  docs/book/src/developers/development.md
  docs/book/src/topics/aad-integration.md
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Bump cert-manager to v1.11.0
  Tiltfile
  hack/install-cert-manager.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

[release-1.6] Bump CAPI to v1.2.10
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

record failure for VMSS and add bootstrap extention condition
  azure/converters/vmss.go
  azure/defaults.go
  azure/scope/machinepoolmachine.go
  azure/types.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update book roadmap
  docs/book/src/developers/releasing.md
  docs/book/src/roadmap.md
Due: none

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
