Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

Switch k8s custom build templates to out of tree
  hack/util.sh
  scripts/ci-build-azure-ccm.sh
  scripts/ci-build-kubernetes.sh
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/kustomization.yaml
  templates/test/dev/custom-builds/kustomization.yaml
  templates/test/dev/custom-builds/patches/kubeadm-controlplane-bootstrap.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Use Ubuntu 22.04 as base OS image for k8s CI tests
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/patches/control-plane-image-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/machine-deployment-ci-version.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds/patches/machine-deployment-pr-version.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Revert change to reuse artifacts for Windows
  scripts/ci-build-azure-ccm.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Cherry-picking 1d6c199 into release-1.8
  docs/book/src/topics/windows.md
  scripts/ci-entrypoint.sh
  templates/cluster-template-machinepool-windows.yaml
  templates/cluster-template-windows.yaml
  templates/flavors/base-windows-containerd/kubeadm-control-plane.yaml
  templates/flavors/machinepool-windows/kustomization.yaml
  templates/flavors/machinepool-windows/machine-pool-deployment-windows.yaml
  templates/flavors/windows/kustomization.yaml
  templates/flavors/windows/machine-deployment-windows.yaml
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-clusterclass-ci-default.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/prow-clusterclass-ci-default/windows.yaml
  templates/test/ci/prow-intree-cloud-provider-machine-pool/patches/intree-mp.yaml
  templates/test/ci/prow-intree-cloud-provider/patches/intree-md-win.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/azure_test.go
  test/e2e/capi_test.go
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update cloadbuild.yaml
  cloudbuild.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Allow feature gates to be passed through for Windows
  templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/ci/patches/windows-containerd-patch.yaml
  templates/test/ci/patches/windows-feature-gates.yaml
  templates/test/ci/prow-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool/kustomization.yaml
  templates/test/ci/prow/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds/kustomization.yaml
  test/e2e/conformance_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add unit tests for azuremachinetemplate_webhook ValidateCreate
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

replace N1_HIGHCPU_8 with E2_HIGHCPU_8
  cloudbuild.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Build Windows k8s artifacts if TEST_WINDOWS or WINDOWS is set
  scripts/ci-build-kubernetes.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add missing tests for azuremachinepool_default.go
  exp/api/v1beta1/azuremachinepool_default_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add ASO install
  Makefile
  config/aso/credentials.yaml
  config/aso/kustomization.yaml
  config/capz/aad-pod-identity-deployment.yaml
  config/capz/credentials.yaml
  config/capz/kustomization.yaml
  config/capz/kustomizeconfig.yaml
  config/capz/manager_credentials_patch.yaml
  config/capz/manager_image_patch.yaml
  config/capz/manager_prometheus_metrics_patch.yaml
  config/capz/manager_pull_policy.yaml
  config/capz/manager_webhook_patch.yaml
  config/capz/namespace.yaml
  config/capz/webhookcainjection_patch.yaml
  config/default/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update golang to v1.20
  .github/workflows/cover.yaml
  .github/workflows/release.yaml
  .golangci.yml
  Dockerfile
  Makefile
  Tiltfile
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy.go
  docs/book/src/developers/development.md
  go.mod
  hack/ensure-go.sh
  hack/tools/go.mod
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Ignore disabled addons when computing diff of managed clusters.
  azure/services/managedclusters/managedclusters.go
  config/default/manager_image_patch.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

add tests for ValidateDiagnostics
  api/v1beta1/azuremachine_validation_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

fix tilt live reload for capz-controller-manager
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix Ginkgov2 deprecation warnings
  test/e2e/common.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

error early in tilt on errors in flavor commands
  Tiltfile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update link to ASO multitenancy
  docs/proposals/20230123-azure-service-operator.md
Due: none

Fix ci-build-kubernetes.sh capz::util::get_latest_ci_version needs to be imported from hack/util.sh.
  scripts/ci-build-kubernetes.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Specifing --output type for az storage calls in ci-build-kubernetes.sh
  scripts/ci-build-kubernetes.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add ipv6 IP configs for VMSS
  azure/scope/machinepool.go
  azure/services/scalesets/scalesets.go
  azure/types.go
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/prow-dual-stack/kustomization.yaml
  templates/test/ci/prow-dual-stack/machine-pool-dualstack.yaml
  templates/test/ci/prow-ipv6/kustomization.yaml
  templates/test/ci/prow-ipv6/machine-pool-ipv6.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fixing Windows stuff in cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/custom-builds-machine-pool/kustomization.yaml
  templates/test/dev/custom-builds-machine-pool/patches/kubeadm-bootstrap-machine-pool-windows-k8s-pr-binaries.yaml
  templates/test/dev/custom-builds-machine-pool/patches/machine-pool-deployment-pr-version-windows.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update tests
  api/v1beta1/azuremachine_validation_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

test: added test for setDefaultAutoScalerProfile
  api/v1beta1/azuremanagedcontrolplane_default_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update CAPI to v1.4.2
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add release 1.9 to metadata.yaml
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update CAPI to v1.3.7
  Makefile
  Tiltfile
  go.mod
  go.sum
  hack/install-cert-manager.sh
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Update vNext version in azure-dev.yaml
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Temporarily ignore all diffs related to addonprofiles when updating managed cluster.
  azure/services/managedclusters/managedclusters.go
  config/default/manager_image_patch.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

allow unsetting acceleratedNetworking deprecated field on azuremachine
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/azuremachine_webhook_test.go
  util/webhook/validator.go
  util/webhook/validator_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

use default backend pool name in capz controller if empty
  api/v1beta1/azurecluster_default.go
  controllers/azurecluster_reconciler.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update azuremachine_validation_test.go
  api/v1beta1/azuremachine_validation_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

generate API reference docs
  api/v1beta1/doc.go
  api/v1beta1/groupversion_info.go
  docs/book/install-and-build.sh
  docs/book/src/SUMMARY.md
  docs/book/src/reference/reference.md
  docs/book/src/reference/v1beta1-api.md
  docs/book/src/reference/v1beta1-exp-api.md
  exp/api/v1beta1/doc.go
  exp/api/v1beta1/groupversion_info.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
