Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

pull-cluster-api-provider-azure-e2e:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-e2e-exp:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

pull-cluster-api-provider-azure-ci-entrypoint:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-azure-cred-only: 'true'
    preset-azure-anonymous-pull: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20220812-a0f1ed2b84-1.24
      command:
  ...

AzureManagedControlPlane watches Cluster for pause/unpause notifications. (#39)
  exp/controllers/azuremanagedcontrolplane_controller.go
  exp/controllers/helpers.go
  exp/controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add webhook validation for azuremanagedmachinepool
  exp/api/v1beta1/azuremanagedmachinepool_webhook.go
  exp/api/v1beta1/azuremanagedmachinepool_webhook_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add generated files
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  exp/api/v1alpha3/zz_generated.conversion.go
  exp/api/v1alpha4/zz_generated.conversion.go
  exp/api/v1beta1/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Pin Azure disk CSI driver Helm chart to v1.29.0
  Makefile
  templates/addons/cluster-api-helm/azuredisk-csi-driver.yaml
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-flatcar.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow-workload-identity.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/cloud-provider-azure.go
  test/e2e/common.go
  test/e2e/data/infrastructure-azure/v1beta1/bases/azuredisk-csi-driver.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-scale-in.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add implementation for MachinePool Machines
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/scope/machinepoolmachine.go
  azure/scope/machinepoolmachine_test.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy.go
  azure/scope/strategies/machinepool_deployments/machinepool_deployment_strategy_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/rbac/role.yaml
  exp/api/v1beta1/azuremachinepool_types.go
  exp/api/v1beta1/azuremachinepoolmachine_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepoolmachine_controller.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
  go.mod
  go.sum
  test/e2e/azure_machinepool_drain.go
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Don't use job name as container name for CI binaries
  docs/book/src/developers/development.md
  docs/book/src/developers/kubernetes-developers.md
  scripts/ci-build-azure-ccm.sh
  scripts/ci-build-kubernetes.sh
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/kubeadm-bootstrap-machine-pool-windows-k8s-pr-binaries.yaml
  templates/test/dev/custom-builds/patches/kubeadm-bootstrap-windows-k8s-pr-binaries.yaml
  templates/test/dev/custom-builds/patches/kubeadm-bootstrap.yaml
  templates/test/dev/custom-builds/patches/kubeadm-controlplane-bootstrap.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

workaround cloud provider chart federated token bug
  scripts/ci-entrypoint.sh
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Revert "workaround cloud provider chart federated token bug"
  scripts/ci-entrypoint.sh
  test/e2e/cloud-provider-azure.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

const for AzureCluster
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azuremachine_default_test.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/consts.go
  azure/scope/cluster.go
  controllers/asosecret_controller.go
  controllers/azurecluster_controller.go
  controllers/azureidentity_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machine_controller_test.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinepool_controller_test.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azurejson_machinetemplate_controller_test.go
  controllers/azuremachine_controller_test.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  util/tele/span_logger.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

const for AzureMachinePoolKind
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  controllers/azurejson_machinepool_controller.go
  controllers/helpers.go
  controllers/helpers_test.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
  exp/controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

const for AzureManagedCluster
  api/v1beta1/azuremanagedcluster_webhook.go
  controllers/azuremanagedcluster_controller.go
  controllers/azuremanagedmachinepool_controller_test.go
  controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update comment
  api/v1beta1/consts.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

const for AzureClusterIdentity
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azureclusteridentity_validation.go
  api/v1beta1/azureclusteridentity_webhook.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

const for AzureManagedControlPlane
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  azure/scope/managedcontrolplane.go
  controllers/azuremanagedcontrolplane_controller.go
  controllers/azuremanagedcontrolplane_controller_test.go
  controllers/azuremanagedmachinepool_controller_test.go
  controllers/helpers_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

wait for provisioning state in AKS e2e tests
  test/e2e/aks_autoscaler.go
  test/e2e/aks_azure_cluster_autoscaler.go
  test/e2e/aks_node_labels.go
  test/e2e/aks_node_taints.go
  test/e2e/aks_tags.go
  test/e2e/aks_upgrade.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix AKS to machine pool mapper
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump actions/dependency-review-action from 3.1.2 to 3.1.3
  .github/workflows/dependency-review.yml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

refactor identities, pod identity deprecation
  docs/book/src/SUMMARY.md
  docs/book/src/topics/identities-use-cases.md
  docs/book/src/topics/identities.md
  docs/book/src/topics/multitenancy.md
Due: none

mdbook updates
  .gitignore
  docs/book/Makefile
  docs/book/book.toml
  docs/book/install-and-build.sh
  netlify.toml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

hacks for custom artifacts
  go.mod
  go.sum
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

bump github.com/Azure/azure-service-operator/v2 from v2.3.0 to v2.4.0
  Makefile
  config/aso/crds.yaml
  config/aso/kustomization.yaml
  go.mod
  go.sum
  internal/test/env/env.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Revert "Pin Azure disk CSI driver Helm chart to v1.29.0"
  Makefile
  templates/addons/cluster-api-helm/azuredisk-csi-driver.yaml
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-dual-stack.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-flatcar.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider-machine-pool.yaml
  templates/test/ci/cluster-template-prow-intree-cloud-provider.yaml
  templates/test/ci/cluster-template-prow-ipv6.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-flex.yaml
  templates/test/ci/cluster-template-prow-machine-pool.yaml
  templates/test/ci/cluster-template-prow-nvidia-gpu.yaml
  templates/test/ci/cluster-template-prow-private.yaml
  templates/test/ci/cluster-template-prow-topology.yaml
  templates/test/ci/cluster-template-prow-workload-identity.yaml
  templates/test/ci/cluster-template-prow.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  test/e2e/cloud-provider-azure.go
  test/e2e/common.go
  test/e2e/data/infrastructure-azure/v1beta1/bases/azuredisk-csi-driver.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-kcp-scale-in.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-md-remediation.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template-node-drain.yaml
  test/e2e/data/infrastructure-azure/v1beta1/cluster-template.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

const for kind names
  api/v1beta1/azurecluster_default_test.go
  api/v1beta1/azurecluster_validation.go
  api/v1beta1/azurecluster_validation_test.go
  api/v1beta1/azurecluster_webhook.go
  api/v1beta1/azureclusteridentity_validation.go
  api/v1beta1/azureclusteridentity_webhook.go
  api/v1beta1/azuremachine_default_test.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/consts.go
  azure/scope/cluster.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/scope/managedcontrolplane.go
  controllers/asosecret_controller.go
  controllers/azurecluster_controller.go
  controllers/azureidentity_controller.go
  controllers/azurejson_machine_controller.go
  controllers/azurejson_machine_controller_test.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinepool_controller_test.go
  controllers/azurejson_machinetemplate_controller.go
  controllers/azurejson_machinetemplate_controller_test.go
  controllers/azuremachine_controller_test.go
  controllers/azuremanagedcluster_controller.go
  controllers/azuremanagedcontrolplane_controller.go
  controllers/azuremanagedcontrolplane_controller_test.go
  controllers/azuremanagedmachinepool_controller_test.go
  controllers/helpers.go
  controllers/helpers_test.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  exp/controllers/azuremachinepool_controller.go
  exp/controllers/azuremachinepool_controller_unit_test.go
  exp/controllers/azuremachinepoolmachine_controller_test.go
  exp/controllers/helpers_test.go
  util/tele/span_logger.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

chores: upload credential-provider-config.yaml to artifact store in ci build
  scripts/ci-build-azure-ccm.sh
  templates/test/ci/cluster-template-prow-ci-version-dual-stack.yaml
  templates/test/ci/cluster-template-prow-ci-version-ipv6.yaml
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-kcp.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-win.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-windows-k8s-ci-binaries.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/kubeadm-bootstrap-machine-pool-windows-k8s-pr-binaries.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

test: gather pre-1.12 release test signal
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

chores: upload credential-provider-config.yaml to artifact store in ci build
  scripts/ci-build-azure-ccm.sh
  templates/test/ci/cluster-template-prow-ci-version.yaml
  templates/test/ci/cluster-template-prow-machine-pool-ci-version.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-kcp.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider-win.yaml
  templates/test/ci/prow-ci-version/patches/oot-credential-provider.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-windows-k8s-ci-binaries.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
  templates/test/dev/cluster-template-custom-builds-machine-pool.yaml
  templates/test/dev/cluster-template-custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/custom-builds.yaml
  templates/test/dev/custom-builds-machine-pool/patches/kubeadm-bootstrap-machine-pool-windows-k8s-pr-binaries.yaml
  templates/test/dev/patches/control-plane-custom-builds.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add ctrl.SetLogger to before suite
  main.go
  test/logger.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update metadata.yaml for 1.12 release
  metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add consts for more kinds
  api/v1beta1/azureclustertemplate_webhook.go
  api/v1beta1/azuremachine_webhook.go
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook.go
  api/v1beta1/azuremanagedmachinepooltemplate_webhook.go
  api/v1beta1/consts.go
  azure/scope/managedcontrolplane.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

update test metadata for 1.12 release
  test/e2e/config/azure-dev.yaml
  test/e2e/data/shared/v1beta1_provider/metadata.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Update docs summary
  docs/book/src/SUMMARY.md
Due: none

Export env vars needed for SSH access
  hack/util.sh
  scripts/ci-entrypoint.sh
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

create test to cover path of azureMachinePool.Spec.UserAssignedIdentities
  azure/services/identities/client.go
  controllers/azurejson_machinepool_controller.go
  controllers/azurejson_machinepool_controller_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Revert "workaround ASO swallowing updates into ongoing operations"
  azure/services/aso/aso.go
  azure/services/aso/aso_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
