Repository kubernetes-sigs/cluster-api-provider-azure: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Path conditions:
  pull-cluster-api-provider-azure-e2e: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)
  pull-cluster-api-provider-azure-e2e-exp: any of: ^((exp)\/|main\.go|go\.mod|go\.sum|Dockerfile|Makefile)|managed.*\.go|aks
  pull-cluster-api-provider-azure-ci-entrypoint: any of: (^[^d].*$)|(^d$)|(^.[^o].*$)|(^do$)|(^..[^c].*$)|(^doc$)|(^...[^s].*$)|(^docs$)|(^....[^/].*$)|(^[^d][^o][^c][^s]/.*$)

Remove replicas
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/custom-builds-load/patches/kcp-scheduler.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add the template for Flatcar sysext implementation
  templates/cluster-template-flatcar-sysext.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add kustomize templates
  templates/flavors/flatcar-sysext/kustomization.yaml
  templates/flavors/flatcar-sysext/machine-deployment.yaml
  templates/flavors/flatcar-sysext/patches/kubeadm-controlplane.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

docs: Add the documentation for `flatcar-sysext`
  docs/book/src/self-managed/flatcar.md
Due: none

test/e2e: Add the e2e tests for flatcar-sysext
  templates/addons/cluster-api-helm/cloud-provider-azure-flatcar-sysext.yaml
  templates/test/ci/cluster-template-prow-flatcar-sysext.yaml
  templates/test/ci/patches/cluster-label-cloud-provider-azure-flatcar-sysext.yaml
  templates/test/ci/prow-flatcar-sysext/kustomization.yaml
  test/e2e/azure_test.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add FAQs
  docs/book/src/topics/FAQ.md
Due: none

Add FAQs to Documentation (#5193)
  docs/book/src/SUMMARY.md
  docs/book/src/topics/FAQ.md
  docs/book/src/topics/topics.md
Due: none

Add the ability to auth via certs without storing them in etcd secret
  api/v1beta1/azureclusteridentity_types.go
  azure/scope/identity.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add the ability to auth via certs without storing them in etcd secret
  api/v1beta1/azureclusteridentity_types.go
  azure/scope/identity.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Set default values in API rather than in webhooks
  api/v1beta1/azuremachine_default.go
  api/v1beta1/azuremachine_webhook_test.go
  api/v1beta1/azuremachinetemplate_webhook.go
  api/v1beta1/azuremachinetemplate_webhook_test.go
  api/v1beta1/azuremanagedcontrolplane_default.go
  api/v1beta1/azuremanagedcontrolplane_default_test.go
  api/v1beta1/azuremanagedcontrolplane_types.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_default.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook_test.go
  api/v1beta1/azuremanagedmachinepool_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook_test.go
  api/v1beta1/types.go
  api/v1beta1/types_class.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedcontrolplanetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepools.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremanagedmachinepooltemplates.yaml
  exp/api/v1beta1/azuremachinepool_default.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix(machinepool): clear VirtualMachineProfile if no model/custom data update
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/scalesets/scalesets_test.go
  azure/services/scalesets/spec.go
  azure/services/scalesets/spec_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add doc info on certPath for Service Principal with Certificate
  api/v1beta1/azureclusteridentity_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  controllers/asosecret_controller.go
  docs/book/src/topics/identities.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

cut v1.16.3
  CHANGELOG/v1.16.3.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

cut v1.17.1
  CHANGELOG/v1.17.1.md
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Bump CAPZ versions used in upgrade tests
  test/e2e/config/azure-dev.yaml
  test/e2e/data/infrastructure-azure/v1.16.3/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.16.3/cluster-template-prow.yaml
  test/e2e/data/infrastructure-azure/v1.17.1/cluster-template-prow-machine-and-machine-pool.yaml
  test/e2e/data/infrastructure-azure/v1.17.1/cluster-template-prow.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Move webhook registration behind feature gate flag
  api/v1beta1/azuremanagedcluster_webhook.go
  api/v1beta1/azuremanagedcluster_webhook_test.go
  api/v1beta1/azuremanagedclustertemplate_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook.go
  api/v1beta1/azuremanagedcontrolplane_webhook_test.go
  api/v1beta1/azuremanagedcontrolplanetemplate_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook.go
  api/v1beta1/azuremanagedmachinepool_webhook_test.go
  api/v1beta1/azuremanagedmachinepooltemplate_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook.go
  exp/api/v1beta1/azuremachinepool_webhook_test.go
  exp/api/v1beta1/azuremachinepoolmachine_webhook.go
  main.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Add ephemeral os disk config
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/custom-builds-load/kustomization.yaml
  templates/test/dev/custom-builds-load/patches/ephemeral.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Attempt to remove windows from template
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/custom-builds-load/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Remove more windows stuff
  templates/test/dev/cluster-template-custom-builds-load.yaml
  templates/test/dev/custom-builds-load/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add pre-kubeadm join commands to worker nodes
  templates/cluster-template-azure-bastion.yaml
  templates/cluster-template-azure-cni-v1.yaml
  templates/cluster-template-edgezone.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/default/kustomization.yaml
  templates/flavors/default/patches/control-plane.yaml
  templates/flavors/default/patches/kubeadm-config-template.yaml
  templates/flavors/windows/kustomization.yaml
  templates/flavors/windows/patches/kubeadm-config-template.yaml
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-spot.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Use community gallery for default VM images
  Dockerfile
  Makefile
  Tiltfile
  azure/converters/vmss.go
  azure/defaults.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/virtualmachineimages/cache.go
  azure/services/virtualmachineimages/cache_test.go
  azure/services/virtualmachineimages/client.go
  azure/services/virtualmachineimages/images.go
  azure/services/virtualmachineimages/images_test.go
  azure/services/virtualmachineimages/mock_virtualmachineimages/client_mock.go
  azure/services/virtualmachineimages/mock_virtualmachineimages/doc.go
  docs/book/src/self-managed/custom-images.md
  hack/create-dev-cluster.sh
  test/e2e/common.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Revert "Skip AKS BYO nodepool test"
  test/e2e/azure_test.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

include ILB in non-private cluster scenarios
  api/v1beta1/tags.go
  azure/scope/cluster.go
  azure/services/loadbalancers/loadbalancers.go
  azure/services/loadbalancers/spec.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

update .pre-commit config
  .pre-commit-config.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Fix dev templates
  templates/flavors/azure-bastion/kustomization.yaml
  templates/flavors/azure-bastion/machine-deployment.yaml
  templates/flavors/azure-cni-v1/kustomization.yaml
  templates/flavors/azure-cni-v1/machine-deployment.yaml
  templates/flavors/edgezone/kustomization.yaml
  templates/flavors/edgezone/machine-deployment.yaml
  templates/flavors/ephemeral/kustomization.yaml
  templates/flavors/ephemeral/machine-deployment.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Use community gallery for default VM images
  Dockerfile
  Makefile
  Tiltfile
  api/v1beta1/azuremachine_types.go
  azure/converters/vmss.go
  azure/defaults.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/scope/machinepool.go
  azure/scope/machinepool_test.go
  azure/services/virtualmachineimages/cache.go
  azure/services/virtualmachineimages/cache_test.go
  azure/services/virtualmachineimages/client.go
  azure/services/virtualmachineimages/images.go
  azure/services/virtualmachineimages/images_test.go
  azure/services/virtualmachineimages/mock_virtualmachineimages/client_mock.go
  azure/services/virtualmachineimages/mock_virtualmachineimages/doc.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_azuremachinetemplates.yaml
  docs/book/src/self-managed/custom-images.md
  hack/create-dev-cluster.sh
  test/e2e/common.go
  test/e2e/helpers.go
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Fix bug where REGISTRY is not set when gcloud isn't present
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

Remove unused SECURITY_SCAN vars
  test/e2e/common.go
  test/e2e/config/azure-dev.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

rebase DRA templates onto machinepool templates
  templates/test/ci/cluster-template-prow-ci-version-dra.yaml
  templates/test/ci/prow-ci-version-dra/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-dra.yaml
  templates/test/dev/custom-builds-dra/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add pre-kubeadm join commands to worker nodes
  Makefile
  api/v1beta1/tags.go
  azure/scope/cluster.go
  azure/scope/cluster_test.go
  azure/scope/machine.go
  azure/scope/machine_test.go
  azure/services/loadbalancers/spec.go
  scripts/aks-as-mgmt.sh
  templates/cluster-template-azure-bastion.yaml
  templates/cluster-template-azure-cni-v1.yaml
  templates/cluster-template-edgezone.yaml
  templates/cluster-template-ephemeral.yaml
  templates/cluster-template-windows.yaml
  templates/cluster-template.yaml
  templates/flavors/default/kustomization.yaml
  templates/flavors/default/patches/control-plane.yaml
  templates/flavors/default/patches/kubeadm-config-template.yaml
  templates/flavors/windows/kustomization.yaml
  templates/flavors/windows/patches/kubeadm-config-template.yaml
  templates/test/ci/cluster-template-prow-azure-cni-v1.yaml
  templates/test/ci/cluster-template-prow-custom-vnet.yaml
  templates/test/ci/cluster-template-prow-edgezone.yaml
  templates/test/ci/cluster-template-prow-spot.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

check for google project silently
  Makefile
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-e2e-exp, pull-cluster-api-provider-azure-ci-entrypoint

fix KubeadmConfig patches for DRA templates
  templates/test/ci/cluster-template-prow-ci-version-dra.yaml
  templates/test/ci/patches/dra-kubeadmconfig.yaml
  templates/test/ci/prow-ci-version-dra/kustomization.yaml
  templates/test/dev/cluster-template-custom-builds-dra.yaml
  templates/test/dev/custom-builds-dra/kustomization.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

Add the ability to auth via certs without storing them in etcd secret
  api/v1beta1/azureclusteridentity_types.go
  azure/scope/identity.go
  azure/scope/identity_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_azureclusteridentities.yaml
  controllers/asosecret_controller_test.go
  test/setup/certificate
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

add nawazkh to maintainers
  OWNERS_ALIASES
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

translate machine-pool-ci-version KubeadmConfig merge patch to JSON patch
  templates/test/ci/prow-machine-pool-ci-version/kustomization.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/kubeadm-bootstrap-k8s-ci-binaries.yaml
  templates/test/ci/prow-machine-pool-ci-version/patches/machine-pool-ci-version.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint

simplify DRA config for containerd
  templates/test/ci/cluster-template-prow-ci-version-dra.yaml
  templates/test/ci/patches/dra-kubeadmconfig.yaml
  templates/test/ci/patches/dra-kubeadmcontrolplane.yaml
  templates/test/dev/cluster-template-custom-builds-dra.yaml
Due: pull-cluster-api-provider-azure-e2e, pull-cluster-api-provider-azure-ci-entrypoint
